.u-center-text {
  text-align: center !important; }

.u-margin-top-small {
  margin-top: 1.2rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-large {
  margin-top: 10rem !important; }

.u-margin-top-xlarge {
  margin-top: 12rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-large {
  margin-bottom: 10rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-large {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-xlarge {
  margin-bottom: 12rem !important; }

.u-margin-bottom-xxlarge {
  margin-bottom: 15rem !important; }

.u-margin-bottom-xxxlarge {
  margin-bottom: 20rem !important; }

.mobile-only {
  display: none; }
  @media (max-width: 56.25em) {
    .mobile-only {
      display: block; } }

*,
*::after,
*::before {
  /** Changes all in document (resets the defualts) **/
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /** Inherits border box from body **/
  text-decoration: none; }

html {
  font-size: 62.5%;
  /** changes rem to 10px   (defualt is 16px)**/ }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  /** Change Box model so padding and width dont effect box size **/
  padding: 0rem;
  background-color: #343a40; }
  @media (max-width: 37.5em) {
    body {
      padding: 0; } }

body {
  font-family: "lato", sans-serif;
  /** Used google fonts to import this font **/
  font-weight: 400;
  line-height: 1.7; }

hr {
  width: 5vw;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1rem dotted #22262b;
  margin: 1rem auto; }
  @media (max-width: 75em) {
    hr {
      width: 10vw; } }

h2 {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
  font-size: 5rem; }

h3 {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
  font-size: 6rem;
  position: relative;
  width: fit-content;
  color: white; }
  h3::after {
    content: "";
    background: white;
    position: absolute;
    bottom: -0.8rem;
    left: 0;
    height: 8px;
    width: 70%;
    border-radius: 0 4px 4px 0; }

h4 {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  position: relative;
  width: fit-content; }
  h4::after {
    content: "";
    background: #7048E8;
    position: absolute;
    bottom: -0.8rem;
    left: 0;
    height: 8px;
    width: 60%;
    border-radius: 0 4px 4px 0; }
  @media (max-width: 37.5em) {
    h4 {
      font-size: 2.2rem; }
      h4::after {
        content: "";
        background: #7048E8;
        position: absolute;
        bottom: -2rem;
        left: 0;
        height: 8px;
        width: 60%;
        border-radius: 0 4px 4px 0; } }

h5 {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
  font-size: 5rem;
  position: relative;
  color: white;
  width: max-content; }
  h5::after {
    content: "";
    background: white;
    position: absolute;
    bottom: -0.6rem;
    left: 0;
    height: 6px;
    width: 70%;
    border-radius: 0 4px 4px 0; }

::-webkit-scrollbar {
  width: 18px;
  margin: 1px; }

::-webkit-scrollbar-track {
  background: rgba(52, 58, 64, 0.9); }

::-webkit-scrollbar-thumb {
  background: #7048E8;
  border-radius: 100vw;
  border: 3px solid #343a40; }
  ::-webkit-scrollbar-thumb:hover {
    background: #7c50ff; }

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: #7048E8 #343a40; } }

.btn, .btn:link, .btn:visited {
  /** Pseudoelement for links **/
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  display: inline-block;
  border-radius: 5rem;
  transition: all .2s;
  /** Edits transition speed **/
  position: relative;
  border: none;
  cursor: pointer; }

.btn:hover {
  /** hover pseudoclass **/
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  /** box shadow property  (x y blur color) **/ }
  .btn:hover::after {
    transform: scale(1.4, 1.6);
    /** Changes the size of the element **/
    opacity: 0; }

.btn:active {
  /** clicked pseudoclass **/
  transform: translateY(-2px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--card {
  background-color: #7048E8;
  color: white;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  width: 75%;
  position: absolute !important;
  bottom: 0;
  left: 0; }
  .btn--card-icon {
    position: absolute;
    right: 2rem;
    top: 0.25rem;
    font-size: 2rem; }
  .btn--card::after {
    background-color: #29175e; }

.btn--git {
  background-color: #33373a;
  position: absolute !important;
  bottom: 0;
  right: 0;
  width: 4.2rem;
  height: 4.2rem; }
  .btn--git img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.5rem;
    transform: translate(-50%, -50%); }
  .btn--git::after {
    background-color: #33373a; }

.btn--github {
  font-size: 2rem;
  background-color: #33373a;
  color: white;
  padding: 1rem 6rem;
  margin-right: 2rem; }
  @media (max-width: 75em) {
    .btn--github {
      margin-bottom: 2rem; } }
  .btn--github::after {
    background-color: #33373a; }
  .btn--github img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.5rem;
    transform: translate(-50%, -50%); }
  .btn--github::after {
    background-color: #33373a; }

.btn-purple-landing {
  background-color: #7048E8;
  color: white;
  font-size: 3rem;
  padding: 1rem 6rem;
  margin: 10rem 0 10rem 0; }
  @media (max-width: 75em) {
    .btn-purple-landing {
      top: 55vh; } }
  @media (max-width: 56.25em) {
    .btn-purple-landing {
      top: 55vh; } }
  @media (max-width: 37.5em) {
    .btn-purple-landing {
      top: 25vh; } }

.btn-purple::after {
  background-color: #29175e; }

.btn-purple-small {
  font-size: 2rem;
  background-color: #7048E8;
  color: white;
  padding: 1rem 5rem;
  margin-right: 2rem; }
  @media (max-width: 75em) {
    .btn-purple-small {
      margin-bottom: 2rem;
      padding: 0.7rem 4rem; } }
  .btn-purple-small::after {
    background-color: #29175e; }

.btn-purple-cv {
  font-size: 2rem;
  background-color: #7048E8;
  color: white;
  padding: 1rem 6rem;
  margin-left: 2rem; }
  .btn-purple-cv::after {
    background-color: #29175e; }
  @media (max-width: 37.5em) {
    .btn-purple-cv {
      text-align: center;
      width: 100%;
      margin-left: 0;
      margin-top: 3rem;
      display: block;
      margin-bottom: 1.5rem; } }

.btn-purple-post {
  font-size: 2.2rem;
  background-color: #7048E8;
  color: white;
  padding: 1.5rem 4rem; }
  .btn-purple-post::after {
    background-color: #29175e; }

.btn::after {
  /** add element behind button **/
  content: "";
  /** must specify content for it to appear, can be empty **/
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /** Makes element behind previous element **/
  transition: all 0.4s; }

.btn-animated {
  animation: moveInBtn 1.2s ease-in-out .75s;
  animation-fill-mode: backwards;
  /** automatically hides btn **/ }

.wave-top {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 10rem;
  transform: translate(0, 1rem); }
  .wave-top__img {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 10rem; }

.wave-bottom {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 10rem; }
  .wave-bottom__img {
    width: 100%;
    position: absolute;
    top: 0;
    height: 10rem; }

.skill-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.2em;
  grid-auto-rows: minmax(100px, auto);
  justify-items: stretch;
  align-items: stretch;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 3.5rem; }
  @media (max-width: 37.5em) {
    .skill-grid {
      grid-template-columns: 1fr; } }
  .skill-grid__item--0 {
    grid-column: 1/2;
    grid-row: 1; }
  .skill-grid__item--1 {
    grid-column: 1/2;
    grid-row: 2; }
  .skill-grid__item--2 {
    grid-column: 2/3;
    grid-row: 2; }
  .skill-grid__item--3 {
    grid-column: 1/2;
    grid-row: 3; }
  .skill-grid__item--4 {
    grid-column: 2/3;
    grid-row: 3; }
  .skill-grid__item--5 {
    grid-column: 1/2;
    grid-row: 4; }
  .skill-grid__item--6 {
    grid-column: 2/3;
    grid-row: 4; }
  @media (max-width: 37.5em) {
    .skill-grid__item--0 {
      grid-column: 1/2;
      grid-row: 1; }
    .skill-grid__item--1 {
      grid-column: 1/2;
      grid-row: 2; }
    .skill-grid__item--2 {
      grid-column: 1/2;
      grid-row: 3; }
    .skill-grid__item--3 {
      grid-column: 1/2;
      grid-row: 4; }
    .skill-grid__item--4 {
      grid-column: 1/2;
      grid-row: 5; }
    .skill-grid__item--5 {
      grid-column: 1/2;
      grid-row: 6; }
    .skill-grid__item--6 {
      grid-column: 1/2;
      grid-row: 7; } }

.skill__bar {
  position: relative;
  background-color: #dee2e6;
  width: 100%;
  height: 1.5rem;
  border-radius: .75rem;
  z-index: 1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; }
  .skill__bar--progress {
    position: absolute;
    background-color: #7048E8;
    height: 1.5rem;
    border-radius: .75rem;
    left: 0;
    top: 0;
    z-index: 5; }
    .skill__bar--progress--1 {
      width: 96%; }
    .skill__bar--progress--2 {
      width: 87%; }
    .skill__bar--progress--3 {
      width: 96%; }
    .skill__bar--progress--4 {
      width: 57%; }
    .skill__bar--progress--5 {
      width: 89%; }
    .skill__bar--progress--6 {
      width: 96%; }
    .skill__bar--progress--7 {
      width: 98%; }

.card {
  position: relative;
  max-width: 40rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: rgba(67, 72, 78, 0.93);
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  transition: all 0.2s; }
  .card--2 {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px 0px; }
  @media (max-width: 56.25em) {
    .card {
      max-width: 100%; } }
  .card__text {
    font-family: "lato", sans-serif;
    font-weight: 500;
    letter-spacing: 1.5%;
    font-size: 1.3rem;
    margin-bottom: 1.6rem; }
    @media (max-width: 37.5em) {
      .card__text {
        font-size: 1.9rem; } }
  .card__img {
    width: 100%;
    height: 18rem; }
  .card__content {
    padding: 2rem; }
    @media (max-width: 37.5em) {
      .card__content {
        padding: 3rem; } }
  .card__buttons {
    width: 100%;
    position: relative;
    height: 5rem; }
  .card:hover {
    transform: scale(1.02);
    box-shadow: rgba(100, 100, 111, 0.3) 0px 6px 20px 0px; }
  .card--2:hover {
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 20px 0px; }

.tags {
  width: 80%;
  margin-bottom: 1rem; }
  @media (max-width: 37.5em) {
    .tags {
      margin-bottom: 2rem;
      margin-top: 0.5rem; } }
  .tags__tag {
    background-color: #3F4348;
    width: 20%;
    height: 2rem;
    padding: 0.2rem 1.2rem;
    margin-right: 1rem;
    border-radius: 2px; }
    .tags__tag--html {
      color: #F0582F; }
    .tags__tag--css {
      color: #007CC4; }
    .tags__tag--js {
      color: #F48031; }
    .tags__tag--scss {
      color: #cc6699; }
  @media (max-width: 37.5em) {
    .tags__tag {
      background-color: #3F4348;
      width: 20%;
      height: 2rem;
      padding: 0.2rem 1.7rem;
      margin-right: 1rem;
      border-radius: 2px; }
      .tags__tag--html {
        color: #F0582F;
        font-size: 1.6rem; }
      .tags__tag--css {
        color: #007CC4;
        font-size: 1.6rem; }
      .tags__tag--js {
        color: #F48031;
        font-size: 1.6rem; } }

.card__grid {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 4rem;
  margin: 0 auto 0 auto; }
  @media (max-width: 75em) {
    .card__grid {
      grid-template-columns: auto auto;
      grid-row-gap: 4rem;
      width: 80%; } }
  @media (max-width: 56.25em) {
    .card__grid {
      grid-template-columns: auto;
      grid-row-gap: 4rem;
      width: 70%; } }
  @media (max-width: 37.5em) {
    .card__grid {
      grid-template-columns: auto;
      grid-row-gap: 4rem;
      width: 90%; } }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: white;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: #495057;
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
  transition: all .3s; }
  @media (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input-small {
    width: 50%; }
    @media (max-width: 37.5em) {
      .form__input-small {
        width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #dee2e6; }

.form__label {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 1rem;
  margin-top: 0.7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }
  @media (max-width: 56.25em) {
    .form__radio-group {
      width: 100%;
      margin-bottom: 2rem; } }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #7048E8;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #7048E8;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.liquid {
  position: relative; }
  @media (max-width: 37.5em) {
    .liquid {
      height: 25vh;
      width: 100%; } }
  .liquid h1 {
    position: absolute;
    font-size: 8rem;
    font-weight: 400;
    letter-spacing: 6px; }
    @media (max-width: 37.5em) {
      .liquid h1 {
        font-size: 6.5rem; } }
    .liquid h1:nth-child(1) {
      z-index: -1;
      color: #dee2e6;
      text-shadow: -2px 2px 0px #29175e, -4px 4px 0px #29175e, -6px 6px 0px #29175e, -8px 8px 0px #29175e; }
    .liquid h1:nth-child(2) {
      color: #7048E8;
      opacity: 0.3;
      animation: animate 9s ease-out infinite; }
    .liquid h1:nth-child(3) {
      color: #7048E8;
      opacity: 0.5;
      animation: animate 4s ease-in infinite; }
    .liquid h1:nth-child(4) {
      color: #7048E8;
      animation: animate 6s ease-in-out infinite; }

@keyframes animate {
  0% {
    clip-path: polygon(0% 100%, 0% 55%, 4% 54%, 8% 62%, 12% 69%, 16% 75%, 21% 73%, 24% 65%, 28% 55%, 31% 47%, 35% 41%, 39% 37%, 43% 31%, 47% 33%, 51% 45%, 54% 54%, 60% 66%, 63% 72%, 67% 74%, 70% 65%, 74% 56%, 78% 50%, 82% 54%, 87% 54%, 91% 46%, 94% 44%, 97% 41%, 100% 42%, 100% 100%); }
  50% {
    clip-path: polygon(0% 100%, 0 19%, 4% 20%, 8% 22%, 12% 34%, 16% 39%, 19% 45%, 23% 45%, 27% 32%, 31% 30%, 35% 54%, 38% 58%, 44% 66%, 48% 68%, 51% 67%, 56% 65%, 59% 49%, 63% 38%, 67% 37%, 70% 40%, 74% 41%, 79% 48%, 82% 58%, 86% 65%, 90% 65%, 93% 61%, 97% 65%, 100% 67%, 100% 100%); }
  100% {
    clip-path: polygon(0% 100%, 0% 55%, 4% 54%, 8% 62%, 12% 69%, 16% 75%, 21% 73%, 24% 65%, 28% 55%, 31% 47%, 35% 41%, 39% 37%, 43% 31%, 47% 33%, 51% 45%, 54% 54%, 60% 66%, 63% 72%, 67% 74%, 70% 65%, 74% 56%, 78% 50%, 82% 54%, 87% 54%, 91% 46%, 94% 44%, 97% 41%, 100% 42%, 100% 100%); } }

.logo {
  display: block; }
  .logo-img {
    margin-left: 13rem;
    margin-top: 5rem;
    height: 10rem; }
    @media (max-width: 75em) {
      .logo-img {
        margin-left: 12rem;
        height: 10rem; } }
    @media (max-width: 56.25em) {
      .logo-img {
        margin-left: 2rem;
        height: 8rem; } }
    @media (max-width: 37.5em) {
      .logo-img {
        margin-left: 2.5rem;
        font-size: 2.2rem; } }

.portfolio-page {
  box-sizing: border-box;
  padding: 0vh 10vw 0rem 10vw;
  color: white;
  position: relative; }
  @media (max-width: 37.5em) {
    .portfolio-page {
      padding: 0vh 5rem 0rem 5rem; } }
  @media (max-width: 75em) {
    .portfolio-page {
      padding: 0vh 5rem 0rem 5rem; } }
  .portfolio-page__buttons {
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-wrap: wrap; }
  .portfolio-page__project {
    width: 100%;
    padding: 3rem 4rem;
    border: 5px solid #3F454B;
    border-radius: 1rem;
    margin-bottom: 5rem; }
    .portfolio-page__project--grid {
      display: grid;
      grid-template-columns: 1fr 1fr; }
      @media (max-width: 56.25em) {
        .portfolio-page__project--grid {
          grid-template-columns: 1fr; } }
    @media (max-width: 56.25em) {
      .portfolio-page__project--heading {
        font-size: 3rem; } }
    .portfolio-page__project--paragraph {
      font-size: 2rem; }
    .portfolio-page__project--img-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem; }
    .portfolio-page__project--img {
      width: 75%;
      position: relative;
      transition: all 0.3s; }
      .portfolio-page__project--img:hover {
        transform: scale(1.1); }
    .portfolio-page__project--buttons {
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
      .portfolio-page__project--buttons--text {
        font-size: 1.6rem;
        color: lime; }
        @media (max-width: 75em) {
          .portfolio-page__project--buttons--text {
            display: none; } }
  .portfolio-page__typography--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem; }
    @media (max-width: 56.25em) {
      .portfolio-page__typography--grid {
        grid-template-columns: 1fr; } }
  .portfolio-page__typography--fonts {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .portfolio-page__typography--font {
    display: flex;
    justify-content: flex-start;
    font-size: 4rem;
    margin-right: 2.5rem; }
    @media (max-width: 56.25em) {
      .portfolio-page__typography--font {
        font-size: 7rem; } }
    @media (max-width: 37.5em) {
      .portfolio-page__typography--font {
        font-size: 4rem; } }
    .portfolio-page__typography--font--100 {
      font-weight: 100; }
    .portfolio-page__typography--font--200 {
      font-weight: 200; }
    .portfolio-page__typography--font--300 {
      font-weight: 300; }
    .portfolio-page__typography--font--400 {
      font-weight: 400; }
    .portfolio-page__typography--font--500 {
      font-weight: 500; }
    .portfolio-page__typography--font--600 {
      font-weight: 600; }
    .portfolio-page__typography--font--700 {
      font-weight: 700; }
    .portfolio-page__typography--font--800 {
      font-weight: 800; }
    .portfolio-page__typography--font--900 {
      font-weight: 900; }
    .portfolio-page__typography--font--open-sans {
      font-family: 'Open Sans', sans-serif;
      font-size: 2.4rem; }
  .portfolio-page__typography--side {
    font-size: 1.5rem;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 100;
    margin-top: 1rem; }
  .portfolio-page__colors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    width: 50%; }
    .portfolio-page__colors--container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
    .portfolio-page__colors--circle {
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      box-shadow: 1px 1px 5px -7px #000000;
      content: ''; }
      .portfolio-page__colors--circle--natours1 {
        background-color: #7ED56F; }
      .portfolio-page__colors--circle--natours2 {
        background-color: #55C57A; }
      .portfolio-page__colors--circle--natours3 {
        background-color: #28B485; }
      .portfolio-page__colors--circle--natours4 {
        background-color: #FFFFFF; }
      .portfolio-page__colors--circle--trillo1 {
        background-color: #eb2f64; }
      .portfolio-page__colors--circle--trillo2 {
        background-color: #c3285e; }
      .portfolio-page__colors--circle--trillo3 {
        background-color: #333333; }
      .portfolio-page__colors--circle--trillo4 {
        background-color: #f4f2f2; }
    .portfolio-page__colors--hex {
      font-family: "Zen Kaku Gothic New", sans-serif;
      font-weight: 400;
      font-size: 1.3rem;
      margin-top: .5rem; }
    .portfolio-page__colors--title {
      font-family: "Zen Kaku Gothic New", sans-serif;
      font-weight: 500;
      font-size: 1.5rem; }

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 80vh; }
  @media (max-width: 56.25em) {
    .slider-container {
      display: none; } }

.left-slide {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform .5s ease-in-out; }

.left-slide > div {
  height: 100%;
  width: 100%;
  padding: 3rem;
  color: #fff; }

.left-slide h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px; }

.right-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform .5s ease-in-out; }

.right-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%; }

button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 20px;
  padding: 15px 18px; }

button:hover {
  color: #222; }

button:focus {
  outline: none; }

.slider-container .action-buttons button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 10; }

.slider-container .action-buttons .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.slider-container .action-buttons .up-button {
  transform: translatey(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.right-slide__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%; }

.slide__img {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .slide__img img {
    height: 90%;
    width: auto; }

.slide__fonts {
  display: flex;
  justify-content: space-around;
  height: 40%;
  background-color: #4FB671;
  display: flex;
  padding: 2rem; }
  .slide__fonts-trillo {
    background-color: #B92657; }

.desktop__nav {
  display: flex;
  justify-content: right;
  width: 60%;
  float: right;
  margin: 6rem 5rem 0rem 0; }
  @media (max-width: 56.25em) {
    .desktop__nav {
      display: none;
      width: 0px; } }
  @media (max-width: 37.5em) {
    .desktop__nav {
      display: none;
      width: 0px; } }
  .desktop__nav-item {
    font-size: 2.5rem;
    font-family: "lato", sans-serif;
    font-weight: 400;
    display: inline-block; }
    .desktop__nav-item a {
      color: #dee2e6; }
      .desktop__nav-item a:hover {
        color: #9c82e7; }
    @media (max-width: 37.5em) {
      .desktop__nav-item {
        font-size: 3.5rem; } }
    .desktop__nav-item:hover {
      transform: rotate(3deg) scale(1.1); }
    .desktop__nav-item:not(:last-child) {
      margin-right: 8rem; }
      @media (max-width: 37.5em) {
        .desktop__nav-item:not(:last-child) {
          margin-right: 0;
          margin-bottom: 3rem; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #7048E8;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 5rem;
  right: 6rem;
  z-index: 10;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
  visibility: hidden; }
  @media (max-width: 75em) {
    .navigation__button {
      right: 12rem; } }
  @media (max-width: 56.25em) {
    .navigation__button {
      visibility: visible;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 5rem;
      right: 5rem;
      display: initial; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 5rem;
  right: 6.5rem;
  background-image: radial-gradient(#6e4cd4, #29175e);
  z-index: 5;
  transition: transform 0.8s cubic-bezier(0.65, 0, 0.35, 1);
  visibility: hidden; }
  @media (max-width: 75em) {
    .navigation__background {
      right: 12rem; } }
  @media (max-width: 56.25em) {
    .navigation__background {
      right: 5rem;
      visibility: visible; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 5.4rem;
      right: 5.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  opacity: 0;
  width: 0;
  transform: translateX(-100rem);
  transition: all .8s; }

.navigation__list {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: 1.5rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3.5rem;
  font-family: "lato", sans-serif;
  font-weight: 400;
  padding: 0.8rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 240%;
  transition: all 0.4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.4rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #29175e;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(60); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 100;
  width: 100%;
  transform: translateX(0); }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
  margin-left: 50%;
  transform: translateX(-50%); }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333333;
    display: inline-block; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s cubic-bezier(1, -0.01, 0.92, 0.51); }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.header {
  position: relative; }
  .header__background-img {
    position: absolute;
    width: initial;
    height: 80vh;
    right: 0;
    top: 0;
    z-index: -1; }
    @media (max-width: 75em) {
      .header__background-img {
        height: 65vh; } }
    @media (max-width: 56.25em) {
      .header__background-img {
        height: 50vh; } }
    @media (max-width: 37.5em) {
      .header__background-img {
        height: 0;
        display: none; } }
  .header__content {
    padding: 15vh 0 20rem 15rem;
    font-weight: 400;
    display: block;
    /**  &--title {
            color:$color-white;
            display: block;
            position: absolute;
            top:0rem;

            @include respond(tab-land) {
                width: 50rem;
            }

            @include respond(tab-port) {
                width: 60rem;
                
            }

            @include respond(phone) {
                width: 85%;
                
            }
        }  **/ }
    @media (max-width: 75em) {
      .header__content {
        padding: 15vh 0 20rem 15rem;
        width: 70%; } }
    @media (max-width: 56.25em) {
      .header__content {
        padding: 15vh 0 20rem 5rem;
        width: 60%; } }
    @media (max-width: 37.5em) {
      .header__content {
        padding: 15vh 0 20rem 5rem;
        width: 100%; } }
    .header__content--subtitle {
      color: #dee2e6;
      font-size: 3rem;
      letter-spacing: 1px;
      margin-top: 20vh; }
      @media (max-width: 75em) {
        .header__content--subtitle {
          margin-top: 40vh; } }
      @media (max-width: 56.25em) {
        .header__content--subtitle {
          margin-top: 40vh; } }
      @media (max-width: 37.5em) {
        .header__content--subtitle {
          margin-top: 10vh; } }

.section-header {
  margin-bottom: 15rem; }

.section-about {
  position: relative;
  background-color: #495057;
  text-align: center;
  color: white;
  display: block; }
  .section-about__heading {
    margin-top: 4rem;
    margin-bottom: 6rem; }
  .section-about__paragraph {
    margin: 0 auto 5rem auto;
    width: 90vw;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 3rem;
    font-weight: 900; }
    @media (max-width: 37.5em) {
      .section-about__paragraph {
        font-size: 2.8rem; } }

.skills {
  box-sizing: border-box;
  padding: 15rem 20vw 5rem 20vw;
  color: white;
  margin-bottom: 5rem;
  position: relative; }
  @media (max-width: 56.25em) {
    .skills {
      padding: 15rem 5rem 5rem 5rem; } }
  .skills__img {
    position: absolute;
    right: 18vw;
    top: 15rem; }
    @media (max-width: 75em) {
      .skills__img {
        right: 5vw;
        top: 15rem; } }
    @media (max-width: 56.25em) {
      .skills__img {
        height: 30rem;
        right: 0vw;
        top: 10rem; } }
    @media (max-width: 37.5em) {
      .skills__img {
        display: none; } }

.portfolio {
  background-color: #495057;
  box-sizing: border-box;
  padding: 0vh 10vw 0rem 10vw;
  color: white;
  position: relative; }
  @media (max-width: 37.5em) {
    .portfolio {
      padding: 0vh 5rem 0rem 5rem; } }
  .portfolio--2 {
    background-color: transparent; }

.contact {
  position: relative;
  background-color: transparent;
  text-align: center;
  color: white;
  margin: 0 20vw 20rem 20vw;
  text-align: left; }
  @media (max-width: 56.25em) {
    .contact {
      margin: 0 5rem 20rem 5rem; } }
  .contact__img {
    position: absolute;
    right: -5vw;
    top: 8rem;
    z-index: -1; }
    @media (max-width: 56.25em) {
      .contact__img {
        right: -5rem;
        top: 0rem;
        height: 30rem; } }
    @media (max-width: 37.5em) {
      .contact__img {
        display: none; } }

.footer {
  position: relative;
  background-color: #22262b;
  text-align: center;
  color: white;
  text-align: left;
  padding: 10rem 20vw; }
  @media (max-width: 37.5em) {
    .footer {
      padding: 8rem 5rem; } }
  .footer__logo {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 4.5rem;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 500; }
  .footer__nav {
    display: flex;
    justify-content: center;
    margin: 5rem 0 8rem 0; }
    @media (max-width: 37.5em) {
      .footer__nav {
        flex-direction: column;
        margin: 5rem 0 8rem 0;
        align-items: center; } }
    .footer__nav-item {
      font-size: 2.5rem;
      font-family: "lato", sans-serif;
      font-weight: 400;
      display: inline-block; }
      .footer__nav-item a {
        color: #dee2e6; }
        .footer__nav-item a:hover {
          color: #9c82e7; }
      @media (max-width: 37.5em) {
        .footer__nav-item {
          font-size: 3.5rem; } }
      .footer__nav-item:hover {
        transform: rotate(3deg) scale(1.1); }
      .footer__nav-item:not(:last-child) {
        margin-right: 8rem; }
        @media (max-width: 37.5em) {
          .footer__nav-item:not(:last-child) {
            margin-right: 0;
            margin-bottom: 3rem; } }
  .footer__paragraph {
    font-size: 2rem;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    color: #dee2e6;
    margin-bottom: 3rem; }

.work {
  padding: 10rem 10vw 0 10vw; }
  .work__title {
    width: 100%;
    height: auto;
    position: relative;
    display: block; }
    .work__title--buttons {
      float: right;
      margin-top: 3rem;
      height: max-content; }
      @media (max-width: 56.25em) {
        .work__title--buttons {
          float: left;
          display: block; } }
    .work__title--title {
      display: inline-block; }
      @media (max-width: 56.25em) {
        .work__title--title {
          display: block; } }
    @media (max-width: 37.5em) {
      .work__title {
        height: 35rem; } }

.experience {
  padding: 10rem 10vw 0 10vw; }
  .experience__main--title {
    margin-bottom: 10rem;
    height: max-content; }
  .experience--1 {
    grid-template-columns: 1fr 7fr 3fr;
    grid-auto-rows: max-content;
    width: 100%;
    padding: 3rem 4rem;
    border: 5px solid #3F454B;
    border-radius: 1rem;
    display: grid;
    gap: 4rem 1rem;
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .experience--1 {
        grid-template-columns: 1fr;
        grid-auto-rows: auto auto auto auto; } }
    .experience--1 img {
      grid-column: 1/2;
      grid-row: 2/3;
      margin-left: 50%;
      margin-top: 50%;
      transform: translate(-50%, -50%); }
      @media (max-width: 56.25em) {
        .experience--1 img {
          display: none; } }
  .experience--2 {
    grid-template-columns: 1fr 7fr 3fr;
    grid-template-rows: 1fr 2fr;
    width: 100%;
    padding: 3rem 4rem;
    border: 5px solid #3F454B;
    border-radius: 1rem;
    display: grid;
    gap: 4rem 0; }
    @media (max-width: 75em) {
      .experience--2 {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto; } }
    .experience--2 img {
      grid-column: 1/2;
      grid-row: 2/3;
      margin-left: 50%;
      margin-top: 30%;
      transform: translate(-50%, -50%); }
      @media (max-width: 56.25em) {
        .experience--2 img {
          display: none; } }
  .experience__title {
    grid-column: 1/3;
    grid-row: 1/3;
    font-family: "lato", sans-serif;
    font-size: 3.7rem;
    color: white;
    padding-bottom: 4rem; }
    @media (max-width: 56.25em) {
      .experience__title {
        font-size: 3.2rem; } }
  .experience__paragraph {
    grid-column: 2/3;
    grid-row: 2/3;
    font-family: "lato", sans-serif;
    font-size: 3rem;
    color: #dee2e6; }
  .experience__won {
    padding-left: 4rem;
    grid-column: 1/3;
    grid-row: 3/4;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 2.5rem;
    color: white; }
  .experience__date {
    text-align: right;
    grid-column: 3/4;
    grid-row: 1/2;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 2.5rem;
    color: #dee2e6; }
  @media (max-width: 56.25em) {
    .experience__title {
      grid-column: 1/2;
      grid-row: 1/2;
      font-family: "lato", sans-serif;
      font-size: 4rem;
      color: white;
      padding-bottom: 4rem; }
    .experience__paragraph {
      grid-column: 1/2;
      grid-row: 2/3;
      font-family: "lato", sans-serif;
      font-size: 3rem;
      color: #dee2e6;
      height: fit-content; }
    .experience__won {
      padding-left: 4rem;
      grid-column: 1/2;
      grid-row: 3/4;
      font-family: "Zen Kaku Gothic New", sans-serif;
      font-size: 2.5rem;
      color: white; }
    .experience__date {
      text-align: left;
      grid-column: 1/2;
      grid-row: 4/5;
      font-family: "Zen Kaku Gothic New", sans-serif;
      font-size: 2.5rem;
      color: #dee2e6; } }

.section-education {
  width: 100%;
  padding: 10rem 10vw 0 10vw; }

.education {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  @media (max-width: 56.25em) {
    .education {
      grid-template-columns: 1fr; } }
  .education__schools {
    width: 100%;
    display: inline-block; }
    .education__schools--school {
      font-size: 3rem;
      color: #dee2e6;
      font-family: "Zen Kaku Gothic New", sans-serif; }
    .education__schools--date {
      font-size: 2.5rem;
      color: #dee2e6;
      font-family: "lato", sans-serif;
      font-weight: 300;
      margin-bottom: 4rem; }
    @media (max-width: 56.25em) {
      .education__schools {
        margin-bottom: 5rem; } }
  .education__title {
    display: block; }
  .education__grades {
    width: 100%;
    display: grid;
    grid-template-columns: 7fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 3rem 4rem;
    border: 5px solid #3F454B;
    border-radius: 1rem; }
    .education__grades--title {
      font-family: "Zen Kaku Gothic New", sans-serif;
      font-weight: 500;
      font-size: 3rem;
      position: relative;
      width: fit-content;
      color: white; }
      .education__grades--title::after {
        content: "";
        background: white;
        position: absolute;
        top: 5rem;
        left: 0;
        height: 4px;
        width: 70%;
        border-radius: 0 4px 4px 0; }
    .education__grades--subject {
      font-family: "lato", sans-serif;
      font-size: 2.5rem;
      color: #dee2e6;
      font-weight: 400; }
    .education__grades--grade {
      font-family: "lato", sans-serif;
      font-size: 2.5rem;
      color: #dee2e6;
      font-weight: 400; }

.section-achievements {
  width: 100%;
  padding: 10rem 10vw 0 10vw; }

.achievements__paragraph {
  width: 60%;
  font-family: "lato", sans-serif;
  color: #dee2e6;
  font-size: 3rem;
  font-weight: 300; }
  @media (max-width: 37.5em) {
    .achievements__paragraph {
      width: 100%; } }

.section-header {
  height: 70vh; }
