---
import ArticleInteractions from "../../../../components/ArticleInteractions.astro";
import DefaultLayout from "../../../../layouts/DefaultLayout.astro";
---

<DefaultLayout title="QA">
	<!-- Main Content -->
	<ArticleInteractions />

	<div class="o-row-4-col">
		<a href="./Understanding-Object-Oriented-Programming/Understanding-Object-Oriented-Programming.html">
			<div class="link-card">
				<p>Understanding Object Oriented Programming</p>
				<i class="fa-solid fa-chevron-right"></i>
			</div>
		</a>

		<a href="./Python-Programming-and-SQL-Basics-1.3/Python-Programming-and-SQL-Basics.html">
			<div class="link-card">
				<p>Python Programming and SQL Basics 1.3</p>
				<i class="fa-solid fa-chevron-right"></i>
			</div>
		</a>

		<a href="./Python-Programming-and-SQL-Basics-1.2/Python-Programming-and-SQL-Basics.html">
			<div class="link-card">
				<p>Python Programming and SQL Basics 1.2</p>
				<i class="fa-solid fa-chevron-right"></i>
			</div>
		</a>

		<a href="./Prioritisation/Prioritisation.html">
			<div class="link-card">
				<p>Soft Skills: Prioritisation</p>
				<i class="fa-solid fa-chevron-right"></i>
			</div>
		</a>
	</div>
</DefaultLayout>
