.section-about {
	position: relative;
	background-color: $color-grey-dark-2;
	text-align: center;
	color: $text-light;
	display: block;

	&__heading {
		margin-top: 4rem;
		margin-bottom: 4rem;
	}

	&__paragraph {
		margin: 0 auto 6rem auto;
		width: 50vw;
		font-family: $font-zen;
		font-size: 3rem;
		font-weight: 900;

		@include respond(laptop) {
			font-size: 2.5rem;
			width: 50vw;
		}

		@include respond(phone) {
			font-size: 2.4rem;
			width: 80%;
		}
	}
}
