.section-achievements {
	width: 100%;
	padding: 10rem $section-padding-x 0 $section-padding-x;

	@include respond(phone) {
		padding: 10rem 3rem 0 3rem;
	}
}

.achievements {
	&__paragraph {
		width: 60%;
		font-family: $font-lato;
		color: $text-light;
		font-size: 3rem;
		font-weight: 300;

		@include respond(phone) {
			width: 100%;
		}
	}
}
