.section-certifications {
	width: 100%;
	padding: 10rem $section-padding-x 0 $section-padding-x;

	@include respond(phone) {
		padding: 10rem 3rem 0 3rem;
	}
}

.certificates {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
	padding: 5rem 0 0 0;

	@include respond(tab-port) {
		grid-template-columns: repeat(2, 1fr);
	}

	@include respond(phone) {
		grid-template-columns: 1fr;
	}
}

.certificate {
	width: 100%;
	height: 100%;
	padding: 2rem 0rem;
	text-align: center;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;

	&:hover {
		background-color: $color-grey-dark-2;
		cursor: pointer;
	}

	&--title {
		font-family: $font-lato;
		font-weight: 600;
		font-size: 2.8rem;
		line-height: 3.4rem;
		position: relative;
		width: fit-content;
		color: $text-light;
		margin-bottom: 4rem;
		width: 100%;

		@include respond(tab-land) {
			font-size: 2.3rem;
		}

		@include respond(tab-port) {
			font-size: 3rem;
		}
	}

	img {
		width: 80%;
	}
}
