.portfolio {
    background-color: $color-grey-dark-2;
    box-sizing: border-box;
    padding: 0vh 10vw 0rem 10vw;
    color: $color-white;
    position: relative;

    @include respond(phone) {
        padding: 0vh 5rem 0rem 5rem;
    }

    &--2 {
        background-color: transparent;
    }
}
