::-webkit-scrollbar {
	width: 18px;
	margin: 1px;
}

::-webkit-scrollbar-track {
	background: rgba($color-grey-dark, 0.9);
}

::-webkit-scrollbar-thumb {
	background: $color-primary;
	border-radius: 100vw;
	border: 3px solid $color-grey-dark;

	&:hover {
		background: $color-primary-light;
	}
}

@supports (scrollbar-color: red blue) {
	* {
		scrollbar-color: $color-primary $color-grey-dark;
	}
}
