.comments-container {
  margin: 0 auto;
  background-color: $color-grey-dark;
  z-index: 101001;

  @include centered-container;

  h2 {
    color: $text-light;
    margin-bottom: 2rem;
  }
}

.noCommentsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  img {
    width: 60%;
  }
}

.comment {
  position: relative;
  font-family: inherit;
  padding: 2.2rem 2.5rem;
  color: var(--text-light);
  background-color: var(--color-card);
  border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

  &:hover .editLinkButton,
  &:focus-within .editLinkButton {
    display: block;
  }

  p {
    font-size: 1rem;
    margin-top: 1rem;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &-main {
    width: 100%;
  }

  &-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 2rem;
    height: min-content;

    p {
      font-size: 1rem;
      line-height: 1;
      font-weight: 600;
      margin: 0;
    }
    i {
      font-size: 1rem;

      &.red {
        color: var(--color-form-false);
      }

      &.green {
        color: var(--color-form-true);
      }
    }
    button {
      padding: 0;
    }
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond(tab-port) {
      div.CommentHeaderDot {
        display: none !important;
      }
    }

    div {
      display: flex;
      align-items: center !important;

      @include respond(tab-port) {
        display: grid;
        grid-template-columns: 1fr 4fr 3fr;

        img {
          margin-right: 1rem;
        }

        span {
          grid-column: 1 / 3;
          margin-top: 0.7rem;
        }

        h3 {
          grid-row: 2/3;
          grid-column: 3/4;
        }
        h2 {
          grid-column: 2/4;
        }
      }
    }

    img {
      border-radius: 50%;
      width: 3.5rem;
      height: 3.5rem;
    }

    h2 {
      font-size: 1.2rem;
      line-height: 0.9 !important;
      font-weight: 600;
      letter-spacing: 1.4px;
      margin: 0;
    }

    h3 {
      font-size: 1rem;
      font-weight: 400;
      margin: 0;
      margin-left: 1rem;

      &:after,
      &:before {
        display: none;
      }
    }

    span {
      font-size: 0.9rem;
    }
  }

  textarea {
    background-color: $color-grey-dark;
    border: none;
    border-radius: 0.5rem;
    width: 100%;
    resize: none;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    color: $color-white;
    margin-top: 1rem;
  }

  button.publish {
    border: none;
    border-radius: 0.5rem;
    background-color: $color-primary;
    color: $text-light;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.8rem 1rem;

    &:hover {
      color: $color-white;
      background-color: $color-primary-dark;
      cursor: pointer;
    }
  }
}

.CommentHeaderDot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  margin: 1rem;
}

.editLinkButton {
  display: none;
  font-size: 1rem;
  color: var(--text-light);
  text-decoration: underline;
  padding: 0;

  &:hover {
    color: $color-white;
  }

  @include respond(tab-port) {
    position: absolute;
    top: 2rem;
    right: 8rem;
    display: block !important;
  }
}
.deleteLinkButton {
  font-size: 1rem;
  color: var(--text-light);
  text-decoration: underline;
  padding: 0;
  margin-right: 1.5rem;

  &:hover {
    color: $color-white;
  }
}

// profile image
.comment .profileImage {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;

  p {
    font-size: 1.6rem;
    font-weight: 600;
    color: #ffffff !important;
    margin: 0 !important;
  }

  &-blue {
    background-color: #0052cc;
  }
  &-teal {
    background-color: #00a3bf;
  }
  &-green {
    background-color: #00875a;
  }
  &-yellow {
    background-color: #ff991f;
  }
  &-red {
    background-color: #de350c;
  }
  &-purple {
    background-color: #7149e9;
  }
  &-darkBlue {
    background-color: #172b4e;
  }
}
