::-webkit-scrollbar {
	width: 18px;
	margin: 1px;
}

::-webkit-scrollbar-track {
	background: #3ebfff;
}

::-webkit-scrollbar-thumb {
	background: #fff;
	border-radius: 100vw;
	border: none;

	&:hover {
		background: $color-primary-light;
	}
}

@supports (scrollbar-color: red blue) {
	* {
		scrollbar-color: #fff #3ebfff;
	}
}
