.card {
	background-color: $white;
	position: relative;

	padding: 5rem 4rem 3.5rem 4rem;
	margin-bottom: 2rem;
	border-radius: 0.6rem;

	display: flex;
	flex-direction: column;

	&-logo {
		height: 5rem;
		width: 5rem;
		border-radius: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: center;

		position: absolute;
		top: -2.5rem;
		left: 3.5rem;
	}

	&-top {
		display: inline-flex;
	}

	&-dot {
		background-color: $grey-dark;
		border-radius: 50%;
		width: 0.4rem;
		height: 0.4rem;
		margin-right: 1rem;
		margin-top: 1.3rem;
	}

	&-location {
		margin: 3rem 0 0 0;
		font-size: 1.4rem;
		font-weight: 700;
		color: $violet;
	}

	p {
		color: $grey-dark;
		margin-right: 1rem;
	}

	a {
		margin: 1rem 0;
	}
}
