<div class="article__section">
  <a href="https://manchesterwebcrafters.com" target="_blank">
    <picture style="max-width: 90%;">
      <source media="(max-width: 480px)" srcset="/img/ads/WebCrafters/half-strip.png" />
      <source media="(min-width: 481px) and (max-width: 1024px)" srcset="/img/ads/WebCrafters/rectangle.png" />
      <img src="/img/ads/WebCrafters/strip.png" alt="Manchester Web Crafters" style="max-width: 100%;" />
    </picture>
  </a>
</div>
