.tooltip {
	background-color: $color-card;
	padding: 0rem 1.2rem 1rem 1.2rem;
	width: 20ch;
	border-radius: 0.7rem;
	color: $text-light;

	display: flex;
	align-items: flex-start !important;
	flex-direction: column;

	position: absolute;
	top: 6.5rem;
	right: 50rem;

	@include respond(tab-land) {
		top: 7.8rem;
		right: 50.4rem;
	}

	@include respond(tab-port) {
		display: none;
	}

	h3 {
		font-size: 1.95rem;
		font-weight: 900;
		letter-spacing: 0.8px;

		&::after {
			display: none;
		}
	}

	p {
		font-size: 1.4rem;
	}

	i {
		font-size: 1.7rem;
		top: 0.5rem;
		right: 0.8rem;
		position: absolute;
	}

	&::before {
		content: "";
		display: block;
		width: 0;
		height: 0;
		position: absolute;

		transform: rotate(90deg);

		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
		border-right: 8px solid $color-card;

		top: -1rem;
		left: 24.4rem;
	}
}
