body {
  margin:0;
  height:100vh;
  background: url(images/pattern-background-desktop.svg) no-repeat;
  background-color: hsl(225, 100%, 94%);
  background-size: contain;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  overflow: hidden;
}

h1 {
  color: #1f2f56;
  font-size: 1em;
  font-weight: bolder;
  margin-top: 1.1rem;
}

.info {
  width:80%;
  margin:0 auto 0 auto;
}

.card{
  padding: 0;
  background-color: #FFFFFF;
  width:304px;
  height:455px;
  margin:25vh auto 25vh auto;
  overflow: hidden;
  border-radius: 14px;
}

.card img {
  width:100%;
}

#info {
  width:200px;
  color: #89b2e0;
  font-size: 0.7rem;
  font-weight: bold;
  margin:0 auto 25px auto;
}

.plan {
  background-color: #f5f7ff;
  height:75px;
  width:88%;
  border-radius: 3px;
  margin:0 auto 0 auto;
  display: flex;
  text-align: left;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.plan img {
  width:30px;
  height:30px;
  display: flex;

}

.plan h2 {
  font-size: 0.7rem;
  line-height: 0.2;
}

.plan a {
  font-size: 0.7rem;
}

.cost {
  display: flex;
  align-items: center;
}

#plan-type {
  margin-top:22px;
}

.plan p {
  color: #adaab5;
  font-size: 0.7rem;
  font-weight: bold;
}

.proceed-btn {
    width:82%;
    margin:22px 0 18px 0;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 5px;
   color: #FFFFFF;
   font-family: Open Sans;
   font-size: 14px;
   font-weight: 100;
   padding: 9px;
   background-color: #3829E0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.proceed-btn:hover {
   background: #D6E1FF;
   border: solid #D6E1FF 0;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}

.cancel-btn {
    text-decoration: none;
    color:#7280a7;
    font-size: 0.75em;
}
