@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --violet: #5964e0;
  --violet-light: #939bf4;
  --dark-blue: #19202d;
  --midnight: #121721;
  --white: #ffffff;
  --grey-light: #f4f6f8;
  --gray: #9daec2;
  --grey-dark: rgb(110, 128, 152);
  --color-background: #f4f6f8;
  --text-light: #f1f3f5;
  --text-dark: #212529;
  --btn-text: #5964e0;
  --btn-bg: #rgba(89, 100, 224, 1); }

.u-center-text {
  text-align: center !important; }

.u-margin-top-small {
  margin-top: 1.2rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-large {
  margin-top: 10rem !important; }

.u-margin-top-xlarge {
  margin-top: 12rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-large {
  margin-bottom: 10rem !important; }

.u-margin-bottom-xlarge {
  margin-bottom: 12rem !important; }

.u-margin-bottom-xxlarge {
  margin-bottom: 15rem !important; }

.u-margin-bottom-xxxlarge {
  margin-bottom: 20rem !important; }

.mobile-only {
  display: none; }

.hide-mobile {
  display: block; }
  @media (max-width: 38.125em) {
    .hide-mobile {
      display: none; } }

.u-align-self {
  align-self: center;
  justify-self: center; }

.hidden {
  display: none; }

.invisible {
  visibility: hidden; }

*,
*::after,
*::before {
  /** Changes all in document (resets the defualts) **/
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /** Inherits border box from body **/
  text-decoration: none; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  /** changes rem to 10px   (defualt is 16px)**/ }
  @media (max-width: 38.125em) {
    html {
      font-size: 45%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 150em) {
    html {
      font-size: 85%; } }

body {
  box-sizing: border-box;
  /** Change Box model so padding and width dont effect box size **/
  padding: 0rem;
  background-color: var(--color-background);
  font-family: "kumbh sans", sans-serif;
  overflow-x: hidden;
  width: 100%;
  transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
  @media (max-width: 38.125em) {
    body {
      padding: 0; } }

body {
  font-family: "kumbh sans", sans-serif;
  font-weight: 400; }

a {
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--dark-blue);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1); }
  a:hover, a:active {
    color: var(--grey-dark); }

p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400; }

li {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400; }

h1 {
  font-size: 2.8rem;
  line-height: 3.4rem;
  font-weight: 700;
  color: var(--dark-blue); }

h2 {
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-weight: 700;
  color: var(--dark-blue); }

h3 {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: var(--dark-blue); }

h4 {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 700;
  color: var(--dark-blue); }

.header {
  z-index: 5;
  width: 100vw;
  padding: 5rem 10vw 3rem 10vw; }
  @media (max-width: 75em) {
    .header {
      padding: 5rem 4vw 3rem 4vw; } }
  @media (max-width: 38.125em) {
    .header {
      left: 5rem 6vw 3rem 6vw;
      width: 100%; } }
  .header-top {
    display: flex;
    justify-content: space-between; }

.search {
  height: 8rem;
  padding: 0rem 3rem;
  border-radius: 0.6rem;
  background-color: var(--white);
  margin-top: 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 3fr 4fr; }
  @media (max-width: 75em) {
    .search {
      grid-template-columns: 1fr 1fr 1.2fr;
      padding: 0rem 2rem; } }
  @media (max-width: 38.125em) {
    .search {
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 2rem 2.2rem; } }
  .search input {
    height: 100%;
    width: 90%;
    border: none;
    margin: 0 5%;
    background-color: var(--white);
    color: var(--dark-blue); }
    @media (max-width: 38.125em) {
      .search input {
        width: 100%;
        margin-left: 2rem; } }
    .search input:focus {
      outline: none; }
  .search__phrase {
    position: relative;
    display: flex;
    align-items: center; }
    @media (max-width: 38.125em) {
      .search__phrase {
        width: 100%;
        margin-bottom: 2rem; } }
    .search__phrase-icon {
      width: 2.4rem;
      height: 2.4rem;
      flex-shrink: 0; }
  .search__location {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    border-left: 1px solid rgba(110, 128, 152, 0.2);
    border-right: 1px solid rgba(110, 128, 152, 0.2); }
    @media (max-width: 38.125em) {
      .search__location {
        border: none;
        padding: 0;
        width: 100%;
        margin-bottom: 1.4rem; } }
    .search__location-icon {
      width: 1.7rem;
      height: 2.4rem; }
      @media (max-width: 38.125em) {
        .search__location-icon {
          width: 1.7rem;
          height: 2.4rem;
          margin-left: 0.5rem;
          margin-right: 0.2rem;
          flex-shrink: 0; } }
  .search__interactions {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    @media (max-width: 38.125em) {
      .search__interactions {
        width: 100%; } }
    .search__interactions-checkbox {
      display: flex;
      align-items: center; }
    .search__interactions h4 {
      margin-left: 3.4rem; }
      @media (max-width: 75em) {
        .search__interactions h4 {
          margin-left: 4rem; } }

.logo {
  fill: var(--white);
  z-index: 100; }

::-webkit-scrollbar {
  width: 18px;
  margin: 1px; }

::-webkit-scrollbar-track {
  background: rgba(var(--dark-blue), 0.9); }

::-webkit-scrollbar-thumb {
  background: var(--violet);
  border-radius: 100vw;
  border: 3px solid var(--dark-blue); }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--violet-light); }

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: var(--violet) var(--dark-blue); } }

.btn {
  display: block;
  font-family: "kumbh sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
  color: #ffffff;
  border: none;
  background-color: var(--violet);
  padding: 1.4rem 4rem;
  border-radius: 5px;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1); }
  @media (max-width: 75em) {
    .btn {
      padding: 1.2rem 2rem; } }
  .btn:hover {
    background-color: var(--violet-light); }
  .btn-2 {
    background: rgba(89, 100, 224, 0.1);
    mix-blend-mode: normal;
    border-radius: 5px;
    color: var(--btn-text);
    text-align: center; }
    .btn-2:hover {
      background-color: var(--violet-light);
      background: rgba(89, 100, 224, 0.35); }

.footer {
  width: 100%;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white); }
  @media (max-width: 38.125em) {
    .footer {
      padding: 2rem; }
      .footer button {
        width: 88vw;
        align-self: flex-end; } }
  .footer-content {
    padding: 3rem;
    width: 35%; }
    @media (max-width: 75em) {
      .footer-content {
        width: 60%; } }
    .footer-content p {
      color: var(--grey-dark); }

/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -1.3rem;
  left: 0;
  height: 25px;
  width: 25px;
  background: rgba(151, 151, 151, 0.2);
  mix-blend-mode: normal;
  border-radius: 3px; }

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: var(--gray); }

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: var(--violet); }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.card {
  background-color: var(--white);
  position: relative;
  padding: 5rem 4rem 3.5rem 4rem;
  margin-bottom: 2rem;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column; }
  .card-logo {
    height: 5rem;
    width: 5rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -2.5rem;
    left: 3.5rem; }
  .card-top {
    display: inline-flex; }
  .card-dot {
    background-color: var(--grey-dark);
    border-radius: 50%;
    width: 0.4rem;
    height: 0.4rem;
    margin-right: 1rem;
    margin-top: 1.3rem; }
  .card-location {
    margin: 3rem 0 0 0;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--violet); }
  .card p {
    color: var(--grey-dark);
    margin-right: 1rem; }
  .card a {
    margin: 1rem 0; }

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center; }
  .toggle-container-sun {
    width: 2rem;
    height: 1.86rem; }
  .toggle-container-moon {
    width: 1.2rem;
    height: 1.2rem; }

.toggle {
  display: none; }

.label {
  position: relative;
  background-color: #ffffff;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  margin: 0 1.2rem 0;
  width: 48px;
  height: 24px; }

.toggle:checked + .label {
  background-color: #ffffff; }

.ball {
  background: var(--violet);
  height: 14px;
  width: 14px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 16px;
  animation: slideOff 0.3s linear forwards; }

.toggle:checked + .label .ball {
  animation: slideOn 0.3s linear forwards; }

@keyframes slideOn {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(12px); }
  100% {
    transform: translateX(24px); } }

@keyframes slideOff {
  0% {
    transform: translateX(24px); }
  50% {
    transform: translateX(12px); }
  100% {
    transform: translateX(0px); } }

.challenge-overlay {
  text-decoration: none;
  color: #ffffff;
  background-color: #212529;
  display: flex;
  align-items: center;
  width: max-content;
  padding: 0 0.6rem 0 0;
  border-radius: 0 2rem 0 0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10000; }
  .challenge-overlay img {
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
    border-radius: 50%; }
  .challenge-overlay p {
    font-size: 1.5rem; }

.headerImg {
  width: 100vw;
  height: 16.2rem;
  position: absolute;
  top: 0;
  z-index: -1; }

.app {
  padding: 5rem 10vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem; }
  @media (max-width: 75em) {
    .app {
      padding: 4rem 4vw;
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem; } }
  @media (max-width: 38.125em) {
    .app {
      padding: 4rem 6vw;
      grid-template-columns: 1fr; } }

.info {
  position: absolute;
  top: 10rem;
  left: 30vw;
  width: 40vw;
  border-radius: 0.6rem; }
  @media (max-width: 75em) {
    .info {
      top: 14rem;
      left: 4vw;
      width: 92vw; } }
  @media (max-width: 38.125em) {
    .info {
      left: 6vw;
      width: 88vw;
      border-radius: 0.6rem; } }
  .info-header {
    display: flex;
    background-color: var(--white); }
    @media (max-width: 38.125em) {
      .info-header {
        flex-direction: column;
        border-radius: 0.6rem;
        text-align: center; } }
    .info-header-logo {
      flex: 0 0 14rem;
      height: 14rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0px 0px 0px 6px; }
      @media (max-width: 38.125em) {
        .info-header-logo {
          height: 5rem;
          width: 5rem;
          border-radius: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: -2.6rem;
          left: calc(50% - 2.5rem); } }
      .info-header-logo img {
        width: 8rem; }
        @media (max-width: 38.125em) {
          .info-header-logo img {
            width: 80%; } }
    .info-header-content {
      padding: 3rem 3.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      @media (max-width: 38.125em) {
        .info-header-content h2 {
          margin: 2rem 0 1rem 0; } }
      .info-header-content p {
        color: var(--grey-dark); }
  .info-right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3.5rem; }
    @media (max-width: 38.125em) {
      .info-right {
        flex-direction: column;
        padding-bottom: 3rem;
        padding-right: 0;
        border-radius: 0.6rem; } }
  .info-body {
    margin-top: 3rem;
    background-color: var(--white);
    border-radius: 0.6rem 0.6rem 0 0;
    padding: 4rem;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 38.125em) {
      .info-body {
        flex-direction: column;
        padding: 4rem 4rem 0 4rem; } }
    .info-body button {
      align-self: flex-end; }
      @media (max-width: 38.125em) {
        .info-body button {
          align-self: auto;
          margin-top: 5rem; } }
    .info-body-top {
      display: flex;
      flex-direction: column; }
      .info-body-top__content {
        display: inline-flex; }
      .info-body-top-dot {
        background-color: var(--grey-dark);
        border-radius: 50%;
        width: 0.4rem;
        height: 0.4rem;
        margin-right: 1rem;
        margin-top: 1.3rem; }
      .info-body-top-location {
        margin: 0.5rem 0 0 0;
        font-size: 1.4rem;
        font-weight: 700;
        color: var(--violet); }
      .info-body-top p {
        color: var(--grey-dark);
        margin-right: 1rem; }
      .info-body-top a {
        font-size: 2.8rem; }
  .info-content {
    background-color: var(--white);
    border-radius: 0 0 0.6rem 0.6rem;
    padding: 4rem;
    margin-bottom: 15rem; }
    .info-content p {
      color: var(--grey-dark); }
    .info-content ul,
    .info-content ol {
      margin-top: 2rem;
      margin-left: 2.2rem; }
    .info-content li {
      color: var(--grey-dark);
      padding-left: 1.6rem; }
    .info-content h3 {
      margin-top: 3.8rem;
      margin-bottom: 2.5rem; }
