.account-layout {
  @include centered-container;
  display: flex;
  gap: 120px;
  justify-content: center;

  @include respond(tab-port) {
    .c-account-menu {
      display: none;
    }
  }

  &--anchor {
    position: relative;

    .editButton {
      position: absolute;
      top: -15px;
      right: 0;
    }
  }

  &__content {
    min-width: 500px;

    @include respond(tab-port) {
      min-width: 100%;
    }

    h1 {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 24px;
      margin: 0;
      margin-bottom: 34px;
    }

    h2 {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 18px;
      margin: 0;
      margin-bottom: 34px;
    }
  }
}
