.section-achievements {
  width: 100%;
  @include centered-container;
}

.achievements {
  &__paragraph {
    width: 60%;
    font-family: $font-lato;
    color: $text-light;
    font-size: 3rem;
    font-weight: 400;

    @include respond(phone) {
      width: 100%;
    }
  }
}
