.contact {
  position: relative;
  background-color: transparent;
  text-align: center;
  margin: 0 20vw 20rem 20vw;
  text-align: left;

  label {
    color: $text-light;
    font-family: inherit;
    font-weight: 700;
    font-size: 1.8rem;
  }

  form:invalid input[type="submit"] {
    background-color: $color-card;
    cursor: not-allowed;
  }
  input[type="submit"]:disabled {
    background-color: $color-card !important;
    cursor: not-allowed !important;
  }

  @include respond(tab-port) {
    margin: 0 5rem 20rem 5rem;
  }

  &__img {
    position: absolute;
    right: -5vw;
    top: 8rem;
    z-index: -1;

    @include respond(tab-port) {
      right: -5rem;
      top: 0rem;
      height: 30rem;
    }

    @include respond(phone) {
      display: none;
    }
  }
}

.message-sent {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: $text-light;
  }

  a {
    color: $text-light;
    font-size: 1.6rem;
    text-decoration: underline;
    margin-top: 4rem;

    &:hover {
      color: rgba($text-light, 0.9);
    }
  }
}
