.section-education {
  width: 100%;
  @include centered-container;
}

.education {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include respond(tab-port) {
    grid-template-columns: 1fr;
  }

  &__schools {
    width: 100%;
    display: inline-block;

    &--school {
      font-size: 3rem;
      color: $text-light;
      font-family: $font-zen;

      display: flex;
      align-items: center;

      img {
        width: 4.5rem;
        height: 4.5rem;
        margin-right: 1.3rem;
      }
    }
    &--date {
      font-size: 2.5rem;
      color: $text-light;
      font-family: $font-lato;
      font-weight: 300;
      margin-bottom: 4rem;
    }

    @include respond(tab-port) {
      margin-bottom: 5rem;
    }
  }

  &__title {
    display: block;
  }

  &__grades {
    width: 100%;

    display: grid;
    grid-template-columns: 7fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;

    padding: 3rem 4rem;
    border: 5px solid #3f454b;
    border-radius: 1rem;

    &--title {
      font-family: $font-zen;
      font-weight: 500;
      font-size: 3rem;
      position: relative;
      width: fit-content;
      color: $text-light;

      &::after {
        content: "";
        background: $color-primary;
        position: absolute;
        top: 5rem;
        left: 0;
        height: 4px;
        width: 70%;
        border-radius: 0 4px 4px 0;
      }
    }

    &--subject {
      font-family: $font-lato;
      font-size: 2.5rem;
      color: $text-light;
      font-weight: 400;
    }

    &--grade {
      font-family: $font-lato;
      font-size: 2.5rem;
      color: $text-light;
      font-weight: 400;
    }
  }
}
