.header {
  position: relative;

  &__background-img {
    position: absolute;
    width: initial;
    height: 60rem;
    right: -8rem;
    top: 0;
    z-index: -1;

    @include respond(laptop) {
      width: auto;
      height: 55rem;
    }

    @include respond(tab-land) {
      width: auto;
      height: 50rem;
      right: -12rem;
    }

    @include respond(tab-port) {
      height: 40vh;
      width: auto;
    }

    @include respond(phone) {
      height: 0;
      width: auto;
      display: none;
    }
  }

  &__content {
    padding: 15vh 0 0rem 15rem;
    font-weight: 400;
    display: block;
    position: relative;
    height: 83vh;
    z-index: 2;

    h1 {
      font-size: 7rem;
      width: 22ch;
      line-height: 1.25;
      color: $text-white;
    }

    @include respond(big-desktop) {
      padding: 15vh 0 20vh 15rem;
    }

    @include respond(laptop) {
      padding: 5rem 0 15rem 15rem;
      width: 80%;
      height: 80vh;

      h1 {
        margin-top: 5rem;
      }
    }
    @include respond(tab-land) {
      padding: 5rem 0 20rem 15rem;
      width: 70%;
      height: 80vh;

      h1 {
        margin-top: 10rem;
        font-size: 6rem;
      }
    }

    @include respond(tab-port) {
      padding: 10vh 0 0 5rem;
      height: 80vh;
      width: 100%;

      h1 {
        width: auto;
        margin-top: 10rem;
        font-size: 6rem;
        line-height: 1.4;
      }
    }

    @include respond(phone) {
      padding: 10vh 0 0 5rem;
      height: 74vh;
      width: 100%;

      h1 {
        width: auto;
        margin-top: 8rem;
        font-size: 4rem;
        line-height: 1.4;
      }
    }

    &--title {
      // @include respond(laptop) {
      // 	width: 50rem;
      // }

      @include respond(tab-land) {
        height: fit-content;
      }

      @include respond(tab-port) {
        width: 60rem;
      }

      @include respond(phone) {
        width: 85%;
      }
    }

    &--subtitle {
      color: $text-light;
      font-size: 3rem;
      letter-spacing: 1px;
      margin-top: 20vh;

      @include respond(tab-land) {
        margin-top: 5rem;
      }

      @include respond(tab-port) {
        margin-top: 8rem;
      }

      @include respond(phone) {
        margin-top: 10vh;
      }
    }
  }
}

.section-header {
  margin-bottom: 15rem;
}
