.portfolio {
  @include centered-container;
  background-color: $color-grey-dark-2;
  box-sizing: border-box;
  color: $color-white;
  position: relative;

  &--2 {
    background-color: transparent;
  }
}
