*,
*::after,
*::before {
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  padding: 0rem;
  background-color: $color-grey-dark;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  margin: 0;

  @include respond(phone) {
    padding: 0;
  }

  transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

  &::-webkit-scrollbar {
    @include respond(tab-port) {
      display: none;
    }
  }
}

*:focus {
  outline: 3px solid $text-light !important;

  @include respond(phone) {
    outline: none !important;
  }
}

img:not([src]) {
  font-size: 0;
  position: relative;
}
