body {
  font-family: $font-lato; /** Used google fonts to import this font **/
  font-weight: 500;
  line-height: 1.7;
}

hr {
  width: 5vw;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1rem dotted $color-footer;
  margin: 1rem auto;

  @include respond(tab-land) {
    width: 10vw;
  }
}

p {
  color: text-light;
  font-size: 1.5rem;
}

h1.none {
  text-align: center;
  width: 100% !important;
  &::after,
  &::before {
    display: none;
  }
}

h2 {
  font-family: $font-zen;
  font-weight: 500;
  font-size: 5rem;
  letter-spacing: 3px;

  @include respond(phone) {
    font-size: 4rem;
  }
}

h3 {
  font-family: $font-zen;
  font-weight: 500;
  font-size: 6rem;
  letter-spacing: 2px;

  position: relative;
  width: fit-content;
  color: $text-light;

  @include respond(phone) {
    font-size: 4rem;
  }
}

h4 {
  font-family: $font-zen;
  font-weight: 500;
  font-size: 1.8rem;
  position: relative;
  width: fit-content;
  color: $text-light;

  @include respond(phone) {
    font-size: 2.2rem;
  }
}

h5 {
  font-family: $font-zen;
  font-weight: 500;
  font-size: 5rem;
  position: relative;
  color: $text-light;
  width: max-content;
  letter-spacing: 2px;

  @include respond(phone) {
    font-size: 4rem;
  }
}

a {
  color: $color-primary-light;

  &:before,
  &:after {
    content: "";
    position: absolute;
    transition: transform 0.5s ease;
  }

  &:hover,
  &:focus-within {
    color: $color-primary;
  }
}

.title-container-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
