.o-row-4-col {
  width: 100%;
  @include centered-container;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem 2rem;

  @include respond(laptop) {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem 2rem;
  }

  @include respond(tab-land) {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem 2rem;
  }

  @include respond(tab-port) {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem 2rem;
  }

  @include respond(phone) {
    grid-template-columns: 1fr;
  }
}

// 3 col
.o-row-3-col {
  width: 100%;
  @include centered-container;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem 2rem;

  @include respond(laptop) {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem 2rem;
  }

  @include respond(tab-land) {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem 2rem;
  }

  @include respond(tab-port) {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem 2rem;
  }

  @include respond(phone) {
    grid-template-columns: 1fr;
  }
}

.o-row-2-col {
  width: 100%;
  @include container-x;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem 2rem;

  @include respond(tab-land) {
    grid-template-columns: repeat(1, 1fr);
    gap: 5rem 2rem;
  }
}
