.loader {
  border: 0.8rem solid $color-card; /* Light grey */
  border-top: 0.8rem solid $color-primary; /* Blue */
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 1.4s linear infinite;

  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
