@import url("https://fonts.googleapis.com/css2?family=Ubuntu");

.bg {
	background-color: rgb(0, 0, 0);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1000;

	display: flex;
	align-items: center;
	justify-content: center;
}

.loading-text {
	font-family: "Ubuntu", sans-serif;

	z-index: 1500;
	font-size: 50px;
	color: #fff;
}
