@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

* {
	margin: 0;
	padding: 0;
	border: none;
}

html {
	font-size: 62.5%;
}

body {
	background-color: hsl(218, 23%, 16%);
	font-family: "Manrope";
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	width: 50vmin;
	background-color: hsl(217, 19%, 24%);

	padding: 5rem;
	border-radius: 2rem;
	text-align: center;

	position: relative;
}

.number {
	color: hsl(150, 100%, 66%);
	font-size: 1.4rem;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.advice {
	color: hsl(193, 38%, 86%);
	font-size: 3rem;

	margin: 2rem 0 3rem 0;
}

.devider {
	width: 100%;
}

.btn {
	background-color: hsl(150, 100%, 66%);
	border-radius: 3rem;

	display: flex;
	justify-content: center;
	align-items: center;

	height: 6rem;
	width: 6rem;

	transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn:hover {
	background-color: hsl(150, 62%, 54%);
}

.btn:active {
	background-color: hsl(150, 53%, 44%);
	transform: scale(0.95);
}

button {
	position: absolute;
	bottom: -3rem;
	left: calc(50% - 3rem);
}

@media only screen and (max-width: 600px) {
	.container {
		width: 70vmin;
	}

	html {
		font-size: 50%;
	}
}

@media only screen and (max-width: 400px) {
	html {
		font-size: 40%;
	}

	button img {
		transform: scale(0.7);
	}
}

.challenge-overlay {
	text-decoration: none;
	color: #212529;
	background-color: #ffffff;

	display: flex;
	align-items: center;

	width: max-content;
	padding: 0 1rem 0 0;
	border-radius: 0 2rem 0 0;

	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 10000;
}

.challenge-overlay img {
	height: 2rem;
	width: 2rem;
	margin-right: 0.5rem;
}

.challenge-overlay p {
	font-size: 1.5rem;
	margin: 0;
}
