---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Privacy Policy">
  <div class="c-container">
    <p><strong>Last Updated: Oct 06, 2023</strong></p>

    <h1>Advertisement Policy</h1>

    <h2>General Overview</h2>

    <p>
      This Advertisement Policy applies to all ads displayed on elliotlafave.com. The aim of this policy is to guide
      advertisers and visitors on the types of advertisements that may appear on the website. The policy also helps to
      maintain an acceptable ethical standard for ads and to clarify the relationship between the advertised businesses
      and elliotlafave.com.
    </p>

    <h2>Advertisements on Our Website</h2>

    <p>
      Advertisements displayed on elliotlafave.com may include, but are not limited to, banners, sponsored content, and
      textual ads. We ensure that advertisements meet the general ethical and legal standards.
    </p>

    <strong>Types of Allowed Advertisements</strong>
    <ol>
      <li>Tech-related Products and Services</li>
      <li>Educational Material</li>
      <li>Books, Courses, and similar educational resources</li>
      <li>Lifestyle and Health Products</li>
    </ol>

    <strong>Types of Prohibited Advertisements</strong>
    <ol>
      <li>Adult Content</li>
      <li>Illegal Products and Services</li>
      <li>Political Campaigns</li>
      <li>Religious Campaigns</li>
      <li>Ads that promote hate, violence, or discrimination</li>
    </ol>

    <h2>Advertisement Affiliation</h2>
    <p>
      Some of the advertisements may be part of affiliate marketing programs. This means that elliotlafave.com may earn
      a commission if you click on certain ads and then make a purchase on the advertiser’s website. The details of
      these affiliations will be clearly stated in the advertisement.
    </p>

    <h2>Updates to this Policy</h2>
    <p>
      We reserve the right to update this Advertisement Policy at any time. Changes will take effect immediately upon
      their posting on the website. It is your responsibility to check this page periodically for changes.
    </p>

    <h2>Contact Us</h2>
    <p>If you have any questions about our Advertisement policy, You can contact us:</p>
    <ul>
      <li>By email: elliot@lafave.co.uk</li>
    </ul>
  </div>
</DefaultLayout>
