---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Privacy Policy">
  <div class="c-container">
    <p><strong>Last Updated: May 13, 2023</strong></p>

    <h1>Cookie Policy</h1>

    <p>
      elliotlafave.com ("we", "us", "our") uses cookies on our website (the "Service"). By using the Service, you
      consent to the use of cookies.
    </p>

    <p>
      This Cookie Policy explains what cookies are, how we use cookies, how third parties we may partner with may use
      cookies on the Service, your choices regarding cookies, and further information about cookies.
    </p>

    <h2>What are cookies?</h2>

    <p>
      Cookies are small pieces of text sent to your web browser by a website you visit. A cookie file is stored in your
      web browser and allows the Service or a third party to recognize you and make your next visit easier and the
      Service more useful to you.
    </p>

    <p>
      Cookies can be either "persistent" or "session" cookies. Persistent cookies remain on your personal computer or
      mobile device when you go offline, while session cookies are deleted as soon as you close your web browser.
    </p>

    <h2>How elliotlafave.com uses cookies</h2>

    <p>When you use and access the Service, we may place several cookies files in your web browser.</p>

    <p>We use cookies for the following purposes:</p>

    <ol>
      <li>To enable certain functions of the Service</li>
      <li>To provide analytics</li>
      <li>To store your preferences</li>
      <li>To enable authentication and identification when using our ASP.NET Core MVC with Identity.</li>
    </ol>

    <p>
      We use both session and persistent cookies on the Service, and we use different types of cookies to run the
      Service, including:
    </p>

    <ol>
      <li>
        Essential cookies: These cookies are necessary for the proper functioning of our website and cannot be switched
        off in our systems. They are usually only set in response to actions made by you, which amount to a request for
        services, such as setting your privacy preferences, logging in, or filling in forms.
      </li>
      <li>
        Analytics cookies: We use Google Analytics to analyze the use of our website. Google Analytics gathers
        information about website use by means of cookies. The information gathered relating to our website is used to
        create reports about the use of our website. Google's privacy policy is available at: <a
          href="https://www.google.com/policies/privacy/"
          target="_blank"
          rel="noopener">https://www.google.com/policies/privacy/</a
        >
      </li>
    </ol>

    <h2>Microsoft Clarity Cookies</h2>
    <p>
      Microsoft Clarity uses cookies to collect user interaction data to help us understand how users interact with our
      website. These cookies collect anonymized information and expire after a certain period. You can manage or disable
      these cookies in your browser settings.
    </p>

    <h2>Google Analytics Cookies</h2>
    <p>
      Google Analytics uses cookies to help us analyze how users interact with our website. These cookies store
      information such as the duration of your visit, the pages you view, and your general location. You can manage or
      disable these cookies in your browser settings, or you can install the Google Analytics opt-out browser add-on: <a
        href="https://tools.google.com/dlpage/gaoptout"
        target="_blank"
        rel="noopener noreferrer">https://tools.google.com/dlpage/gaoptout</a
      >.
    </p>

    <h2>Cookies used on our Service</h2>
    <p>Below is a list of cookies that we use on our Service, along with an explanation of their purpose:</p>

    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Cookie Name</th>
            <th>Domain</th>
            <th>Cookie Purpose</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>AspNetCore.Antiforgery.sktBEEkFhzc</td>
            <td>elliotlafave.com</td>
            <td
              >This cookie is used for anti-forgery protection to ensure the authenticity of form submissions and
              prevent cross-site request forgery attacks.</td
            >
          </tr>
          <tr>
            <td>AspNetCore.Identity.Application</td>
            <td>elliotlafave.com</td>
            <td
              >This cookie is used to authenticate and identify users when they log in, allowing the site to remember
              their preferences and actions.</td
            >
          </tr>
          <tr>
            <td>CookieConsent</td>
            <td>elliotlafave.com</td>
            <td
              >This cookie is used to store your cookie consent preference (accept or reject) and determine whether to
              display the cookie banner on subsequent visits.</td
            >
          </tr>
          <tr>
            <td>__stripe_mid</td>
            <td>fontawesome.com</td>
            <td>This is a persistent cookie used by the Stripe payment platform to facilitate secure transactions.</td>
          </tr>
          <tr>
            <td>__stripe_sid</td>
            <td>fontawesome.com</td>
            <td>This is a session cookie used by the Stripe payment platform to facilitate secure transactions.</td>
          </tr>
          <tr>
            <td>MUID</td>
            <td>clarity.ms</td>
            <td
              >This cookie is used to uniquely identify a user and enhance their browsing experience by providing
              personalized content and recommendations.</td
            >
          </tr>
          <tr>
            <td>ANON</td>
            <td>clarity.ms</td>
            <td
              >This cookie is used to provide anonymous user analytics and to help improve the website's user
              experience.</td
            >
          </tr>
          <tr>
            <td>CLID</td>
            <td>clarity.ms</td>
            <td
              >This cookie is used to store a unique identifier for each user and track their interactions with the
              website for analytics purposes.</td
            >
          </tr>
          <tr>
            <td>NAP</td>
            <td>clarity.ms</td>
            <td
              >This cookie is used to store user preferences and settings to improve their browsing experience on the
              website.</td
            >
          </tr>
          <tr>
            <td>_clsk</td>
            <td>elliotlafave.com</td>
            <td
              >This cookie is used to collect data on user interactions with the website, such as clicks and other
              behavior, to improve the overall user experience.</td
            >
          </tr>
          <tr>
            <td>_clck</td>
            <td>elliotlafave.com</td>
            <td
              >This cookie is used to track user interactions with the website, including clicks and other user
              behavior, to improve the overall user experience.</td
            >
          </tr>
        </tbody>
      </table>
    </div>

    <h2>Third-party cookies</h2>

    <p>
      In addition to our own cookies, we may also use various third-party cookies to report usage statistics of the
      Service, deliver advertisements on and through the Service, and so on.
    </p>

    <h2>What are your choices regarding cookies?</h2>

    <p>
      If you'd like to delete cookies or instruct your web browser to delete or refuse cookies, please visit the help
      pages of your web browser.
    </p>

    <p>
      Please note, however, that if you delete cookies or refuse to accept them, you might not be able to use all of the
      features we offer, you may not be able to store your preferences, and some of our pages might not display
      properly.
    </p>

    <ul>
      <li>
        For the Chrome web browser, please visit this page from Google: <a
          href="https://support.google.com/accounts/answer/32050"
          target="_blank"
          rel="noopener">https://support.google.com/accounts/answer/32050</a
        >
      </li>
      <li>
        For the Internet Explorer web browser, please visit this page from Microsoft: <a
          href="http://support.microsoft.com/kb/278835"
          target="_blank"
          rel="noopener">http://support.microsoft.com/kb/278835</a
        >
      </li>
      <li>
        For the Firefox web browser, please visit this page from Mozilla: <a
          href="https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored"
          target="_blank"
          rel="noopener">https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored</a
        >
      </li>
      <li>
        For the Safari web browser, please visit this page from Apple: <a
          href="https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac"
          target="_blank"
          rel="noopener">https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac</a
        >
      </li>
      <li>For any other web browser, please visit your web browser's official web pages.</li>
    </ul>

    <h2>Where can you find more information about cookies?</h2>

    <p>You can learn more about cookies and the following third-party websites:</p>

    <ul>
      <li>
        AllAboutCookies: <a href="http://www.allaboutcookies.org/" target="_blank" rel="noopener"
          >http://www.allaboutcookies.org/</a
        >
      </li>
      <li>
        Network Advertising Initiative: <a href="http://www.networkadvertising.org/" target="_blank" rel="noopener"
          >http://www.networkadvertising.org/</a
        >
      </li>
    </ul>

    <h2>Changes to this Cookie Policy</h2>

    <p>
      We may update our Cookie Policy from time to time. We will notify you of any changes by posting the new Cookie
      Policy on this page.
    </p>

    <p>
      You are advised to review this Cookie Policy periodically for any changes. Changes to this Cookie Policy are
      effective when they are posted on this page.
    </p>
  </div>
</DefaultLayout>
