---
import ArticleInteractions from "../../components/ArticleInteractions.astro";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import PromoCard from "../../components/Promo Card/PromoCard.vue";
---

<DefaultLayout title="Pages">
  <!-- Main Content -->
  <ArticleInteractions />

  <div class="c-container-x c-grid u-margin-bottom-large">
    <PromoCard text="Articles" link="/pages/Articles/index.html" />
  </div>
</DefaultLayout>
