.login {
	display: flex;
	flex-direction: column;
	justify-content: center;

	form {
		width: 30%;
		margin: 0 auto;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		@include respond(tab-port) {
			width: 90%;
		}

		input {
			width: 100%;
			margin-bottom: 0.7rem;
		}

		label {
			font-size: 1.7rem;
			letter-spacing: 1.2px;
			font-weight: 600;
			color: $text-light;
			margin-top: 2rem;
			margin-bottom: 1rem;
		}
	}

	form:invalid input[type="submit"] {
		background-color: $color-card;
	}

	p {
		font-size: 2.8rem;
		color: $text-light;
		margin-bottom: 0.6rem;
	}

	p.verify {
		text-align: center;
		font-size: 1.8rem;
		color: $text-light;
		margin-bottom: 0.6rem;

		&-large {
			font-size: 2rem;
		}

		a {
			color: $color-primary-light;

			&:hover {
				color: $text-light;
			}
		}
	}
	span {
		border-radius: 0.2rem;
		padding: 1.2rem;
		margin: 0.2rem;
		color: $color-grey-dark !important;
		background-color: rgb(198, 174, 39);
		font-size: 1.8rem;
		font-weight: 700;
		letter-spacing: 1.2px;
		color: $text-light;
		display: none;
		i {
			margin-right: 0.5rem;
		}
		&.error {
			background-color: $color-form-false;
		}
	}

	h1 {
		font-family: $font-zen;
		font-weight: 500;
		font-size: 4.5rem;
		letter-spacing: 2px;

		position: relative;
		width: fit-content;
		color: $text-light;
		margin-bottom: 2rem;

		&::after {
			content: "";
			background: $text-light;
			position: absolute;
			bottom: -0.1rem;
			left: 0;
			height: 4px;
			width: 70%;
			border-radius: 0 4px 4px 0;
		}

		@include respond(phone) {
			font-size: 4rem;

			&::after {
				content: "";
				background: $color-primary;
				position: absolute;
				bottom: -0.6rem;
				left: 0;
				height: 5px;
				width: 60%;
				border-radius: 0 4px 4px 0;
			}
		}
	}
}

.loginForm.verify {
	h1 {
		text-align: center !important;
		margin: 0 auto 2rem auto;

		&::after,
		&::before {
			display: none;
		}
	}
}

.terms-section {
	p {
		color: $text-light;
		font-size: 1.3rem;

		a {
			color: $color-primary-light;

			&:hover {
				color: $color-primary;
			}
		}
	}
}

.pinBox {
	--width: 296px;
	--height: 74px;
	--spacing: 48.5px;

	display: inline-block;
	margin: 2rem auto;
	position: relative;
	width: var(--width);
	height: var(--height);
	background-image: url(https://i.stack.imgur.com/JbkZl.png);
}

.pinEntry {
	position: absolute;
	padding-left: 21px;
	font-family: inherit, monospaced;
	font-size: var(--spacing);
	height: var(--height);
	letter-spacing: var(--spacing);
	background-color: transparent;
	border: 0;
	outline: none;
	clip: circ(0px, calc(var(--width) - 21px), var(--height), 0px);
}

.pinEntry::-webkit-outer-spin-button,
.pinEntry::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.pinEntry[type="number"] {
	-moz-appearance: textfield;
}

.PasswordRequirements {
	margin-top: 1rem;
	display: flex;
	padding: 0 0 1rem 0;

	p,
	i {
		font-size: 1.6rem;
		color: $text-light;
		margin-bottom: 0;
	}

	ul > li {
		display: flex;
		align-items: center;
		font-size: 1.3rem;
		margin-bottom: 0.5rem;

		.checkMark {
			i {
				font-size: 1rem;
				line-height: 1rem;
				color: #ffffff;
			}

			width: 1.6rem;
			height: 1.6rem;
			margin-right: 0.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			background-color: #c6c7cb;

			&.active {
				background-color: $color-primary;
			}
		}
	}
}
