.login {
	display: flex;
	flex-direction: column;
	justify-content: center;

	form {
		width: 30%;
		margin: 0 auto;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		input {
			width: 100%;
			margin-bottom: 2rem;
		}

		label {
			font-size: 1.7rem;
			letter-spacing: 1.2px;
			font-weight: 600;
			color: $text-light;
			margin-bottom: 1rem;
		}
	}

	p {
		font-size: 2.8rem;
		color: $text-light;
		margin-bottom: 2rem;
	}

	h1 {
		font-family: $font-zen;
		font-weight: 500;
		font-size: 4.5rem;
		letter-spacing: 2px;

		position: relative;
		width: fit-content;
		color: $text-light;
		margin-bottom: 2rem;

		&::after {
			content: "";
			background: $text-light;
			position: absolute;
			bottom: -0.1rem;
			left: 0;
			height: 4px;
			width: 70%;
			border-radius: 0 4px 4px 0;
		}

		@include respond(phone) {
			font-size: 4rem;

			&::after {
				content: "";
				background: $color-primary;
				position: absolute;
				bottom: -0.6rem;
				left: 0;
				height: 5px;
				width: 60%;
				border-radius: 0 4px 4px 0;
			}
		}
	}
}

.pinBox {
	--width: 296px;
	--height: 74px;
	--spacing: 48.5px;

	display: inline-block;
	position: relative;
	width: var(--width);
	height: var(--height);
	background-image: url(https://i.stack.imgur.com/JbkZl.png);
}

.pinEntry {
	position: absolute;
	padding-left: 21px;
	font-family: inherit, monospaced;
	font-size: var(--spacing);
	height: var(--height);
	letter-spacing: var(--spacing);
	background-color: transparent;
	border: 0;
	outline: none;
	clip: circ(0px, calc(var(--width) - 21px), var(--height), 0px);
}

.pinEntry::-webkit-outer-spin-button,
.pinEntry::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.pinEntry[type="number"] {
	-moz-appearance: textfield;
}
