.signedInStrip {
	background-color: $color-primary;
	height: 30px;
	display: none;
	justify-content: flex-end;
	align-items: center;
	padding: 0 6rem;

	@include respond(tab-port) {
		padding: 0 2rem;
	}

	div {
		display: flex;
	}

	span {
		color: #ced4da;
		margin-left: 2rem;
		font-size: 1.6rem;
	}

	p,
	a {
		color: #ced4da;
		text-decoration: underline;
		margin-left: 2rem;
		font-size: 1.6rem;
		cursor: pointer;

		&:hover {
			color: $color-white;
		}
	}

	&-warning {
		background-color: $color-form-false;
		justify-content: space-between;

		p,
		span,
		a {
			color: $color-grey-dark !important;
		}

		a {
			&:hover {
				color: $color-grey-light-2 !important;
			}
		}
	}
}
