.inner-page {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	grid-column: 1 / 5;

	@include respond(tab-port) {
		grid-template-columns: 1fr;
	}

	&-content {
		padding: 2rem;
	}

	&__image {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__data {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 4rem;
		row-gap: 0.5rem;

		margin-bottom: 7rem;

		@include respond(tab-port) {
			grid-template-columns: 1fr;
		}
	}

	&__border-countries {
		display: flex;
		align-items: center;

		span {
			margin-right: 1.5rem;
		}
	}

	img {
		border-radius: 1.2rem;
		width: 90%;
		object-fit: fill;

		@include respond(tab-port) {
			width: 100%;
			height: auto;
			margin-bottom: 8rem;
		}
	}

	span,
	p {
		font-size: 1.4rem;
		display: inline-block;

		@include respond(tab-port) {
			font-size: 1.8rem;
		}
	}

	p {
		margin-left: 0.3rem;
		margin-bottom: 0.7rem;
	}

	h1 {
		margin-bottom: 3rem;
	}
}

.tag {
	background-color: #2b3844;
	display: inline-block;
	padding: 0.6rem 2.5rem;
	border-radius: 0.2rem;
	margin-right: 0.3rem;
	font-size: 1.4rem;
}
