@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
:root {
  --color-primary: hsl(255, 78%, 60%);
  --primary-light: #9c82e7;
  --color-primary-dark: rgb(41, 23, 94);
  --color-secondary: hsl(0, 72%, 65%);
  --color-secondary-light: #f23f7b;
  --color-secondary-dark: #f54559;
  --color-background: #202c36;
  --color-form-false: rgb(255, 119, 48);
  --color-form-true: rgb(85, 197, 122);
  --color-grey-light-1: rgb(222, 226, 230);
  --color-grey-light-2: rgb(73, 80, 87);
  --color-grey-dark: #212529;
  --color-grey-dark-2: #343a40;
  --color-grey-dark-3: rgb(51, 51, 51);
  --color-footer: #101214;
  --color-header: #2b3844;
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --text-light: #ffffff;
  --text-dark: #212529;
  --link-color: blue;
  --link-color-hover: rgb(32, 152, 192);
  --color-tag: #495057;
  --color-card: #2b3844;
  --color-card-dark: #212529;
  --color-card-git: #33373a; }

.u-center-text {
  text-align: center !important; }

.u-margin-top-small {
  margin-top: 1.2rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-large {
  margin-top: 10rem !important; }

.u-margin-top-xlarge {
  margin-top: 12rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-large {
  margin-bottom: 10rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-large {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-xlarge {
  margin-bottom: 12rem !important; }

.u-margin-bottom-xxlarge {
  margin-bottom: 15rem !important; }

.u-margin-bottom-xxxlarge {
  margin-bottom: 20rem !important; }

.mobile-only {
  display: none; }
  @media (max-width: 56.25em) {
    .mobile-only {
      display: block; } }

.hide-mobile {
  display: block; }
  @media (max-width: 56.25em) {
    .hide-mobile {
      display: none; } }

.u-align-self {
  align-self: center;
  justify-self: center; }

.hidden {
  display: none; }

.invisible {
  visibility: hidden;
  display: none; }

*,
*::after,
*::before {
  /** Changes all in document (resets the defualts) **/
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /** Inherits border box from body **/
  text-decoration: none; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  /** changes rem to 10px   (defualt is 16px)**/ }
  @media (max-width: 37.5em) {
    html {
      font-size: 45%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 150em) {
    html {
      font-size: 85%; } }

body {
  box-sizing: border-box;
  /** Change Box model so padding and width dont effect box size **/
  padding: 0rem;
  background-color: var(--color-background);
  color: var(--text-light);
  transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
  @media (max-width: 37.5em) {
    body {
      padding: 0; } }

* :focus {
  outline: 3px solid var(--text-light); }

body {
  font-family: "Nunito sans", sans-serif;
  font-weight: 400; }

a {
  font-size: 2.2rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  color: var(--link-color); }
  a:hover, a:active {
    color: var(--link-color-hover); }

p {
  font-size: 1.6rem;
  font-weight: 300; }

span {
  font-weight: 600; }

h1 {
  font-size: 3.2rem;
  font-weight: 800; }

h2 {
  font-size: 1.8rem;
  font-weight: 800; }

h3 {
  font-size: 3.8rem;
  font-weight: 400; }

h4 {
  font-size: 3.4rem;
  font-weight: 500; }

h5 {
  font-size: 3rem;
  font-weight: 500; }

h6 {
  font-size: 2.6rem;
  font-weight: 500; }

::-webkit-scrollbar {
  width: 18px;
  margin: 1px; }

::-webkit-scrollbar-track {
  background: rgba(var(--color-grey-dark), 0.9); }

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 100vw;
  border: 3px solid var(--color-grey-dark); }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-light); }

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: var(--color-primary) var(--color-grey-dark); } }

.btn {
  font-family: "Nunito sans", sans-serif;
  font-size: 1.6rem;
  color: var(--text-light);
  border: none;
  background-color: var(--color-card);
  padding: 0.4rem 3rem;
  border-radius: 5px;
  display: inline-block;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1); }
  .btn i {
    margin-right: 0.5rem;
    font-size: 1.4rem; }
  .btn:hover {
    background-color: #313c46; }
  .btn:active {
    background-color: #46545f;
    transform: scale(1.02); }

.inputs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 56.25em) {
    .inputs {
      flex-direction: column;
      align-items: flex-start; } }

input {
  width: 30%;
  background-color: var(--color-card);
  border: none;
  border-radius: 0.5rem;
  padding: 1.8rem 6rem;
  color: var(--text-light); }
  @media (max-width: 56.25em) {
    input {
      width: 100%; } }
  input::placeholder {
    color: var(--text-light); }

.input-icons i {
  position: absolute; }

.input-icons {
  width: 100%;
  margin-bottom: 10px;
  position: relative; }

.icon {
  padding: 10px;
  color: var(--text-light);
  font-size: 1.6rem;
  min-width: 50px;
  text-align: center;
  top: 0.8rem;
  left: 0.8rem; }

select {
  width: auto;
  color: var(--text-light);
  background-color: var(--color-card);
  border: none;
  border-radius: 0.5rem;
  padding: 1.8rem 2rem; }

.dark-mode {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .dark-mode i {
    margin-right: 1rem; }

.card {
  background-color: var(--color-card);
  width: 100%;
  border-radius: 0.5rem; }
  .card-content {
    padding: 2rem; }
  .card img {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    height: 15rem;
    object-fit: cover; }
  .card span,
  .card p {
    font-size: 1.4rem;
    display: inline-block; }
  .card p {
    margin-left: 0.3rem;
    margin-bottom: 0.7rem; }
  .card h2 {
    margin-bottom: 1rem; }

.challenge-overlay {
  text-decoration: none;
  color: var(--color-grey-dark);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  width: max-content;
  padding: 0 0.6rem 0 0;
  border-radius: 0 2rem 0 0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10000; }
  .challenge-overlay img {
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem; }
  .challenge-overlay p {
    font-size: 1.5rem; }

.inner-page {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 1 / 5; }
  @media (max-width: 56.25em) {
    .inner-page {
      grid-template-columns: 1fr; } }
  .inner-page-content {
    padding: 2rem; }
  .inner-page__image {
    display: flex;
    align-items: center;
    justify-content: center; }
  .inner-page__content {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .inner-page__data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    row-gap: 0.5rem;
    margin-bottom: 7rem; }
    @media (max-width: 56.25em) {
      .inner-page__data {
        grid-template-columns: 1fr; } }
  .inner-page__border-countries {
    display: flex;
    align-items: center; }
    .inner-page__border-countries span {
      margin-right: 1.5rem; }
  .inner-page img {
    border-radius: 1.2rem;
    width: 90%;
    object-fit: fill; }
    @media (max-width: 56.25em) {
      .inner-page img {
        width: 100%;
        height: auto;
        margin-bottom: 8rem; } }
  .inner-page span,
  .inner-page p {
    font-size: 1.4rem;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .inner-page span,
      .inner-page p {
        font-size: 1.8rem; } }
  .inner-page p {
    margin-left: 0.3rem;
    margin-bottom: 0.7rem; }
  .inner-page h1 {
    margin-bottom: 3rem; }

.tag {
  background-color: #2b3844;
  display: inline-block;
  padding: 0.6rem 2.5rem;
  border-radius: 0.2rem;
  margin-right: 0.3rem;
  font-size: 1.4rem; }

.header {
  width: 100%;
  background-color: var(--color-header);
  padding: 2rem 18rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.0562); }
  @media (max-width: 56.25em) {
    .header {
      padding: 1.8rem 3rem; } }

.app {
  width: 100%;
  padding-top: 4rem; }

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10rem; }
  @media (max-width: 75em) {
    .cards {
      grid-template-columns: repeat(3, 1fr);
      gap: 2.8rem; } }
  @media (max-width: 56.25em) {
    .cards {
      grid-template-columns: repeat(2, 1fr);
      gap: 2.8rem; } }
  @media (max-width: 37.5em) {
    .cards {
      grid-template-columns: 1fr;
      gap: 2.8rem; } }

.hero {
  width: 100%;
  padding: 5rem 18rem 5rem 18rem; }
  @media (max-width: 56.25em) {
    .hero {
      padding: 3rem; } }
