---
import ArticleInteractions from "../../../../components/ArticleInteractions.astro";
import DefaultLayout from "../../../../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Personal">
	<!-- Main Content -->
	<ArticleInteractions />

	<div class="o-row-4-col">
		<a href="./Comments Section/Comments Section.html">
			<div class="link-card">
				<p>Comments Section</p>
				<i class="fa-solid fa-chevron-right"></i>
			</div>
		</a>
	</div>
</DefaultLayout>
