---
import ArticleLayout from "../../../../../layouts/ArticleLayout.astro";
---

<ArticleLayout
  title="Python Programming and SQL Basics | Activity 1.2"
  date="23/05/2022"
  time="09:40am"
  streamID="633ec82fc6bdedc1a0812582"
>
  <div class="article__section">
    <h2>The task:</h2>

    <div class="article__image">
      <img src="./img/task.png" alt="" class="articleImg" />
      <p>An image of the task.</p>
    </div>
  </div>

  <div class="article__section">
    <h2>Part 1:</h2>

    <p>
      This code gets the number of students in the class, the highest and lowest marks and the average mark formatted to
      two decimal places.
    </p>
    <ul>
      <li>The max function loops over the array and checks for the largest number</li>
      <li>The min function does the opposite</li>
    </ul>

    <div class="article__image">
      <img src="./img/part1.png" alt="" class="articleImg" />
      <p>An image of part 1.</p>
    </div>
  </div>

  <div class="article__section">
    <h2>Part 2:</h2>

    <p>
      This code returns a dictionary with the mark ranges, the number of marks within that range and a asterisks counter
      to tally them up.
    </p>

    <ul>
      <li>
        <p>The get asterisks function takes the number and returns the same number of asterisks.</p>
      </li>
      <li>
        <p>
          The get occourances in range function checks for how many times a number appears within a range by checking if
          the number is between a min and max value provided to the function.
        </p>
      </li>
    </ul>

    <div class="article__image article__image-thin">
      <img src="./img/part2.png" alt="" class="articleImg" />
      <p>An image of part 2.</p>
    </div>
  </div>

  <div class="article__section">
    <h2>Part 3:</h2>

    <p>
      This code displays the calculated pass mark for the class where at least 60% of the class has passed the exam (to
      the nearest 10).
    </p>
    <p>The students over function takes in a number on each loop and checks to see how many students have passed.</p>
    <p>
      When the number of students who have passed is closest to 60 then the got_pass_mark function returns true and the
      last value passed into the students_over function is then the pass mark.
    </p>

    <div class="article__image article__image-thin">
      <img src="./img/part3.png" alt="" class="articleImg" />
      <p>An image of part 3.</p>
    </div>
  </div>

  <div class="article__section">
    <h2>The result of running the program</h2>

    <div class="article__image">
      <img src="./img/result.png" alt="" class="articleImg" />
      <p>An image of the program running in the console.</p>
    </div>
  </div>

  <div class="article__section">
    <h2>Conclusion</h2>
    <p>I found it easy to get the min, max of the arrays data and to calculate the averages.</p>
    <p>
      I found the calculation of the pass mark to be the most difficult bit as it required some more complex
      calculations and working with multiple loops to get the desired result.
    </p>
    <p>I found it quite easy to complete this activity as we did a similar task in the classroom sessions.</p>
  </div>
</ArticleLayout>
