@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

:root {
    --dark-text: hsl(229, 25%, 31%);
    --score-text: hsl(229, 64%, 46%);
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Barlow-Semi-Consensed", sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 4rem 20vw 5rem 20vw;
    padding: 0;
    background: radial-gradient(at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

.hidden {
    display: none !important;
}

.notShown {
    visibility: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    outline: 3px solid hsl(217, 16%, 45%);
    border-radius: 15px;
}

.score-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    height: 100%;
    padding: 1rem 5rem 1rem 5rem;
}

.score-title {
    color: var(--score-text);
    margin: 0.8rem 0 0 0;
    font-weight: 200;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.score {
    color: var(--dark-text);
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: -5px;
    transform: scale(0.8, 1);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.buttons {
    position: relative;
    width: 500px;
    height: 450px;
}

.btn-circle {
    background-color: #fff;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    transition: all 0.1s ease;
}

.btn-circle:hover {
    background-color: #dee2e6;
}

.btn-circle:active {
    background-color: #ced4da;
    transform: scale(0.98);
}

.btn-circle img {
    width: 40%;
}

.blue {
    position: absolute;
    top: 0;
    left: 0;
    border: 2.5rem solid hsl(230, 89%, 65%);
}

.yellow {
    position: absolute;
    top: 0;
    right: 0;
    border: 2.5rem solid hsl(40, 84%, 53%);
}

.red {
    position: absolute;
    bottom: 0;
    left: calc(50% - 10rem);
    border: 2.5rem solid hsl(349, 70%, 56%);
}

h3 {
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 5rem;
}

.picked {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.picked-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blue-picked {
    border: 2.5rem solid hsl(230, 89%, 65%);
}

.yellow-picked {
    border: 2.5rem solid hsl(40, 84%, 53%);
}

.red-picked {
    border: 2.5rem solid hsl(349, 70%, 56%);
}

h4 {
    font-size: 4.4rem;
    font-weight: 700;
    letter-spacing: -3px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 1rem;
    color: #fff;
}

.new-game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.playAgain {
    border-radius: 5px;
    border: none;
    color: var(--dark-text);
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 1.2rem 6rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.playAgain:hover {
    background-color: #dee2e6;
}

.playAgain:active {
    background-color: #ced4da;
    transform: scale(0.98);
}

.animate {
    opacity: 0;
    animation: floatIn 0.5s ease-out 1.4s 1 forwards;
}

@keyframes floatIn {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(-1rem);
        opacity: 0.5;
    }
    0% {
        transform: translateY(-3rem);
        opacity: 0;
    }
}
@media only screen and (max-width: 600px) {
    body {
        /* margin: 4rem 4rem 4rem 4rem; */
        margin: 0;
    }

    .header {
        margin: 4rem 4rem 4rem 4rem;
    }

    .score-title {
        font-size: 1.1rem;
        font-weight: 900;
    }

    .title-container img {
        height: 5rem;
    }

    .score {
        font-size: 5rem;
    }

    .score-container {
        padding: 0.4rem 2.4rem 0rem 2.4rem;
        border-radius: 5px;
    }

    .buttons {
        width: 350px;
        height: 350px;
    }

    .btn-circle {
        width: 15rem;
        height: 15rem;
    }

    .blue {
        position: absolute;
        top: 0;
        left: 0;
        border: 1.6rem solid hsl(230, 89%, 65%);
    }

    .yellow {
        position: absolute;
        top: 0;
        right: 0;
        border: 1.6rem solid hsl(40, 84%, 53%);
    }

    .red {
        position: absolute;
        bottom: 0;
        left: calc(50% - 6rem);
        border: 1.6rem solid hsl(349, 70%, 56%);
    }

    .blue-picked {
        border: 1.6rem solid hsl(230, 89%, 65%);
    }

    .yellow-picked {
        border: 1.6rem solid hsl(40, 84%, 53%);
    }

    .red-picked {
        border: 1.6rem solid hsl(349, 70%, 56%);
    }

    .picked {
        width: 100%;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .picked-card {
        flex-direction: column-reverse;
    }

    h3 {
        font-size: 1.4rem;
    }

    .new-game {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 2, 3;
    }

    #player {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #house {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}

@media only screen and (max-width: 400px) {
    body {
        /* margin: 4rem 4rem 4rem 4rem; */
        margin: 0;
    }

    .header {
        margin: 4rem 4rem 4rem 4rem;
    }

    .score-title {
        font-size: 1.1rem;
        font-weight: 900;
    }

    .title-container img {
        height: 5rem;
    }

    .score {
        font-size: 5rem;
    }

    .score-container {
        padding: 0.4rem 2.4rem 0rem 2.4rem;
        border-radius: 5px;
    }

    .buttons {
        width: 270px;
        height: 270px;
    }

    .btn-circle {
        width: 12rem;
        height: 12rem;
    }

    .blue {
        position: absolute;
        top: 0;
        left: 0;
        border: 1.5rem solid hsl(230, 89%, 65%);
    }

    .yellow {
        position: absolute;
        top: 0;
        right: 0;
        border: 1.5rem solid hsl(40, 84%, 53%);
    }

    .red {
        position: absolute;
        bottom: 0;
        left: calc(50% - 6rem);
        border: 1.5rem solid hsl(349, 70%, 56%);
    }

    .blue-picked {
        border: 1.5rem solid hsl(230, 89%, 65%);
    }

    .yellow-picked {
        border: 1.5rem solid hsl(40, 84%, 53%);
    }

    .red-picked {
        border: 1.5rem solid hsl(349, 70%, 56%);
    }

    .picked {
        width: 100%;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .picked-card {
        flex-direction: column-reverse;
    }

    h3 {
        font-size: 1.4rem;
    }

    .new-game {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 2, 3;
    }

    #player {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #house {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}
