html {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

h1 {
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
}

h2 {
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
}

h3 {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
}

h4 {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
}

h5 {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0px;
}

h6 {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  margin: 0px;
}

html {
  background-color: #FFFFFF;
  overflow-x: hidden;
}

body {
  margin: 0px;
}

a {
  color: #4CAF50;
}


/* ########################################                                    ######################################### */
/* ########################################             Wrappers               ######################################### */
/* ########################################                                    ######################################### */
#content{
  height: 1000px;
  background-color: white;
  overflow: hidden;

}

#wrapper1{
  height: 1080px;
  background-color: #A3FCF7;
  width: 98%;
  overflow: hidden;
  display: flex;
  padding:2%
}

#name {
  width:100%;
  margin-left:10%;
  color:#FFFFFF;
  margin-top:4%;
  position:absolute;
  display:block;
}

#goal {
  margin-top:19%;
  margin-left:10%;
  width:80%;
  color:#FFFFFF;
  position:absolute;
  display:block;
}

#location {
  margin-top:32%;
  margin-left:10%;
  width:60%;
  color:#FFFFFF;
  position:absolute;
  display:block;
}
/* ########################################                                    ######################################### */
/* ########################################            Box Sizes               ######################################### */
/* ########################################                                    ######################################### */

#box20 {
  background-color: lightgray;
  width:20%;
  margin-left:10%;
  margin-right: 0%;
  margin-top:30px;
  text-align: left;
  padding:1%;
  position: relative;
  display: inline-block;
}

#box80 {
  background-color: lightgray;
  width:80%;
  margin-left:10%;
  margin-right: 0%;
  margin-top:30px;
  text-align: left;
  padding:1%;
  position: relative;
  display: inline-block;
}

/* ########################################                                    ######################################### */
/* ########################################               Footer               ######################################### */
/* ########################################                                    ######################################### */


#footer {
  background-color: #A3FCF7;
  height: 200px;
  width:100%;
  padding-top:20px;
  padding-bottom:30px;
  text-align: center;
  color:#FFFFFF;
}
/* ########################################                                    ######################################### */
/* ########################################           mobile/content           ######################################### */
/* ########################################                                    ######################################### */
@media only screen  and (min-width: 0px) and (max-width: 900px) {
  #content{
    width:100%;
    margin-left:0%; 
    margin-top:0px; 
  }

  #name {
    width:100%;
    margin-left:3%;
    color:#FFFFFF;
    margin-top:4%;
    display:block;
  }
  
  #goal {
    margin-top:70%;
    margin-left:3%;
    width:96%;
    padding: 2%;
    color:#FFFFFF;
    display:block;
    text-overflow: inherit;
  }
  
  #location {
    margin-top:45%;
    margin-left:3%;
    width:100%;
    color:#FFFFFF;
    display:block;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1120px) {
  img {
    height: 800px;
  }
  h3 {
    font-size: 45px;
  }

}