---
import ArticleInteractions from "../../../../components/ArticleInteractions.astro";
import PromoCard from "../../../../components/Promo Card/PromoCard.vue";
import DefaultLayout from "../../../../layouts/DefaultLayout.astro";
---

<DefaultLayout title="GMC Work | Elliotlafave.com">
  <!-- Main Content -->
  <ArticleInteractions />

  <div class="c-container-x c-grid u-margin-bottom-large" style="--gap: 2.5rem;">
    <PromoCard text="Login Audit API" link="./Login Audit Api/Login Audit Api.html" />
    <PromoCard text="Login Audit App" link="./Login Audit App/Login Audit App.html" />
  </div>
</DefaultLayout>
