---
import ArticleInteractions from "../../../../components/ArticleInteractions.astro";
import DefaultLayout from "../../../../layouts/DefaultLayout.astro";
---

<DefaultLayout title="GMC Work | Elliotlafave.com">
	<!-- Main Content -->
	<ArticleInteractions />

	<div class="o-row-4-col">
		<a href="./Login Audit Api/Login Audit Api.html">
			<div class="link-card">
				<p>Login Audit API</p>
				<i class="fa-solid fa-chevron-right"></i>
			</div>
		</a>

		<a href="./Login Audit App/Login Audit App.html">
			<div class="link-card">
				<p>Login Audit App</p>
				<i class="fa-solid fa-chevron-right"></i>
			</div>
		</a>
	</div>
</DefaultLayout>
