.header {
	width: 100%;
	background-color: $color-header;
	padding: 2rem $section-padding-x;

	display: flex;
	justify-content: space-between;
	align-items: center;

	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.0562);

	@include respond(tab-port) {
		padding: 1.8rem 3rem;
	}
}
