.article {
  color: $text-light;
  @include container-x;

  &__container {
    @include centered-container;
  }

  &__grid {
    display: grid;
    grid-template-columns: 6fr 2fr;
    gap: 0rem 5rem;

    @include respond(tab-port) {
      grid-template-columns: 1fr;
    }
  }

  &__sidebar {
    background-color: $color-card;
    height: min-content;
    padding: 3rem;
    position: fixed;
    right: 18vw;
    top: 37vh;
    width: 14vw;

    @include respond(laptop) {
      right: 10vw;
      width: 20vw;
    }
    @include respond(tab-land) {
      right: 10vw;
      width: 20vw;
    }

    li a {
      text-decoration: none;
      display: block;
      padding: 0.125rem 0;
      color: #ccc;
      transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
      color: rgb(130, 121, 137);

      &:hover,
      &:focus {
        color: $text-light;
      }
    }

    ul,
    ol {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      font-size: 1rem;

      &.active > a {
        color: $text-light;
        font-weight: 500;
      }
    }

    h1 {
      font-weight: 300;
    }
  }

  &__interactions {
    padding: 0 0 2rem 0;
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: space-between;

    &--section {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  &__header {
    &-info {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 5rem;

      span,
      p {
        margin-right: 0.5rem;
      }

      span {
        font-size: 0.85rem;
      }

      p {
        font-size: 1.2rem;
        line-height: 0.5rem;
      }
    }
  }

  &__section {
    margin-bottom: 4.5rem;

    h2 {
      margin-bottom: 2.4rem;
    }

    ul,
    ol {
      @include respond(tab-port) {
        margin-left: 0;
      }

      list-style: none;
      margin: 0;
      padding: 0;
      margin-left: 0;
      color: $text-light;

      li {
        position: relative;
        margin-left: 1.5rem;

        &::before {
          content: "";
          position: absolute;
          width: 6px;
          height: 6px;
          background-color: $text-light;
          left: -1.2rem;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    li {
      font-size: 1rem;
      margin-bottom: 0.6rem;
    }
  }

  &__user-story {
    margin-bottom: 3rem;

    p {
      margin-bottom: 0.5rem;
    }

    ul {
      margin-top: 0.6rem;
    }

    li {
      font-size: 1rem;
    }
  }

  &__image {
    padding: 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &:hover {
      &::before {
        color: $text-light;
        position: absolute;
        top: 3rem;
        right: 4.5rem;
        content: "\f065";
        font-family: "Font Awesome 6 Pro";
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        background-color: var(--colour-btn-expand-img);
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    @include respond(tab-port) {
      &::before {
        color: $text-light;
        position: absolute;
        top: 6rem;
        right: 4rem;
        content: "\f424";
        font-family: "Font Awesome 6 Pro";
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        background-color: var(--colour-btn-expand-img);
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:hover {
        color: $text-light;
        &::before {
          position: absolute;
          top: 6rem;
          right: 4rem;
          content: "\f424";
          font-family: "Font Awesome 6 Pro";
          font-weight: 400;
          font-size: 1.2rem;
          line-height: 1rem;
          width: 2.5rem;
          height: 2.5rem;
          background-color: var(--colour-btn-expand-img);
          border-radius: 50%;

          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    @include respond(tab-port) {
      &::before {
        color: $text-light;
        position: absolute;
        top: 3.5rem;
        right: 1rem;
        content: "\f424";
        font-family: "Font Awesome 6 Pro";
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        background-color: var(--colour-btn-expand-img);
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:hover {
        &::before {
          color: $text-light;
          position: absolute;
          top: 3.5rem;
          right: 1rem;
          content: "\f424";
          font-family: "Font Awesome 6 Pro";
          font-weight: 400;
          font-size: 1.2rem;
          line-height: 1rem;
          width: 2.5rem;
          height: 2.5rem;
          background-color: var(--colour-btn-expand-img);
          border-radius: 50%;

          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    img {
      width: 90%;

      @include respond(phone) {
        width: 100%;
      }
    }

    p {
      font-size: 0.8rem;
      margin-top: 1rem;
      align-self: flex-start;
      color: $oc-gray-4;
    }

    &-thin {
      img {
        width: 60%;

        @include respond(phone) {
          width: 100%;
        }
      }
    }

    &-enlarged {
      z-index: 1000;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        color: $text-light;
        position: absolute;
        top: 6rem;
        right: 10rem;
        content: "\f78c" !important;
        font-family: "Font Awesome 6 Pro";
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        background-color: var(--colour-btn-expand-img);
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        z-index: 1200;
        object-fit: contain;
        max-height: 99vh;

        @include respond(phone) {
          width: 100%;
        }
      }

      p {
        visibility: hidden;
        display: none;
      }

      &-thin {
        img {
          width: 60%;

          @include respond(phone) {
            width: 100%;
          }
        }
      }
    }
  }
}

#video {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10rem;

  @include respond(phone) {
    width: 100%;
    margin-left: 0;
    margin-bottom: 5rem;
  }
}
