.tech-stack__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  place-items: center;

  @include respond(tab-port) {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }

  .tech-stack__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tech-stack__img {
    max-width: 100px;
    margin-bottom: 10px;
  }

  .tech-stack__text {
    text-align: center;
  }
}
