.header {
	z-index: 5;
	width: 100vw;

	padding: 5rem $section-padding-x 3rem $section-padding-x;

	@include respond(tab-land) {
		padding: 5rem $section-padding-tap-land-x 3rem $section-padding-tap-land-x;
	}

	@include respond(phone) {
		left: 5rem $section-padding-phone-x 3rem $section-padding-phone-x;
		width: 100%;
	}

	&-top {
		display: flex;
		justify-content: space-between;
	}
}

.search {
	height: 8rem;
	padding: 0rem 3rem;
	border-radius: 0.6rem;
	background-color: $white;
	margin-top: 4rem;
	width: 100%;
	display: grid;
	grid-template-columns: 5fr 3fr 4fr;

	@include respond(tab-land) {
		grid-template-columns: 1fr 1fr 1.2fr;
		padding: 0rem 2rem;
	}

	@include respond(phone) {
		height: fit-content;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 2rem 2.2rem;
	}

	input {
		height: 100%;
		width: 90%;
		border: none;
		margin: 0 5%;
		background-color: $white;

		color: $dark-blue;

		@include respond(phone) {
			width: 100%;
			margin-left: 2rem;
		}

		&:focus {
			outline: none;
		}
	}

	&__phrase {
		position: relative;
		display: flex;
		align-items: center;

		@include respond(phone) {
			width: 100%;
			margin-bottom: 2rem;
		}

		&-icon {
			width: 2.4rem;
			height: 2.4rem;
			flex-shrink: 0;
		}
	}

	&__location {
		position: relative;
		display: flex;
		align-items: center;

		padding: 0 2rem;

		border-left: 1px solid rgba(110, 128, 152, 0.2);
		border-right: 1px solid rgba(110, 128, 152, 0.2);

		@include respond(phone) {
			border: none;
			padding: 0;
			width: 100%;
			margin-bottom: 1.4rem;
		}

		&-icon {
			width: 1.7rem;
			height: 2.4rem;

			@include respond(phone) {
				width: 1.7rem;
				height: 2.4rem;
				margin-left: 0.5rem;
				margin-right: 0.2rem;
				flex-shrink: 0;
			}
		}
	}

	&__interactions {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-around;

		@include respond(phone) {
			width: 100%;
		}

		&-checkbox {
			display: flex;
			align-items: center;
		}

		h4 {
			margin-left: 3.4rem;

			@include respond(tab-land) {
				margin-left: 4rem;
			}
		}
	}
}

.logo {
	fill: $white;
	z-index: 100;
}
