.info {
	position: absolute;
	top: 10rem;
	left: 30vw;
	width: 40vw;
	border-radius: 0.6rem;

	@include respond(tab-land) {
		top: 14rem;
		left: $section-padding-tap-land-x;
		width: 92vw;
	}
	@include respond(phone) {
		left: $section-padding-phone-x;
		width: 88vw;
		border-radius: 0.6rem;
	}

	&-header {
		display: flex;
		background-color: $white;

		@include respond(phone) {
			flex-direction: column;
			border-radius: 0.6rem;
			text-align: center;
		}

		&-logo {
			flex: 0 0 14rem;
			height: 14rem;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 0px 0px 0px 6px;

			@include respond(phone) {
				height: 5rem;
				width: 5rem;
				border-radius: 1.5rem;
				display: flex;
				align-items: center;
				justify-content: center;

				position: absolute;
				top: -2.6rem;
				left: calc(50% - 2.5rem);
			}

			img {
				width: 8rem;

				@include respond(phone) {
					width: 80%;
				}
			}
		}

		&-content {
			padding: 3rem 3.5rem;
			display: flex;
			flex-direction: column;
			justify-content: center;

			h2 {
				@include respond(phone) {
					margin: 2rem 0 1rem 0;
				}
			}

			p {
				color: $grey-dark;
			}
		}
	}

	&-right {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-right: 3.5rem;

		@include respond(phone) {
			flex-direction: column;
			padding-bottom: 3rem;
			padding-right: 0;
			border-radius: 0.6rem;
		}
	}

	&-body {
		margin-top: 3rem;
		background-color: $white;
		border-radius: 0.6rem 0.6rem 0 0;
		padding: 4rem;

		display: flex;
		justify-content: space-between;

		@include respond(phone) {
			flex-direction: column;
			padding: 4rem 4rem 0 4rem;
		}

		button {
			align-self: flex-end;

			@include respond(phone) {
				align-self: auto;
				margin-top: 5rem;
			}
		}

		&-top {
			display: flex;
			flex-direction: column;

			&__content {
				display: inline-flex;
			}

			&-dot {
				background-color: $grey-dark;
				border-radius: 50%;
				width: 0.4rem;
				height: 0.4rem;
				margin-right: 1rem;
				margin-top: 1.3rem;
			}

			&-location {
				margin: 0.5rem 0 0 0;
				font-size: 1.4rem;
				font-weight: 700;
				color: $violet;
			}

			p {
				color: $grey-dark;
				margin-right: 1rem;
			}

			a {
				font-size: 2.8rem;
			}
		}
	}

	&-content {
		background-color: $white;
		border-radius: 0 0 0.6rem 0.6rem;
		padding: 4rem;
		margin-bottom: 15rem;

		p {
			color: $grey-dark;
		}

		ul,
		ol {
			margin-top: 2rem;
			margin-left: 2.2rem;
		}

		li {
			color: $grey-dark;
			padding-left: 1.6rem;
		}

		h3 {
			margin-top: 3.8rem;
			margin-bottom: 2.5rem;
		}
	}
}
