<div class="c-account-menu">
  <div class="c-account-menu__item" id="profile-item">
    <a href="/account#profile" class="c-account-menu__link" id="profile-link">My profile</a>
  </div>
  <div class="c-account-menu__item" id="security-item">
    <a href="/account/security#security" class="c-account-menu__link" id="security-link">Security</a>
  </div>
  <!-- <div class="c-account-menu__item" id="data-export-item">
    <a href="/account/data-export#data-export" class="c-account-menu__link" id="data-export-link">Data export</a>
  </div> -->
  <div class="c-account-menu__item c-account-menu__item--large-margin" id="delete-account-item">
    <a
      href="/account/delete#delete-account"
      class="c-account-menu__link c-account-menu__link--danger"
      id="delete-account-link">Delete Account</a
    >
  </div>
</div>

<script type="module" src="/scripts/accountMenu-TSBundle.js"></script>
