<div class="user-info-container">
  <div class="profileImage profileImage-teal">
    <p></p>
  </div>
  <div class="user-info-text-container">
    <div>
      <p class="widgetFullName"></p>
    </div>
    <p class="widgetEmail"></p>
  </div>
</div>
<div class="edit-color">
  <div class="edit-color-row">
    <label>Profile Colour</label>
    <p class="savedColor">saved</p>
  </div>
  <div class="checkboxes">
    <label class="checkbox-container">
      <input type="checkbox" class="profileColorCheckbox" data-color="blue" />
      <div class="checkmark checkmark-blue"></div>
    </label>
    <label class="checkbox-container">
      <input type="checkbox" class="profileColorCheckbox" data-color="teal" />
      <div class="checkmark checkmark-teal"></div>
    </label>
    <label class="checkbox-container">
      <input type="checkbox" class="profileColorCheckbox" data-color="green" />
      <div class="checkmark checkmark-green"></div>
    </label>
    <label class="checkbox-container">
      <input type="checkbox" class="profileColorCheckbox" data-color="yellow" />
      <div class="checkmark checkmark-yellow"></div>
    </label>
    <label class="checkbox-container">
      <input type="checkbox" class="profileColorCheckbox" data-color="red" />
      <div class="checkmark checkmark-red"></div>
    </label>
    <label class="checkbox-container">
      <input type="checkbox" class="profileColorCheckbox" data-color="purple" />
      <div class="checkmark checkmark-purple"></div>
    </label>
    <label class="checkbox-container">
      <input type="checkbox" class="profileColorCheckbox" data-color="darkBlue" />
      <div class="checkmark checkmark-darkBlue"></div>
    </label>
  </div>
</div>
