<div class="c-user-profile">
  <button class="c-user-profile__toggle">
    <h3>My account</h3>
    <div class="c-user-profile__toggle-icon">
      <i class="fa-sharp fa-solid fa-circle-user"></i>
    </div>
  </button>

  <div class="c-profile c-profile--hidden">
    <div class="c-profile__container">
      <div class="c-profile-image">
        <p class="c-profile-image__text" id="js-userProfile-letter"></p>
      </div>
      <div class="c-profile__content">
        <h4 class="c-profile__name" id="js-userProfile-fullName"></h4>
        <span class="c-profile__displayname" id="js-userProfile-displayname"></span>
      </div>
    </div>

    <div class="c-user-profile__links">
      <a class="hide-mobile" href="/account.html#profile">Account settings</a>
      <a class="mobile-only" href="/account-home.html">Account settings</a>
      <!-- <a href="#">Notifications</a> -->
      <a href="#" class="logoutLink">Sign out</a>
    </div>
  </div>
</div>
