*,
*::after,
*::before {
	/** Changes all in document (resets the defualts) **/
	margin: 0;
	padding: 0;
	box-sizing: inherit; /** Inherits border box from body **/
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%; /** changes rem to 10px   (defualt is 16px)**/
	overflow-x: hidden;

	@include respond(phone) {
		font-size: 45%;
	}

	@include respond(tab-land) {
		font-size: 56.25%;
	}

	@include respond(tab-port) {
		font-size: 50%;
	}

	@include respond(big-desktop) {
		font-size: 75%;
	}

	@include respond(large-desktop) {
		font-size: 85%;
	}
}

body {
	box-sizing: border-box; /** Change Box model so padding and width dont effect box size **/
	padding: 0rem;
	background-color: $color-grey-dark;
	width: 100vw;
	position: relative;
	overflow-x: hidden;

	@include respond(phone) {
		padding: 0;
	}

	transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

*:focus {
	outline: 3px solid $text-light !important;
}

img:not([src]) {
	font-size: 0;
	position: relative;
}
