.c-breadcrumb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2rem;

  &__margin {
    @include container-x;
  }

  i {
    margin: 0;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  a,
  span {
    margin-bottom: 8px;
  }

  a,
  span {
    font-size: 1rem;
    letter-spacing: 1px;
  }

  span {
    color: $text-light;
  }

  i {
    font-size: 15px;
    color: $color-primary;
    margin-bottom: 0;
  }

  a {
    color: $oc-violet-2;
    text-decoration: underline;
    text-underline-offset: 3px;

    &:hover {
      color: $oc-violet-3;
      text-decoration: none;
    }
  }
}
