body {
  background-color: #FFFFFF;
  margin:0;
  padding:0;
  font-family: 'Merienda', cursive;
  font-family: 'Zen Kurenaido', sans-serif;
  text-align: center;
}


h1 {
  margin-top:0;
}

.headingName {
  font-family: Merienda;
  font-size: 4.25rem;
  color: #4B3869;
}

.headingSubtitle {
  font-weight: normal;
  line-height: 2;
}

h2 {
  font-size: 2.8rem;
  color:#664E88;
}

h3 {
  color: #4B3869;
  font-size: 2rem;
}

a {
  color: #4B3869;
}

p {
  font-weight: bold;
  font-size: 1.5rem;
}

hr {
  width:5%;
  border-style: dotted none none;
  border-width: 10px;
  color: gray;
}
/***************** containers ********************/

.top-container {
  background-color: #E4F9F5;
  padding: 25vh 0 0 0;
  color: #66BFBF;
  height:75vh;
  position: relative;
}

.profile {
  width:30%;
  margin:100px auto 150px auto;
}

.skills {
  padding:80px 0 80px 0;
}

.contact-me {
  width:40%;
  margin:0 auto 0 auto;
  padding:80px 0 100px 0;
}

.bottom-container {
  margin:0;
  padding:3em 0 3em 0;
  background-color: #66BFBF;
  color:#EAF6F6;
  height:12vh;
}

.bottom-container p {
  font-size: 1rem;
  margin-top:2rem;
}

.bottom-container a {
  font-size: 1.8rem;
  text-decoration: none;
  margin-right: 1em;
}

.bottom-container a:hover {
  color:#0b7478;
}

/***************** cards ********************/

.projects {
  width:80vw;
  margin:100px auto 150px auto;
  display: grid;
  align-items: center;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap: 2.3em;
}

#myProjects-h2 {
  margin-top:200px;
}

.box {
  display: grid;
  background-color:#E4F9F5;
  overflow: hidden;
  border-radius: 12px;
  padding:0;
  text-align: left;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  opacity: 93%;
}

.box:hover {
  opacity: 110%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.box img {
  width:100%;
  height:200px;
}

.box-content {
  padding: 1.4em;
}


.box p {
  font-size: 1rem;
  height:8rem;
}

/***************** images ********************/

.mountain {
  width:40%;
  display:block;
  position: absolute;
  bottom: 0;
  margin-left: 30%;
}

.top-cloud {
  width:10%;
  position:absolute;
  right:25%;
  top:10vh;
}

.bottom-cloud {
  width:11%;
  position:absolute;
  left:26%;
}

.man-img {
  width:40%;
}

.binary-img {
  width:25%;
  float: left;
  margin-right: 2em;
}

.customer-img {
  width:25%;
  float: right;
  margin-left: 2em;
}

/***************** containers ********************/

.skill-row {
  width:50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
}


.btn p {
  display: grid;
}

.btn i{
  display: grid;
}

.button {
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   height: 50px;
   line-height: 50px;
   color: #FFFFFF;
   width: 100%;
   font-size: 18px;
   font-weight: 800;
   padding: 0;
   border-color-hover: ;
   border-style-hover: solid;
   border-width-hover: 0;
   background-color: #63B4B8;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.button:hover {
   background: #A9E4D7;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
   color: #000000;
}

@media only screen and (max-width: 765px) {
  .projects {
     grid-template-columns: 1fr;
  }

  .skills {
    width:90vw;
  }

  .profile {
    width:90vw;
  }

  .mountain {
    width:80%;
    display:block;
    position: absolute;
    bottom: 0;
    margin-left: 10%;

  }

  .top-cloud {
    width:23%;
    position:absolute;
    right:20%;
    top:10vh;
  }

  .bottom-cloud {
    width:22%;
    position:absolute;
    left:20%;
  }
}
