.composition {

    position: relative;
    &__photo {
        width: 65%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.3);
        border-radius: 0.01rem;
        position:absolute;
        transition: all 0.15s;
        z-index: 1;
        outline-offset: 2rem;   // offsets the outline of the image

        @include respond(tab-land) {
            width: 40% !important; 
        }


        &--p1 {
            left:0;
            top:-2rem;
        }

        &--p2 {
            right:-9rem;
            top:2rem;

            @include respond(tab-land) {
                right: 3rem; 
            }
        }

        &--p3 {
            left:20%;
            top:10rem;
        }

        &:hover { 
            outline: 1.5rem solid $color-primary-light;   // used to create offset border
            z-index: 4;
            transform: scale(1.1);
            box-shadow: 0 1.5rem 4rem rgba($color-black, 0.5);
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(0.95);
    }
}