---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Acount">
  <div class="modal-container closeModal">
    <div class="modal">
      <i class="fa-solid fa-xmark closeModal"></i>
      <h1>Delete Account</h1>
      <p>You are about to delete your account, this action can not be reversed.</p>
      <div class="modal-buttons">
        <button class="modalbtn modalbtn-cancel closeModal">Go Back</button>
        <button class="modalbtn modalbtn-red" id="confirmModal">Delete Account</button>
      </div>
    </div>
  </div>

  <section class="login u-margin-top-large u-margin-bottom-large" id="accountPage">
    <form id="signUpForm">
      <h1>Account Settings</h1>
      <div class="user-info-container">
        <div class="profileImage profileImage-teal">
          <p></p>
        </div>
        <div class="user-info-text-container">
          <div>
            <p class="widgetFullName"></p>
          </div>
          <p class="widgetEmail"></p>
        </div>
      </div>
      <div class="edit-color">
        <div class="edit-color-row">
          <label>Profile Colour</label>
          <p class="savedColor">saved</p>
        </div>
        <div class="checkboxes">
          <label class="checkbox-container">
            <input type="checkbox" class="profileColorCheckbox" data-color="blue" />
            <div class="checkmark checkmark-blue"></div>
          </label>
          <label class="checkbox-container">
            <input type="checkbox" class="profileColorCheckbox" data-color="teal" />
            <div class="checkmark checkmark-teal"></div>
          </label>
          <label class="checkbox-container">
            <input type="checkbox" class="profileColorCheckbox" data-color="green" />
            <div class="checkmark checkmark-green"></div>
          </label>
          <label class="checkbox-container">
            <input type="checkbox" class="profileColorCheckbox" data-color="yellow" />
            <div class="checkmark checkmark-yellow"></div>
          </label>
          <label class="checkbox-container">
            <input type="checkbox" class="profileColorCheckbox" data-color="red" />
            <div class="checkmark checkmark-red"></div>
          </label>
          <label class="checkbox-container">
            <input type="checkbox" class="profileColorCheckbox" data-color="purple" />
            <div class="checkmark checkmark-purple"></div>
          </label>
          <label class="checkbox-container">
            <input type="checkbox" class="profileColorCheckbox" data-color="darkBlue" />
            <div class="checkmark checkmark-darkBlue"></div>
          </label>
        </div>
      </div>
      <h2>Personal Infomation</h2>
      <label for="fullname">Full Name</label>
      <input
        class="form__input form__input-small"
        placeholder="Full Name"
        id="fullname"
        name="fullname"
        type="text"
        maxlength="94"
        required
      />
      <label for="email">Email Address</label>
      <input
        class="form__input form__input-small"
        placeholder="Email address"
        id="email"
        name="email"
        type="email"
        spellcheck="false"
        aria-describedby="email-hint"
        autocomplete="email"
        disabled
      />
      <div class="info-save-button-container">
        <input
          class="c-button c-button--medium c-button--semi-round c-button--primary-secondary c-button--primary-secondary--with-border u-margin-top-small"
          id="SaveChanges"
          type="submit"
          value="Save Changes"
          style="width: min-content; margin-top: 2.5rem"
          disabled
        />
        <p class="savedName">saved</p>
      </div>
      <div
        class="c-flex-strip c-flex-strip--row c-flex-strip--align-center c-flex-strip--justify-flex-start"
        style="gap: 1rem;"
      >
        <button
          class="c-button c-button--large c-button--semi-round c-button--primary c-button--primary--with-border u-margin-top-small"
          id="logOutButton">Log Out</button
        >
        <button
          class="c-button c-button--large c-button--semi-round c-button--red c-button--red--with-border u-margin-top-small"
          id="DeleteAccountButton"
        >
          Delete Account
        </button>
      </div>
    </form>
  </section>
</DefaultLayout>
