---
import GenericButton from "../components/GenericButton.vue";
import AccountLayout from "../layouts/AccountLayout.astro";
---

<AccountLayout title="My account">
  <h1>My profile</h1>

  <div class="account-layout--anchor c-profile__container c-profile__container--with-joinedon">
    <GenericButton
      icon="fa-sharp fa-regular fa-pen-to-square"
      withBorder="true"
      color="ghost-gray-text"
      classString="editButton js-edit-profile"
      href="/account/edit"
    >
      Edit
    </GenericButton>
    <div class="c-profile-image">
      <p class="c-profile-image__text js-userProfile-letter"></p>
    </div>
    <div class="c-profile__content">
      <h4 class="c-profile__name js-userProfile-fullName"></h4>
      <span class="c-profile__displayname js-userProfile-displayname"></span>
      <span class="c-profile__joined js-userProfile-joinedOn"></span>
    </div>
  </div>

  <div class="account-layout--anchor u-margin-top-medium">
    <GenericButton
      icon="fa-sharp fa-regular fa-pen-to-square"
      withBorder="true"
      color="ghost-gray-text"
      classString="editButton js-edit-personal-information"
      href="/account/edit"
    >
      Edit
    </GenericButton>
    <h2>Personal information</h2>
    <div class="c-personal-information">
      <div class="c-personal-information__card">
        <span>First name</span>
        <p class="js-userDetails-firstName"></p>
      </div>
      <div class="c-personal-information__card">
        <span>Last name</span>
        <p class="js-userDetails-lastName"></p>
      </div>
      <div class="c-personal-information__card">
        <span>Display name</span>
        <p class="js-userDetails-displayName"></p>
      </div>
      <div class="c-personal-information__card">
        <span>Email address</span>
        <p class="js-userDetails-email"></p>
      </div>
    </div>
  </div>

  <script type="module" src="/scripts/accountPage-TSBundle.js"></script>
</AccountLayout>
