---
import AccountMenu from "../components/Account/accountMenu.astro";
import AuthenticationLayout from "../layouts/AuthenticationLayout.astro";
---

<AuthenticationLayout title="My account">
  <div class="c-container-x u-margin-bottom-large">
    <h1>Account home</h1>
    <AccountMenu />
  </div>
</AuthenticationLayout>
