---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<script defer src="../../scripts/Login/login.js"></script>

<DefaultLayout title="Login">
    <section class="contact u-margin-top-large" id="first-section">
        <img src="img/contact.png" alt="" class="contact__img" >
        <h3 class="skills__header u-margin-bottom-large" id="contactme">Contact Me</h3>
        <div class="contact__form">
            <form name="contact" method="POST" data-netlify="true" class="form" id="form-contact" action="pages/success/index.html" netlify>
                <div class="form__group">
                    <input type="text" class="form__input form__input-small" placeholder="Full name" id="name" name="name" required>
                    <label for="name" class="form__label">Full name</label>
                </div>

                <div class="form__group" >
                    <input type="email" class="form__input form__input-small" placeholder="Email address" id="email" name="email" required>
                    <label for="email" class="form__label">Email address</label>
                </div>

                <div class="form__group">
                    <label for="message" class="form__label u-margin-bottom-small">Your message</label>
                    <textarea class="form__input form__input-textarea" id="message" rows="8" form="form-contact" name="message" required></textarea>
                </div>

                <button class="btn btn-purple-post u-margin-top-small" type="submit">Send Message! &nbsp; &rarr;</button>
            </form>
        </div>
    </section>

</DefaultLayout>
