---
import GenericButton from "../components/GenericButton.vue";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import CertificationComponent from "../components/CV/CertificationComponent.vue";
import CertificateCard from "../components/CV/CertificateCard.vue";
import HistoryCard from "../components/CV/HistoryCard.vue";
import HistoryWithGrade from "../components/CV/HistoryWithGrade.vue";
---

<DefaultLayout title="CV">
  <!-- Main Content -->
  <section
    class="c-container c-container--padding-vertical-0 c-flex-strip c-flex-strip--row c-flex-strip--align-center c-flex-strip--justify-space-between"
  >
    <h1>My CV</h1>
    <div class="portfolio-page__buttons">
      <GenericButton
        href="../Files/Word/Elliot La Fave - CV.docx"
        corner="semi-round"
        size="large"
        color="primary"
        withBorder="true"
        icon="fa-sharp fa-regular fa-file-word"
      >
        Download CV
      </GenericButton>
      <GenericButton
        href="https://www.linkedin.com/in/elliot-la-fave-4215b6222/?locale=es_ES"
        corner="semi-round"
        size="large"
        color="linkedin"
        withBorder="true"
        icon="fa-brands fa-linkedin-in"
      >
        Linkedin
      </GenericButton>
    </div>
  </section>

  <div class="c-container">
    <h2>Personal statement</h2>
    <p>
      As a dedicated software developer, I quickly transitioned from an apprentice to a recognised developer at the
      General Medical Council, evidencing my commitment and skill.
    </p>
    <p>
      With expertise in C#, .NET, and Sitecore CMS, I also deeply understand Agile and tools like Jira. My varied
      experiences, from eco projects to software upgrades, highlight my versatility and holistic industry perspective.
    </p>
  </div>

  <div class="c-container">
    <h2>Work experience</h2>

    <HistoryCard
      imageSrc="/img/Logos/gmc_logo.png"
      title="Web developer"
      company="General Medical Council"
      type="Apprenticeship"
      date="Mar 2022 - Present"
      duration="1 yr 2 mos"
      location="3 hardman street, Manchester"
      skills="Agile Methodologies, Scrum, SQL, C#, Gulp, Sass, Sitecore, JavaScript, ASP.NET Core, ASP.NET MVC, ASP.NET Web API, TypeScript, Webpack"
      text="Won a valued recognition award for supporting the Sitecore 10 upgrade.,Won a kudos award for passing my apprenticeship exams.,Won a valued award for passing my apprenticeship with a distinction grade."
    />

    <hr class="c-divider" />

    <HistoryCard
      imageSrc="/img/Logos/mcdonalds_logo.jpg"
      title="Restaurant Crew Member"
      company="McDonald's"
      type="Full-time"
      date="Aug 2019 - Mar 2022"
      duration="2 yrs 8 mos"
      location="13 Rowlandsway, Wythenshawe"
      text="Won employee of the quarter."
    />

    <hr class="c-divider" />

    <HistoryCard
      imageSrc="/img/Logos/Hitec-logo.png"
      title="Consumer Electronics Repairer"
      company="Hitec Computers"
      type="Part-time"
      date="Jun 2015 - Mar 2022"
      duration="5 mos"
      location="Cheadle, Metropolitan Borough of Stockport"
      text="I repaired iPhones and laptops that had various types of damage such as screen repairs. I updated drivers and optimised the performance of old laptops. Also, I gained my first experience dealing with customers within the store offering them products and services to help them."
    />
  </div>

  <div class="c-container">
    <h2>Education history</h2>

    <HistoryCard
      imageSrc="/img/CV Logos/QA.jpg"
      title="QA Apprenticeships"
      company="General Medical Council"
      type="Full-time"
      date="Mar 2022 - July 2023"
      duration="1 yr 2 mos"
      location="3 hardman street, Manchester"
    />

    <hr class="c-divider" />

    <HistoryCard
      imageSrc="/img/CV Logos/kingsway.jpg"
      title="The Kingsway School"
      date="Sep 2014 - May 2019"
      duration="4 yr 8 mos"
      location="Cheadle & Gatley, Stockport"
    />

    <hr class="c-divider" />

    <HistoryCard
      imageSrc="/img/CV Logos/outwood.png"
      title="Outwood Primary School"
      date="Sep 2007 - May 2014"
      duration="6 yr 8 mos"
      location="Heald Green, Stockport"
    />
  </div>

  <div class="c-container">
    <h2>Apprenticeship Results</h2>
    <HistoryWithGrade grade="Distinction" title="Level 3 software development technician" isLong="true" />
  </div>

  <div class="c-container">
    <h2>GCSE Grades</h2>
    <HistoryWithGrade grade="7" title="Computer Science" />
    <hr class="c-divider" />
    <HistoryWithGrade grade="5" title="Business" />
    <hr class="c-divider" />
    <HistoryWithGrade grade="5" title="Mathematics" />
    <hr class="c-divider" />
    <HistoryWithGrade grade="5" title="Combined Science Higher - 1" />
    <hr class="c-divider" />
    <HistoryWithGrade grade="5" title="Combined Science Higher - 2" />
    <hr class="c-divider" />
    <HistoryWithGrade grade="5" title="English Language" />
  </div>

  <div class="c-container">
    <h2>Accomplishments</h2>
    <h3>Eco award</h3>
    <p>
      I received the esteemed Eco Award presented by the Greater Manchester Youth Council. This accolade recognised my
      role in a clean air project, where we conceived a unique way to promote environmental consciousness using spray
      paint-designed advertisements.
    </p>
    <p>
      These engaging displays found their place at over 50 Metrolink stops across Manchester, effectively spreading our
      message about the importance of clean air.
    </p>
    <hr class="c-divider" />
    <h3>Short film production</h3>
    <p>
      In a collaborative effort with a team at the Water Adventure Centre youth group, we created an impactful short
      film. Our goal was to educate individuals about the issues of radicalisation within the UK and the dangers of
      terrorism.
    </p>
    <p>
      Using the medium of film, we aimed to illuminate these pressing concerns and initiate a dialogue about safety,
      understanding, and prevention.
    </p>
  </div>

  <section class="c-container" id="Certifications">
    <h2>Certifications</h2>
    <div class="c-grid" style="--gap: 2.5rem;">
      <CertificationComponent
        imgUri="/img/Logos/bcs_logo.png"
        description="This certificate demonstrates my expertise in software development methodologies, as recognised by the British Computer Society."
        title="Level 3 Certificate in Software Development Methodologies"
        href="/Files/PDF/Certifications/bcs-level-3-certificate-in-software-development-methodologies.pdf"
      />
      <CertificationComponent
        imgUri="/img/Logos/bcs_logo.png"
        description="This certificate demonstrates my expertise in programming, as recognised by the British Computer Society."
        title="Level 3 Certificate in Programming"
        href="/Files/PDF/Certifications/bcs-level-3-certificate-in-programming.pdf"
      />
    </div>
  </section>

  <section class="c-container" id="Certificates">
    <h2>Certificates</h2>
    <div class="c-grid" style="--gap: 2rem;">
      <CertificateCard
        href="https://app.pluralsight.com/learner/user/courses/v2/905cfabb-a2dd-45d7-9a46-2709bef48f9b/certificate"
        imgSrc="/img/certificates/ControllingProgramFlow.png"
        imgAlt="Complete JavaScript Course Certificate Udemy"
        title="Controlling Program Flow in C# 9"
      />
      <CertificateCard
        href="https://certificates.cloudacademy.com/8d7025efbaaa338843a3c34ad34fa5690e2110fe.pdf"
        imgSrc="/img/certificates/PracticeOOP.png"
        imgAlt="Complete JavaScript Course Certificate Udemy"
        title="Practice: Understanding Object-Oriented Programming"
      />
      <CertificateCard
        href="https://www.udemy.com/certificate/UC-c32f656e-cc14-4848-aced-e373184e2822/"
        imgSrc="/img/certificates/Advanced-CSS-Certificate.png"
        imgAlt="Advanced CSS Certificate Udemy"
        title="Advanced CSS and Sass"
      />
      <CertificateCard
        href="https://www.udemy.com/certificate/UC-1b0583ea-fe80-40c9-a386-0b73784e7307/"
        imgSrc="/img/certificates/Complete-Javascript-Course.jpg"
        imgAlt="Complete JavaScript Course Certificate Udemy"
        title="The Complete JavaScript Course"
      />
      <CertificateCard
        href="https://certificates.cloudacademy.com/8f33c9ec7275ed7206cb6196cd7beab2ce6a8476.pdf"
        imgSrc="/img/certificates/DiscoverOOP.png"
        imgAlt="Complete JavaScript Course Certificate Udemy"
        title="Discover: Object Oriented Programming"
      />
      <CertificateCard
        href="https://app.pluralsight.com/learner/user/courses/v2/0096b00d-2398-435a-82f7-3f5401408ab1/certificate"
        imgSrc="/img/certificates/CSharpFundimentals.png"
        imgAlt="Complete JavaScript Course Certificate Udemy"
        title="C# Fundimentals"
      />
      <CertificateCard
        href="https://certificates.cloudacademy.com/baedd379c9d004b7ebc991b6d2fa0eb5d2e0c255.pdf"
        imgSrc="/img/certificates/PracticePython1.3.png"
        imgAlt="Complete JavaScript Course Certificate Udemy"
        title="Practice: Python Programming 2"
      />
      <CertificateCard
        href="https://certificates.cloudacademy.com/f5523a5e412ff1799f7ff4ea16a332ac34a521fd.pdf"
        imgSrc="/img/certificates/DiscoverPython1.2.png"
        imgAlt="Complete JavaScript Course Certificate Udemy"
        title="Discover: Python Programming and SQL Basics"
      />
    </div>
  </section>
</DefaultLayout>
