---
import GenericButton from "../components/GenericButton.vue";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import CertificationComponent from "../components/CV/CertificationComponent.vue";
---

<DefaultLayout title="CV">
  <!-- Main Content -->
  <section
    class="c-container c-flex-strip c-flex-strip--row c-flex-strip--align-center c-flex-strip--justify-space-between"
    id="first-section"
  >
    <h1>My CV</h1>
    <div class="work__title--buttons">
      <GenericButton href="../Files/CV .docx" corner="semi-round" size="large" color="primary" withBorder="true">
        Download CV
      </GenericButton>
      <GenericButton
        href="https://www.linkedin.com/in/elliot-la-fave-4215b6222/?locale=es_ES"
        corner="semi-round"
        size="large"
        color="gray"
        withBorder="true"
      >
        Linkedin
      </GenericButton>
    </div>
  </section>

  <section class="experience" id="workExperience">
    <h2>Work experience</h2>

    <div class="experience--1">
      <div class="experience__title-container">
        <img src="/img/CV Logos/GMC-logo.png" alt="" style="width: 8rem; height: 8rem; margin-right: 2.3rem;" />
        <p class="experience__title">General Medical Council</p>
      </div>
      <div class="experience__image">
        <img src="/img/pin.png" alt="" />
      </div>
      <p class="experience__paragraph">3 Hardman Street, Manchester M3 3AW</p>
      <ul class="experience__won"><li>Won a kudos award.</li></ul>
      <p class="experience__date">28/03/2022 - Present</p>
    </div>

    <div class="experience--1">
      <div class="experience__title-container">
        <img src="/img/CV Logos/McDonalds-logo.png" alt="" style="width: 11rem; height: 6rem; margin-right: .2rem;" />
        <p class="experience__title">Edge Restaurants NW LTD (McDonalds)</p>
      </div>
      <div class="experience__image">
        <img src="/img/pin.png" alt="" />
      </div>
      <p class="experience__paragraph">13 Rowlandsway, Civic Centre, Wythenshawe, Manchester, M22 5RG</p>
      <ul class="experience__won"><li>Won employee of the quarter.</li></ul>
      <p class="experience__date">13/08/2019 - 09/03/2022</p>
    </div>

    <div class="experience--2">
      <div class="experience__title-container">
        <img src="/img/CV Logos/Hitec-logo.png" alt="" style="width: 8.5rem; height: 8.5rem; margin-right: 2.2rem;" />
        <p class="experience__title">Hitec Computers LTD</p>
      </div>
      <div class="experience__image">
        <img src="/img/pin.png" alt="" />
      </div>
      <p class="experience__paragraph">84 High St, Cheadle SK8 1AE</p>
      <p class="experience__date">05/06/2015 – 27/09/2015</p>
    </div>
  </section>

  <section class="section-education" id="education">
    <div class="education">
      <div class="education__schools">
        <h2>Education</h2>

        <div class="education__schools--school">
          <img src="/img/CV Logos/QA.jpg" />
          <p class="education__schools--school">QA Apprenticeships</p>
        </div>
        <p class="education__schools--date">2022 - present</p>

        <div class="education__schools--school">
          <img src="/img/CV Logos/kingsway.jpg" />
          <p class="education__schools--school">The Kingsway School</p>
        </div>
        <p class="education__schools--date">2014 - 2019</p>

        <div class="education__schools--school">
          <img src="/img/CV Logos/outwood.png" />
          <p class="education__schools--school">Outwood Primary School</p>
        </div>
        <p class="education__schools--date">2007 - 2014</p>
      </div>
      <div class="education__grades">
        <p class="education__grades--title">GCSE Grades</p>
        <span>&nbsp;</span>
        <p class="education__grades--subject">Computer Science</p>
        <p class="education__grades--grade">7</p>
        <p class="education__grades--subject">Business</p>
        <p class="education__grades--grade">5</p>
        <p class="education__grades--subject">Mathematics</p>
        <p class="education__grades--grade">5</p>
        <p class="education__grades--subject">Combined Science Higher</p>
        <p class="education__grades--grade">5, 5</p>
        <p class="education__grades--subject">English Language</p>
        <p class="education__grades--grade">5</p>
      </div>
    </div>
  </section>

  <section class="section-achievements" id="Achievements">
    <div class="achievements">
      <h2>Achievements</h2>
      <p class="education__grades--title u-margin-bottom-medium">Eco Award</p>
      <p class="achievements__paragraph u-margin-bottom-medium">
        Won the Eco Award from Greater Manchester Youth Council for a clean air project I helped work on. Our spray
        paint designed adverts were displayed on over 50 Metrolink stops across Manchester.
      </p>
      <p class="education__grades--title u-margin-bottom-medium">Short Film</p>
      <p class="achievements__paragraph u-margin-bottom-medium">
        Worked with a team at a youth group (Water Adventure Centre) to create a short film to educate people about
        radicalisation in the UK and the dangers of terrorism.
      </p>
    </div>
  </section>
  <section class="section-certifications" id="Certificates">
    <h2>Certifications</h2>
    <div class="certificates">
      <CertificationComponent
        imgUri="https://upload.wikimedia.org/wikipedia/en/thumb/0/01/BCS_logo_2021.svg/1200px-BCS_logo_2021.svg.png"
        title="Level 3 Certificate in Software Development Methodologies"
        href="/Files/PDF/Certifications/bcs-level-3-certificate-in-software-development-methodologies.pdf"
      />
      <CertificationComponent
        imgUri="https://upload.wikimedia.org/wikipedia/en/thumb/0/01/BCS_logo_2021.svg/1200px-BCS_logo_2021.svg.png"
        title="Level 3 Certificate in Programming"
        href="/Files/PDF/Certifications/bcs-level-3-certificate-in-programming.pdf"
      />
    </div>
  </section>

  <section class="section-certifications" id="Certificates">
    <h2>Certificates</h2>
    <div class="certificates">
      <a
        href="https://app.pluralsight.com/learner/user/courses/v2/905cfabb-a2dd-45d7-9a46-2709bef48f9b/certificate"
        target="_blank"
      >
        <div class="certificate">
          <p class="certificate--title">Controlling Program Flow in C# 9</p>
          <img src="/img/certificates/ControllingProgramFlow.png" alt="Complete JavaScript Course Certificate Udemy" />
        </div>
      </a>

      <a href="https://certificates.cloudacademy.com/8d7025efbaaa338843a3c34ad34fa5690e2110fe.pdf" target="_blank">
        <div class="certificate">
          <p class="certificate--title">Practice: Understanding Object-Oriented Programming | SDTL3 A2.1 |</p>
          <img src="/img/certificates/PracticeOOP.png" alt="Complete JavaScript Course Certificate Udemy" />
        </div>
      </a>

      <a href="https://www.udemy.com/certificate/UC-c32f656e-cc14-4848-aced-e373184e2822/" target="_blank">
        <div class="certificate">
          <p class="certificate--title">Advanced CSS and Sass</p>
          <img src="/img/certificates/Advanced-CSS-Certificate.png" alt="Advanced CSS Certificate Udemy" />
        </div>
      </a>

      <a href="https://www.udemy.com/certificate/UC-1b0583ea-fe80-40c9-a386-0b73784e7307/" target="_blank">
        <div class="certificate">
          <p class="certificate--title">The Complete JavaScript Course</p>
          <img
            src="/img/certificates/Complete-Javascript-Course.jpg"
            alt="Complete JavaScript Course Certificate Udemy"
          />
        </div>
      </a>

      <a href="https://certificates.cloudacademy.com/8f33c9ec7275ed7206cb6196cd7beab2ce6a8476.pdf" target="_blank">
        <div class="certificate">
          <p class="certificate--title">Discover: Object Oriented Programming | SDTL3 A2.1 |</p>
          <img src="/img/certificates/DiscoverOOP.png" alt="Complete JavaScript Course Certificate Udemy" />
        </div>
      </a>

      <a
        href="https://app.pluralsight.com/learner/user/courses/v2/0096b00d-2398-435a-82f7-3f5401408ab1/certificate"
        target="_blank"
      >
        <div class="certificate">
          <p class="certificate--title">C# Fundimentals</p>
          <img src="/img/certificates/CSharpFundimentals.png" alt="Complete JavaScript Course Certificate Udemy" />
        </div>
      </a>

      <!-- <a
        href="https://app.pluralsight.com/learner/user/courses/v2/ef199181-dfb5-4a66-906b-e1ca467ec5e9/certificate"
        target="_blank"
      >
        <div class="certificate">
          <p class="certificate--title">C# 9: The Big Picture</p>
          <img src="/img/certificates/CSharpBigPicture.png" alt="Complete JavaScript Course Certificate Udemy" />
        </div>
      </a> -->

      <a href="https://certificates.cloudacademy.com/baedd379c9d004b7ebc991b6d2fa0eb5d2e0c255.pdf" target="_blank">
        <div class="certificate">
          <p class="certificate--title">Practice: Python Programming 2# | SDTL3 A 1.3 |</p>
          <img src="/img/certificates/PracticePython1.3.png" alt="Complete JavaScript Course Certificate Udemy" />
        </div>
      </a>

      <a href="https://certificates.cloudacademy.com/f5523a5e412ff1799f7ff4ea16a332ac34a521fd.pdf" target="_blank">
        <div class="certificate">
          <p class="certificate--title">Discover: Python Programming and SQL Basics | SDTL3 A1.2 |</p>
          <img src="/img/certificates/DiscoverPython1.2.png" alt="Complete JavaScript Course Certificate Udemy" />
        </div>
      </a>
    </div>
  </section>

  <section class="skills">
    <img src="/img/percentages.png" alt="" class="skills__img" />
    <h2 id="Skills">My Skills</h2>
    <div class="skill-grid">
      <div class="skill-grid__item--0">
        <p class="skill__name">HTML</p>
        <div class="skill__bar"><div class="skill__bar--progress skill__bar--progress--1"></div></div>
      </div>
      <div class="skill-grid__item--1">
        <p class="skill__name">SCSS</p>
        <div class="skill__bar"><div class="skill__bar--progress skill__bar--progress--2"></div></div>
      </div>
      <div class="skill-grid__item--2">
        <p class="skill__name">SQL</p>
        <div class="skill__bar"><div class="skill__bar--progress skill__bar--progress--3"></div></div>
      </div>
      <div class="skill-grid__item--3">
        <p class="skill__name">Javascript</p>
        <div class="skill__bar"><div class="skill__bar--progress skill__bar--progress--4"></div></div>
      </div>
      <div class="skill-grid__item--4">
        <p class="skill__name">C#</p>
        <div class="skill__bar"><div class="skill__bar--progress skill__bar--progress--5"></div></div>
      </div>
      <div class="skill-grid__item--5">
        <p class="skill__name">Customer Service</p>
        <div class="skill__bar"><div class="skill__bar--progress skill__bar--progress--6"></div></div>
      </div>
      <div class="skill-grid__item--6">
        <p class="skill__name">Typing Speed</p>
        <div class="skill__bar"><div class="skill__bar--progress skill__bar--progress--7"></div></div>
      </div>
    </div>
  </section>
</DefaultLayout>
