---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import GenericButton from "../components/GenericButton.vue";
---

<DefaultLayout title="Home">
  <!-- Main Content -->
  <section class="section-header" id="first-section">
    <div class="header__content">
      <h1>HI THERE,<br class="mobile-only" /> IM A FONTEND WEBSITE DEVELOPER</h1>
      <div
        class="c-flex-strip c-flex-strip--row c-flex-strip--align-flex-start c-flex-strip--justify-flex-start"
        style="gap: 2rem;"
      >
        <GenericButton href="/Get a quote" corner="semi-round" size="large" color="primary" withBorder="true">
          Get a quote
        </GenericButton>
        <GenericButton href="/Get a quote" corner="semi-round" size="large" color="primary-secondary" withBorder="true">
          Contact me
        </GenericButton>
      </div>
    </div>
  </section>

  <div class="wave-top wavePattern">
    <img src="/img/WavePatternDark.svg" alt="" class="wave-top__img hide-mobile" id="wave1-dark" />
    <img src="/img/WavePatternLight.svg" alt="" class="wave-top__img hide-mobile" id="wave1-light" />
    <img src="/img/WavePatternDarkMob.svg" alt="" class="wave-top__img mobile-only" id="wave1-dark-mob" />
    <img src="/img/WavePatternLightMob.svg" alt="" class="wave-top__img mobile-only" id="wave1-light-mob" />
  </div>

  <section class="section-about" id="who-am-i">
    <img src="img/profile-pic.svg" alt="" />
    <h2 class="section-about__heading">Who Am I?</h2>
    <p class="section-about__paragraph">
      I am a front-end website developer based in Manchester, UK. I'm working as an apprentice software developer at the
      General Medical Council learning to become a full-stack software developer.
    </p>
    <GenericButton href="CV/" corner="semi-round" size="large" color="primary" withBorder="true">
      View My CV
    </GenericButton>
  </section>

  <section class="skills" id="tech-stack">
    <!-- <img src="img/percentages.png" alt="" class="skills__img"> -->
    <h2 class="skills__header u-margin-bottom-large u-center-text">My Tech Stack</h2>
    <div class="tech-stack__grid">
      <div class="tech-stack__item tech-stack__item-1">
        <img src="img/TechStack/netlify.svg" alt="" class="tech-stack__img tech-stack__img-1" />
        <p class="tech-stack__text tech-stack__text-1">Netlify</p>
      </div>
      <div class="tech-stack__item tech-stack__item-2">
        <img src="img/TechStack/html5.svg" alt="" class="tech-stack__img tech-stack__img-2" />
        <p class="tech-stack__text tech-stack__text-2">HTML</p>
      </div>
      <div class="tech-stack__item tech-stack__item-3">
        <img src="img/TechStack/css.svg" alt="" class="tech-stack__img tech-stack__img-3" />
        <p class="tech-stack__text tech-stack__text-3">CSS</p>
      </div>
      <div class="tech-stack__item tech-stack__item-4">
        <img src="img/TechStack/js.svg" alt="" class="tech-stack__img tech-stack__img-4" />
        <p class="tech-stack__text tech-stack__text-4">JavaScript</p>
      </div>
      <div class="tech-stack__item tech-stack__item-5">
        <img src="img/TechStack/sass.svg" alt="" class="tech-stack__img tech-stack__img-5" />
        <p class="tech-stack__text tech-stack__text-5">SCSS</p>
      </div>
      <div class="tech-stack__item tech-stack__item-6">
        <img src="img/TechStack/git-alt.svg" alt="" class="tech-stack__img tech-stack__img-6" />
        <p class="tech-stack__text tech-stack__text-6">GitHub</p>
      </div>
      <div class="tech-stack__item tech-stack__item-7">
        <img src="img/TechStack/node-js.svg" alt="" class="tech-stack__img tech-stack__img-7" />
        <p class="tech-stack__text tech-stack__text-7">Node JS</p>
      </div>
      <div class="tech-stack__item tech-stack__item-8">
        <img src="img/TechStack/postcss.svg" alt="" class="tech-stack__img tech-stack__img-8" />
        <p class="tech-stack__text tech-stack__text-8">Post CSS</p>
      </div>
      <div class="tech-stack__item tech-stack__item-9">
        <img src="img/TechStack/mongodb.svg" alt="" class="tech-stack__img tech-stack__img-9" />
        <p class="tech-stack__text tech-stack__text-9">mongo DB</p>
      </div>
      <div class="tech-stack__item tech-stack__item-10">
        <img src="img/TechStack/api.png" alt="" class="tech-stack__img tech-stack__img-10" />
        <p class="tech-stack__text tech-stack__text-10">API</p>
      </div>
      <div class="tech-stack__item tech-stack__item-11">
        <img src="img/TechStack/figma.svg" alt="" class="tech-stack__img tech-stack__img-11" />
        <p class="tech-stack__text tech-stack__text-11">Figma</p>
      </div>
      <div class="tech-stack__item tech-stack__item-12">
        <img src="img/TechStack/docker.webp" alt="" class="tech-stack__img tech-stack__img-12" />
        <p class="tech-stack__text tech-stack__text-12">Docker</p>
      </div>
    </div>
  </section>

  <section class="portfolio" id="featuredIndex">
    <div class="title-container-flex">
      <h2 class="u-margin-bottom-medium">Featured Projects</h2>
    </div>

    <div class="card__grid u-margin-bottom-medium" id="featuredCardsContainer">
      <!-- JavaScript Inserted Data Here -->
      <div class="loader"></div>
    </div>

    <span class="u-margin-bottom-large">&nbsp;</span>
    <GenericButton href="/portfolio/" corner="semi-round" size="large" color="primary" withBorder="true">
      All projects
    </GenericButton>
  </section>
</DefaultLayout>

<style>
  .wavePattern {
    width: 100%;
  }

  .wavePattern img {
    width: 100%;
    height: auto !important;
    z-index: 0;
  }
</style>
