---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import GenericButton from "../components/GenericButton.vue";
---

<DefaultLayout title="Home">
  <!-- Main Content -->
  <section class="c-container" id="first-section">
    <h1>HI THERE,<br class="mobile-only" /> IM A FULL STACK WEBSITE DEVELOPER</h1>
    <div
      class="c-flex-strip c-flex-strip--row c-flex-strip--align-flex-start c-flex-strip--justify-flex-start u-margin-bottom-large"
      style="gap: 2rem;"
    >
      <GenericButton href="/Get a quote" corner="semi-round" size="large" color="primary" withBorder="true">
        Get a quote
      </GenericButton>
      <GenericButton href="/contact-me" corner="semi-round" size="large" color="primary-secondary" withBorder="true">
        Contact me
      </GenericButton>
    </div>
  </section>

  <div class="wave-top wavePattern">
    <img src="/img/WavePatternDark.svg" alt="" class="wave-top__img hide-mobile" id="wave1-dark" />
    <img src="/img/WavePatternLight.svg" alt="" class="wave-top__img hide-mobile" id="wave1-light" />
    <img src="/img/WavePatternDarkMob.svg" alt="" class="wave-top__img mobile-only" id="wave1-dark-mob" />
    <img src="/img/WavePatternLightMob.svg" alt="" class="wave-top__img mobile-only" id="wave1-light-mob" />
  </div>

  <section class="c-container" id="who-am-i">
    <img src="img/profile-pic.svg" alt="" />
    <h2>Who am I?</h2>
    <p>I am a full stack website developer based in Manchester, UK.</p>
    <p>
      I have a passion for creating websites that are not only visually appealing but also functional and user friendly.
    </p>
    <GenericButton href="CV/" corner="semi-round" size="large" color="primary" withBorder="true">
      View My CV
    </GenericButton>
  </section>

  <section class="c-container" id="tech-stack">
    <h2 class="u-margin-bottom-medium">My tech stack</h2>
    <div class="tech-stack__grid">
      <div class="tech-stack__item">
        <img src="img/TechStack/netlify.svg" alt="Netlify logo" class="tech-stack__img" loading="lazy" />
        <p class="tech-stack__text">Netlify</p>
      </div>
      <div class="tech-stack__item">
        <img src="img/TechStack/html5.svg" alt="HTML5 logo" class="tech-stack__img" loading="lazy" />
        <p class="tech-stack__text">HTML</p>
      </div>
      <div class="tech-stack__item">
        <img src="img/TechStack/css.svg" alt="CSS3 logo" class="tech-stack__img" loading="lazy" />
        <p class="tech-stack__text">CSS</p>
      </div>
      <div class="tech-stack__item">
        <img src="img/TechStack/js.svg" alt="JavaScript logo" class="tech-stack__img" loading="lazy" />
        <p class="tech-stack__text">JavaScript</p>
      </div>
      <div class="tech-stack__item">
        <img src="img/TechStack/sass.svg" alt="Sass logo" class="tech-stack__img" loading="lazy" />
        <p class="tech-stack__text">SCSS</p>
      </div>
      <div class="tech-stack__item">
        <img src="img/TechStack/git-alt.svg" alt="GitHub logo" class="tech-stack__img" loading="lazy" />
        <p class="tech-stack__text">GitHub</p>
      </div>
      <div class="tech-stack__item">
        <img src="img/TechStack/node-js.svg" alt="Node.js logo" class="tech-stack__img" loading="lazy" />
        <p class="tech-stack__text">Node JS</p>
      </div>
      <div class="tech-stack__item">
        <img src="img/TechStack/postcss.svg" alt="PostCSS logo" class="tech-stack__img" loading="lazy" />
        <p class="tech-stack__text">Post CSS</p>
      </div>
      <div class="tech-stack__item">
        <img src="img/TechStack/mongodb.svg" alt="MongoDB logo" class="tech-stack__img" loading="lazy" />
        <p class="tech-stack__text">mongo DB</p>
      </div>
      <div class="tech-stack__item">
        <img src="img/TechStack/api.png" alt="API icon" class="tech-stack__img" loading="lazy" />
        <p class="tech-stack__text">API</p>
      </div>
      <div class="tech-stack__item">
        <img src="img/TechStack/figma.svg" alt="Figma logo" class="tech-stack__img" loading="lazy" />
        <p class="tech-stack__text">Figma</p>
      </div>
      <div class="tech-stack__item">
        <img src="img/TechStack/docker.webp" alt="Docker logo" class="tech-stack__img" loading="lazy" />
        <p class="tech-stack__text">Docker</p>
      </div>
    </div>
  </section>
  <section class="c-container" id="featuredIndex">
    <h2>Featured projects</h2>

    <div class="c-grid u-margin-bottom-medium" style="--gap: 3rem" id="featuredCardsContainer">
      <div class="loader"></div>
    </div>

    <GenericButton href="/portfolio/" corner="semi-round" size="large" color="primary" withBorder="true">
      All projects
    </GenericButton>
  </section>
</DefaultLayout>

<style>
  .wavePattern {
    width: 100%;
  }

  .wavePattern img {
    width: 100%;
    height: auto !important;
    z-index: 0;
  }
</style>
