---
import GenericButton from "../components/GenericButton.vue";
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Portfolio">
  <!-- Main Content -->

  <div
    class="c-container c-container--padding-vertical-0 c-flex-strip c-flex-strip--row c-flex-strip--align-flex-start c-flex-strip--justify-space-between o-row-2-col"
  >
    <section>
      <h1 id="GitHub-Stats">My portfolio</h1>
      <div class="portfolio-page__buttons">
        <GenericButton
          href="https://github.com/elliotlafave123/elliotlafave123.github.io"
          corner="semi-round"
          size="large"
          color="gray"
          withBorder="true"
          icon="fa-brands fa-github"
        >
          Github
        </GenericButton>
        <GenericButton
          href="https://codepen.io/elliotlafave123"
          corner="semi-round"
          size="large"
          color="primary"
          withBorder="true"
          icon="fa-brands fa-codepen"
        >
          Codepen
        </GenericButton>
      </div>
    </section>

    <!-- <div class="githubStats" id="GithubStats"><div class="loader"></div></div> -->
  </div>

  <section class="c-container">
    <div class="title-container-flex">
      <h2 id="featuredPortfolio">Featured projects</h2>
    </div>

    <div class="c-grid u-margin-bottom-medium" style="--gap: 3rem" id="featuredCardsContainer">
      <!-- JavaScript Inserted Data Here -->
      <div class="loader"></div>
    </div>

    <span class="u-margin-bottom-large">&nbsp;</span>
  </section>

  <section class="c-container">
    <div class="title-container-flex">
      <h2 id="all-projects">All projects</h2>
    </div>
    <section class="ProjectsAppInputs">
      <div class="ProjectsAppInputs-side">
        <input class="search-input" id="ProjectsAppInput" type="text" placeholder="Search projects..." />

        <div class="ProjectsAppPagination" id="PaginationContainer">
          <button class="ProjectsAppPagination-button ProjectsAppPagination-button-last" id="LastPage">
            <i class="fa-sharp fa-solid fa-chevron-left"></i>
          </button>
          <input class="ProjectsAppPagination-number" type="number" id="PageNumberEl" />
          <button class="ProjectsAppPagination-button ProjectsAppPagination-button-next" id="NextPage">
            <i class="fa-sharp fa-solid fa-chevron-right"></i>
          </button>
        </div>
      </div>
      <div class="ProjectsAppInputs-side ProjectsAppInputs-side-2">
        <a id="ProjectsAppClearFiltersButton">Clear All</a>

        <select id="dropdown">
          <option value="">All</option>
          <option value="html">HTML</option>
          <option value="api">API</option>
          <option value="css">CSS</option>
          <option value="js">JS</option>
          <option value="scss">SCSS</option>
          <option value="nodejs">NodeJS</option>
          <option value="mongodb">MongoDB</option>
          <option value="challenge">Challenge</option>
          <option value="course">Course</option>
        </select>
      </div>
    </section>
    <div class="ProjectsAppContainerWithError u-margin-bottom-large" id="ProjectsAppContainer">
      <section class="ProjectsAppContainer"></section>
      <section class="ProjectsAppInputsBottom">
        <div class="ProjectsAppPagination-bottom" id="PaginationContainerBottom">
          <button class="ProjectsAppPagination-button ProjectsAppPagination-button-last" id="LastPageBottom">
            <i class="fa-sharp fa-solid fa-chevron-left"></i>
          </button>
          <input class="ProjectsAppPagination-number" type="number" id="PageNumberElBottom" />
          <button class="ProjectsAppPagination-button ProjectsAppPagination-button-next" id="NextPageBottom">
            <i class="fa-sharp fa-solid fa-chevron-right"></i>
          </button>
        </div>
      </section>
      <div class="ProjectsAppNotFound invisible">
        <img src="img/ProjectsAppNoProjectFound.svg" alt="" />
        <p>No projects match your criteria. Please try another search...</p>
      </div>
    </div>
  </section>
</DefaultLayout>
