@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	color: hsl(217, 12%, 63%);
	font-family: "Overpass", sans-serif;
}

body {
	background-color: hsl(216, 12%, 8%);
	width: 100vw;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.hidden {
	display: none;
}

h2 {
	color: hsl(0, 0%, 100%);
	font-size: 3rem;
	margin: 3.5rem 0rem 1.2rem 0rem;
}

p {
	font-size: 1.5rem;
	margin-bottom: 3rem;
}

.container {
	background-color: hsl(213, 19%, 18%);
	width: 22%;
	border-radius: 3rem;
	padding: 3.5rem;
}

.img-container {
	background-color: hsl(213, 19%, 22%);
	width: 5rem;
	height: 5rem;
	border-radius: 5rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

.rating-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2.5rem;
}

.btn {
	border: none;
	background-color: hsl(213, 20%, 27%);
	display: flex;
	justify-content: center;
	align-items: center;

	color: hsl(216, 12%, 54%);
	font-size: 1.6rem;
	font-weight: 900;

	width: 5rem;
	height: 5rem;
	border-radius: 5rem;

	transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn:hover {
	background-color: hsl(216, 12%, 54%);
	color: #fff;
}

.active {
	color: #fff;
	background-color: hsl(25, 97%, 53%);
}

.submit {
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	width: 100%;
	height: 5rem;
	font-size: 1.8rem;

	border: none;
	border-radius: 5rem;
	background-color: hsl(25, 97%, 53%);
	display: flex;
	justify-content: center;
	align-items: center;

	transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.submit:hover {
	background-color: white;
	color: hsl(25, 97%, 53%);
}

/* Page 2 */
#page2 {
	text-align: center;
}

.selected {
	background-color: hsl(213, 20%, 27%);
	width: 60%;
	margin: 3rem auto 3.5rem auto;

	font-size: 1.7rem;
	color: hsl(25, 97%, 53%);

	border-radius: 2rem;
	padding: 0.6rem 1rem 0.4rem 1rem;
}
