@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
	--bg-color: hsl(230, 17%, 14%);
	--card-bg-color: hsl(229, 27%, 20%);
	--top-bg-pattern-color: hsl(232, 19%, 15%);
	--text-color: hsl(228, 34%, 66%);
	--text-color-white: hsl(0, 0%, 100%);

	--change-green: hsl(163, 72%, 41%);
	--change-red: hsl(356, 69%, 56%);
}

.green {
	color: hsl(163, 72%, 41%) !important;
}

.red {
	color: hsl(356, 69%, 56%) !important;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Inter", sans-serif;
	margin: 0;
	background-color: var(--bg-color);
	padding: 10vh 15vw 2rem 15vw;
}

/*Text styles */

h1 {
	font-size: 32px;
	font-weight: 700;
	color: var(--text-color-white);
}

h2 {
	font-size: 18px;
	font-weight: 700;
	color: var(--text-color);
}

hr {
	display: none;
}

/* HEADER */

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.slider {
	width: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/* MAIN*/

.handle {
	font-size: 14px;
	font-weight: 700;
	color: var(--text-color);
	display: flex;
	flex-direction: row;
	align-items: center;
}

.handle img {
	width: 1.4rem;
	margin-right: 0.6rem;
}

.followers {
	font-size: 12px;
	letter-spacing: 7px;
	font-weight: 400;
	color: var(--text-color);
	margin: 0 0 3rem 0;
}

.followers-number {
	font-size: 6rem;
	font-weight: 700;
	color: var(--text-color-white);
	margin: 1.2rem 0 0 0;
}

.change {
	font-size: 12px;
	font-weight: 700;
	color: var(--change-green);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.change img {
	height: 5px;
	margin-right: 4px;
}

/* CONTAINERS */

.accounts {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 4rem;
	margin: 4rem 0 3rem 0;
}

.overview-container {
	padding: 2.5rem 2rem 2rem 2rem;
	display: flex;
	flex-direction: column;
	background-color: var(--card-bg-color);
}

/* CARDS */

.card {
	border-radius: 6px;
}

.account {
	padding: 2.5rem 2rem 2.4rem 2rem;
	background-color: var(--card-bg-color);
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 0 0 6px 6px;
}

.accounts-card-container {
	background-color: hsl(203, 89%, 53%);
	border-radius: 6px 6px 9px 9px;
	width: 100%;
	height: 100%;
	padding-top: 4px;
}

.accounts-card-container-facebook {
	background-color: hsl(208, 92%, 53%);
}

.accounts-card-container-twitter {
	background-color: hsl(203, 89%, 53%);
}

.accounts-card-container-instagram {
	background: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}

.accounts-card-container-youtube {
	background-color: hsl(348, 97%, 39%);
}

.overview {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 4rem;
	margin: 4rem 0 3rem 0;
}

.overview-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 2rem 0;
}

.overview-bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.overview-number {
	font-size: 3rem;
	font-weight: 700;
	color: var(--text-color-white);
}

/*  Dark Mode Slider  */

.toggle {
	display: none;
}

.label {
	position: relative;
	background: linear-gradient(60deg, hsl(210, 78%, 56%) 0%, hsl(146, 68%, 55%) 70%, hsl(146, 68%, 55%) 100%);
	border-radius: 50px;
	cursor: pointer;
	display: inline-block;
	margin-left: 1rem;
	width: 65px;
	height: 30px;
}

.toggle:checked + .label {
	background-color: #8e44ad;
}

.ball {
	background: var(--top-bg-pattern-color);
	height: 24px;
	width: 24px;
	border-radius: 50%;
	position: absolute;
	top: 3px;
	left: 3px;
	align-items: center;
	justify-content: center;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 12px;
	animation: slideOff 0.3s linear forwards;
}

.toggle:checked + .label .ball {
	animation: slideOn 0.3s linear forwards;
}

@media only screen and (max-width: 600px) {
	h1 {
		font-size: 20px;
		font-weight: 700;
		color: var(--text-color-white);
	}

	h2 {
		font-size: 18px;
		font-weight: 700;
		color: var(--text-color);
	}

	hr {
		display: block;
		height: 1px;
		width: 100%;
		background-color: var(--text-color);
		opacity: 0.2;
		margin-top: 2rem;
	}

	/* HEADER */

	header {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 2rem;
	}

	.slider {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-top: 2rem;
	}

	/* CONTAINERS */

	.accounts {
		display: grid;
		grid-template-columns: 1fr;
		gap: 4rem;
		margin: 4rem 0 3rem 0;
	}

	.overview {
		grid-template-columns: 1fr;
	}
}

@keyframes slideOn {
	0% {
		transform: translateX(0) scale(1);
	}
	50% {
		transform: translateX(19px) scale(1.05);
	}
	100% {
		transform: translateX(35px) scale(1);
	}
}

@keyframes slideOff {
	0% {
		transform: translateX(35px) scale(1);
	}
	50% {
		transform: translateX(29px) scale(1.05);
	}
	100% {
		transform: translateX(0) scale(1);
	}
}

.challenge-overlay {
	text-decoration: none;
	color: #212529;
	background-color: #ffffff;

	display: flex;
	align-items: center;

	width: max-content;
	padding: 0 0.6rem 0 0;
	border-radius: 0 2rem 0 0;

	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 10000;
}

.challenge-overlay img {
	height: 2rem;
	width: 2rem;
	margin-right: 0.5rem;
}

.challenge-overlay p {
	font-size: 1.5rem;
}
