.header {
    position: relative;  /** Allows absolute positioned logo to be relative to the header parent **/
    height:95vh; /** 95% of the viewport width **/
    background-image:linear-gradient(             /** Linear gradient on top of img **/
      to right,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)),
      url(../img/hero.jpg); 
  
    background-size: cover;
    background-position: top; /** ensures topo of image stays at the top of the parent **/
  
    -webkit-clip-path: polygon(0 0,100% 0, 100% 80%,0 100%);
    clip-path: polygon(0 0,100% 0, 100% 80%,0 100%);  /** Creates an angular clip over the image. (x y, x y, x y, x y)  **/
  
    &__logo-box {
      position: absolute;  /** Relative to parent **/
      top:4rem;
      left: 4rem;
    }
  
    &__logo {
      height: 3.5rem;
    }
  
    &__text-box {
      position: absolute;    /**  Center Textbox using positioning  **/
      top: 40%;
      left: 50%;
      transform: translate(-50%,-50%);      /**  translate textbxs so it is exactly centered **/
      text-align: center;
    }
  }