.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: $color-primary-dark;
  color: #ffffff;
  padding: 3rem;
  display: flex;
  z-index: 100000;
  justify-content: space-between;

  @include respond(tab-port) {
    flex-direction: column;
    align-items: center;
  }

  &-text-container {
    font-weight: 400;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;

    span {
      margin-bottom: 1.2rem;
      font-size: 1.55rem;
    }
  }

  &-interactions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    background-color: #ffffff;
    color: #000000;
    padding: 1.2rem 3rem;
    border-radius: 0.9rem;
    font-size: 1.7rem;
    display: block;

    @include respond(tab-port) {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
  }

  a {
    color: #ffffff;
    font-size: 1.5rem;
    display: block;
    text-align: center;
    text-decoration: underline;
  }
}
