.tech-stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;

    &__title {
        font-family: $font-zen;
        font-size: 5rem;
        font-weight: 500;
        color: $color-white;
    }

    &__grid {
        padding: 6rem 0;
        width: 50%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        // grid-template-rows: max-content 1fr max-content 1fr max-content;

        grid-row-gap: 7rem;
        margin: 5rem 0 5rem 0;

        @include respond(tab-land) {
            width: 70%;
        }

        @include respond(tab-port) {
            width: 80%;
            grid-template-columns: repeat(5, 1fr);
        }

        @include respond(phone) {
            width: 90%;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover img {
            opacity: 80%;
            transform: scale(1.03);
        }
    }

    &__text {
        font-family: $font-lato;
        font-size: 1.5rem;
        color: rgba(#fff, 0.7);
    }

    &__img {
        height: 8rem;
        opacity: 50%;
        margin-bottom: 0.5rem;
        transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
}

.production {
    width: 80%;
    margin: 7rem auto 7rem auto;

    &-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);

        @include respond(tab-port) {
            grid-template-columns: 1fr;
        }
    }

    &__step {
        position: relative;
        border: 3px solid #3f454b;
        border-radius: 1rem;
        padding: 3rem 1.5rem 2rem 1.5rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &--number {
            position: absolute;
            top: 1.5rem;
            left: 1.5rem;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            background-color: #3f454b;
            height: 2rem;
            width: 2rem;
            border-radius: 50%;

            font-size: 1.3rem;
            font-family: $font-lato;
            font-weight: 900;
            color: $color-grey-dark;
        }

        &--text {
            font-size: 1.8rem;
            font-family: $font-lato;
            color: $color-white;
            text-align: center;
            margin-top: 2rem;
        }

        &--img {
            height: 7rem;
            opacity: 50%;
        }

        &--img-grid-3 {
            width: 80%;
            justify-self: start;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 3rem;

            &-img {
                height: 7rem;
                opacity: 50%;
                justify-self: center;
                align-self: start;
            }
        }

        &--img-grid-5 {
            width: 85%;
            justify-self: start;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-column-gap: 3rem;

            @include respond(phone) {
                grid-template-columns: repeat(1, 1fr);
            }

            &-img {
                height: 8rem;
                opacity: 50%;
                justify-self: center;
                align-self: start;

                @include respond(tab-port) {
                    height: 6rem;
                }

                @include respond(phone) {
                    height: 8rem;
                }
            }
        }

        &--img-grid-2 {
            width: 80%;
            justify-self: start;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 3rem;

            &-img {
                height: 8rem;
                opacity: 50%;
                justify-self: center;
                align-self: start;
            }
        }

        &--1 {
            grid-row: 1/2;
            grid-column: 1/2;

            @include respond(tab-port) {
                grid-column: 1;
                grid-row: 1/2;
            }
        }

        &--2 {
            grid-row: 1/2;
            grid-column: 3 / span 3;
            @include respond(tab-port) {
                grid-column: 1;
                grid-row: 3/4;
            }
        }

        &--3 {
            grid-row: 1/2;
            grid-column: 7 / 8;
            @include respond(tab-port) {
                grid-column: 1;
                grid-row: 5/6;
            }
        }

        &--4 {
            grid-row: 3/4;
            grid-column: 5 / span 3;
            @include respond(tab-port) {
                grid-column: 1;
                grid-row: 8/9;
            }
        }

        &--5 {
            grid-row: 3/4;
            grid-column: 1 / span 2;
            @include respond(tab-port) {
                grid-column: 1;
                grid-row: 10/11;
            }
        }

        &--6 {
            grid-row: 5 / 6;
            grid-column: 1 / span 2;
            @include respond(tab-port) {
                grid-column: 1;
                grid-row: 12/13;
            }
        }

        &--7 {
            grid-row: 5 / 6;
            grid-column: 4 / 5;
            @include respond(tab-port) {
                grid-column: 1;
                grid-row: 14/15;
            }
        }

        &--8 {
            grid-row: 5 / 6;
            grid-column: 7 / 8;
            @include respond(tab-port) {
                grid-column: 1;
                grid-row: 16/17;
            }
        }
    }

    &--arr {
        align-self: center;
        justify-self: center;
        margin: 4rem 0 4rem 0;

        &-3 {
            grid-column: 7 / 8;
            grid-row: 2 / 3;
            @include respond(tab-port) {
                grid-column: 1;
                grid-row: 6/7;
            }
        }

        &-4 {
            grid-column: 3 / span 2;
            grid-row: 3 / 4;
            @include respond(tab-port) {
                grid-column: 1;
                grid-row: 9/10;
            }
        }

        &-5 {
            grid-column: 1 / span 2;
            grid-row: 4 / 5;
            @include respond(tab-port) {
                grid-column: 1;
                grid-row: 11/12;
            }
        }

        &-6 {
            grid-column: 3 / 4;
            grid-row: 5 / 6;
            @include respond(tab-port) {
                grid-column: 1;
                grid-row: 13/14;
            }
        }

        &-7 {
            grid-column: 5 / span 2;
            grid-row: 5 / 6;
            @include respond(tab-port) {
                grid-column: 1;
                grid-row: 15/16;
            }
        }
    }
}
