---
import AuthenticationLayout from "../../../layouts/AuthenticationLayout.astro";
---

<AuthenticationLayout title="Login">
  <section class="c-container c-container--x-small c-container--centered">
    <form class="c-form" id="account" method="post" novalidate>
      <h1>Log in</h1>
      <p class="u-margin-bottom-small">
        <a href="/pages/login/signup.html" id="register-link">Register as a new user</a>
      </p>

      <div id="validation-summary" class="text-danger" role="alert"></div>

      <div class="c-form__element">
        <label for="email" class="c-form__label">Email</label>
        <input id="email" type="email" class="c-text-input" autocomplete="username" aria-required="true" />
        <span id="email-validation" class="c-form__error-message"></span>
      </div>

      <div class="c-form__element c-form__element--small-margin">
        <label for="password" class="c-form__label">Password</label>
        <input
          id="password"
          type="password"
          class="c-text-input"
          autocomplete="current-password"
          aria-required="true"
        />
        <span id="password-validation" class="c-form__error-message"></span>
      </div>

      <a href="/pages/login/RequestPasswordReset.html">Forgot password?</a>

      <button
        id="login-submit"
        type="submit"
        class="c-button c-button--large c-button--semi-round c-button--primary c-button--primary--with-border c-button--full-width c-button--center-text u-margin-top-medium"
        >Log in</button
      >
    </form>
  </section>

  <script type="module" src="/scripts/login-TSBundle.js"></script>
</AuthenticationLayout>
