---
import DefaultLayout from "../../../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Login">
  <section class="login u-margin-bottom-large" id="first-section">
    <form id="loginForm" onsubmit="return false">
      <h1>Login</h1>
      <p>
        Dont have an account? &nbsp;&nbsp;<a href="/pages/login/signup.html">Sign Up</a>
      </p>
      <div class="c-form__element c-form__element--small-margin">
        <label for="email" class="c-form__label">Email address</label>
        <input
          id="email"
          name="email"
          type="email"
          spellcheck="false"
          aria-describedby="email-hint"
          autocomplete="email"
          required
          class="c-text-input"
          required
        />
        <span id="errorMessageEmail"><i class="fa-solid fa-triangle-exclamation"></i>Please enter a valid email</span>
      </div>

      <div class="c-form__element c-form__element--small-margin">
        <label for="email" class="c-form__label">Password</label>
        <input id="password" name="password" type="password" required class="c-text-input" required />
        <i class="fa-solid fa-eye passwordEye" id="ShowPasswordEye"></i>
        <i class="fa-solid fa-eye-slash passwordEye" id="HidePasswordEye"></i>
        <span class="error" id="errorMessagePassword"
          ><i class="fa-solid fa-triangle-exclamation"></i>Incorrect password</span
        >
      </div>

      <a href="./ResetPassword.html">Forgot Password?</a>
      <span id="errorMessageEnterPassword"><i class="fa-solid fa-triangle-exclamation"></i>Please enter a password</span
      >
      <input
        type="submit"
        class="c-button c-button--large c-button--semi-round c-button--primary c-button--primary--with-border c-button--full-width c-button--center-text u-margin-top-medium"
        value="Login"
        id="loginButton"
      />
    </form>
  </section>
</DefaultLayout>
