---
import DefaultLayout from "../../../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Login">
  <section class="login u-margin-bottom-large" id="first-section">
    <form id="account" method="post" class="c-form c-form__small c-form__centered u-margin-top-medium">
      <h1 id="form-title"></h1>
      <p class="u-margin-bottom-small">
        <a href="#" id="register-link">Register as a new user</a>
      </p>

      <div id="validation-summary" class="text-danger" role="alert"></div>
      <div class="c-form__element">
        <label for="email" class="c-form__label">Email</label>
        <input id="email" type="email" class="c-text-input" autocomplete="username" aria-required="true" />
        <span id="email-validation" class="text-danger"></span>
      </div>
      <div class="c-form__element">
        <label for="password" class="c-form__label">Password</label>
        <input
          id="password"
          type="password"
          class="c-text-input"
          autocomplete="current-password"
          aria-required="true"
        />
        <span id="password-validation" class="text-danger"></span>
      </div>
      <div class="c-checkbox-group">
        <label for="rememberMe" class="c-checkbox">
          <input id="rememberMe" type="checkbox" class="c-checkbox__hidden-input" />
          <span role="checkbox" aria-labelledby="willStoreData" class="c-checkbox__marker"></span>
          <span id="rememberMe-label" class="c-checkbox__text"></span>
        </label>
      </div>

      <button id="login-submit" type="submit" class="c-button">Log in</button>
    </form>
  </section>

  <script type="module" src="/scripts/login-TSBundle.js"></script>
</DefaultLayout>
