---
import AuthenticationLayout from "../../../layouts/AuthenticationLayout.astro";
---

<script defer src="/scripts/resetPassword-TSBundle.js"></script>

<AuthenticationLayout title="Check your email">
  <section class="login u-margin-top-large u-margin-bottom-large">
    <h1>Check your email</h1>
    <p>We've sent you an email with a link to reset your password. If you don't see it, check your spam folder.</p>
  </section>

  <script type="module" src="/scripts/requestEmailVerification-TSBundle.js"></script>
</AuthenticationLayout>
