---
import AuthenticationLayout from "../../../layouts/AuthenticationLayout.astro";
---

<script defer src="/scripts/requestPasswordReset-TSBundle.js"></script>

<AuthenticationLayout title="Reset password">
  <section class="c-container" id="EnterEmailSection">
    <form class="c-form" id="requestPasswordResetForm" onsubmit="return false">
      <h1>Reset Password</h1>
      <p>Know your password? &nbsp;&nbsp;<a href="/pages/login/login.html">Log In</a></p>
      <div class="c-form__element c-form__element--small-margin">
        <label for="email" class="c-form__label">Email address</label>
        <input
          id="email"
          name="email"
          type="email"
          spellcheck="false"
          aria-describedby="email-hint"
          autocomplete="email"
          required
          class="c-text-input"
          required
        />
        <span id="errorMessageEmail"><i class="fa-solid fa-triangle-exclamation"></i>Please enter a valid email</span>
      </div>

      <input
        type="submit"
        class="c-button c-button--large c-button--semi-round c-button--primary c-button--primary--with-border c-button--full-width c-button--center-text u-margin-top-medium u-margin-top-small"
        value="Reset Password"
        id="startResetPasswordButton"
      />
    </form>
  </section>
</AuthenticationLayout>
