---
import AuthenticationLayout from "../../../layouts/AuthenticationLayout.astro";
---

<script defer src="/scripts/requestPasswordReset-TSBundle.js"></script>

<AuthenticationLayout title="Reset password">
  <section class="c-container" id="EnterEmailSection">
    <div class="c-form">
      <h1>Reset Password</h1>
      <p>Know your password? &nbsp;&nbsp;<a href="/pages/login/login.html">Log In</a></p>
      <div class="c-form">
        <h2>Enter your email</h2>
        <p>Enter the email address associated with your account and we'll send you a link to reset your password.</p>
        <form class="c-input-with-button" id="requestPasswordResetForm" onsubmit="return false">
          <input
            id="email"
            name="email"
            type="email"
            spellcheck="false"
            aria-describedby="email-hint"
            autocomplete="email"
            required
            class="c-text-input"
            required
          />
          <button
            type="submit"
            class="c-button c-button--large c-button--semi-round c-button--primary c-button--primary--with-border c-button--center-text"
            value="Reset Password"
            id="startResetPasswordButton">Submit</button
          >
        </form>
      </div>
    </div>
  </section>
</AuthenticationLayout>
