---
import AuthenticationLayout from "../../../layouts/AuthenticationLayout.astro";
---

<script defer src="../../scripts/Login/ResetPassword.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-ZFS3PHN0E0");
</script>
<script defer>
  function recaptcha_callback() {
    var SendNewPasswordButton = document.getElementById("SendNewPasswordButton");
    SendNewPasswordButton.removeAttribute("disabled");
  }
</script>

<AuthenticationLayout title="Reset password">
  <section class="login u-margin-top-large u-margin-bottom-large" id="EnterEmailSection">
    <form id="signUpForm" onsubmit="return false">
      <h1>Reset Password</h1>
      <p>Know your password? &nbsp;&nbsp;<a href="/pages/login/login.html">Log In</a></p>
      <div class="c-form__element c-form__element--small-margin">
        <label for="email" class="c-form__label">Email address</label>
        <input
          id="email"
          name="email"
          type="email"
          spellcheck="false"
          aria-describedby="email-hint"
          autocomplete="email"
          required
          class="c-text-input"
          required
        />
        <span id="errorMessageEmail"><i class="fa-solid fa-triangle-exclamation"></i>Please enter a valid email</span>
      </div>

      <input
        type="submit"
        class="c-button c-button--large c-button--semi-round c-button--primary c-button--primary--with-border c-button--full-width c-button--center-text u-margin-top-medium u-margin-top-small"
        value="Reset Password"
        id="startResetPasswordButton"
      />
    </form>
  </section>

  <section class="login u-margin-top-large u-margin-bottom-large" id="VerifyEmailContainer" style="display: none;">
    <form id="loginForm" class="loginForm verify">
      <h1>Verify Email</h1>
      <p class="verify">In order to prevent spam, we need to verify your email address.</p>
      <p class="verify">Please enter the code we sent to your email below.</p>
      <div class="spinner-container">
        <div class="lds-dual-ring" id="loadingSpinner"></div>
      </div>
      <div class="pinBox" id="pinBox">
        <input class="pinEntry" name="token" type="number" maxlength="4" autocomplete="off" required id="pinInput" />
      </div>
      <span id="errorMessagePin"><i class="fa-solid fa-triangle-exclamation"></i>Incorrect Pin</span>
      <p id="resendCodeContainer" class="verify verify-large">
        Didn't recieve the code? &nbsp;&nbsp;<a href="#" id="resendCodeButton">Resend code</a>
      </p>
    </form>
  </section>

  <section class="login u-margin-top-large u-margin-bottom-large" id="SavePasswordContainer" style="display: none;">
    <form id="signUpForm" onsubmit="return false">
      <h1>Reset Password</h1>

      <div class="c-form__element c-form__element--small-margin">
        <label for="email" class="c-form__label">New password</label>
        <input id="password" name="password" type="password" required class="c-text-input" required />
        <i class="fa-solid fa-eye passwordEye" id="ShowPasswordEye"></i>
        <i class="fa-solid fa-eye-slash passwordEye" id="HidePasswordEye"></i>
        <span class="error" id="errorMessagePassword"
          ><i class="fa-solid fa-triangle-exclamation"></i>Incorrect password</span
        >
      </div>

      <div class="PasswordRequirements">
        <ul>
          <li>
            <div class="checkMark" id="length">
              <i class="fa-solid fa-check"></i>
            </div>
            <p>Password must be 8+ characters</p>
          </li>
          <li>
            <div class="checkMark" id="upper">
              <i class="fa-solid fa-check"></i>
            </div>
            <p>Uppercase and lowercase letter (A z)</p>
          </li>
          <li>
            <div class="checkMark" id="number">
              <i class="fa-solid fa-check"></i>
            </div>
            <p>Numeric character (0-9)</p>
          </li>
          <li>
            <div class="checkMark" id="special">
              <i class="fa-solid fa-check"></i>
            </div>
            <p>Special character (!, %, @, #, etc.)</p>
          </li>
        </ul>
      </div>
      <!-- Public -->
      <div
        class="g-recaptcha"
        data-sitekey="6LeiJF8iAAAAAO25BEZfbxbaSEaw55cShZLI761E"
        data-callback="recaptcha_callback"
      >
      </div>
      <!-- Local -->
      <!-- <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI" data-callback="recaptcha_callback"></div> -->
      <span id="errorMessageCaptcha"
        ><i class="fa-solid fa-triangle-exclamation"></i>Please verify you're not a robot</span
      >
      <input
        type="submit"
        class="c-button c-button--large c-button--semi-round c-button--primary c-button--primary--with-border c-button--full-width c-button--center-text u-margin-top-medium u-margin-top-small"
        value="Save Password"
        id="SendNewPasswordButton"
        disabled
      />
    </form>
  </section>
</AuthenticationLayout>
