---
import AuthenticationLayout from "../../../layouts/AuthenticationLayout.astro";
---

<script type="module" src="/scripts/passwordRequirements-TSBundle.js"></script>
<script type="module" src="/scripts/resetPassword-TSBundle.js"></script>

<AuthenticationLayout title="Reset password">
  <section class="c-container" id="EnterEmailSection">
    <form
      class="c-container--x-small c-container--centered u-margin-bottom-medium"
      id="resetPasswordForm"
      onsubmit="return false"
    >
      <h1>Reset Password</h1>
      <p>Know your password? &nbsp;&nbsp;<a href="/pages/login/login.html">Log In</a></p>
      <div class="c-form__element c-form__element--small-margin">
        <div class="c-password-input">
          <input class="c-text-input" minlength="8" id="password" name="password" type="password" required />
          <i class="fa-sharp fa-solid fa-eye c-password-input__password-eye" id="ShowPasswordEye"></i>
          <i
            class="fa-sharp fa-solid fa-eye-slash c-password-input__password-eye c-password-input__password-eye--hidden"
            id="HidePasswordEye"></i>
        </div>
        <span id="errorMessagePassword" class="c-form__error-message"
          ><i class="fa-solid fa-triangle-exclamation"></i>Passwords do not match</span
        >
      </div>

      <div class="c-form__element">
        <div class="c-password-requirements">
          <ul>
            <li>
              <div class="checkMark" id="length">
                <i class="fa-solid fa-check"></i>
              </div>
              <p>Password must be 8+ characters</p>
            </li>
            <li>
              <div class="checkMark" id="upper">
                <i class="fa-solid fa-check"></i>
              </div>
              <p>Uppercase and lowercase letter (A z)</p>
            </li>
            <li>
              <div class="checkMark" id="number">
                <i class="fa-solid fa-check"></i>
              </div>
              <p>Numeric character (0-9)</p>
            </li>
            <li>
              <div class="checkMark" id="special">
                <i class="fa-solid fa-check"></i>
              </div>
              <p>Special character (!, %, @@, #, etc.)</p>
            </li>
          </ul>
        </div>
      </div>
      <!-- confirm password -->
      <div class="c-form__element c-form__element--small-margin">
        <label for="confirmPassword" class="c-form__label">Confirm Password</label>
        <div class="c-password-input">
          <input
            class="c-text-input"
            minlength="8"
            id="confirmPassword"
            name="confirmPassword"
            type="password"
            required
          />
          <i class="fa-sharp fa-solid fa-eye c-password-input__password-eye" id="ShowPasswordEye"></i>
          <i
            class="fa-sharp fa-solid fa-eye-slash c-password-input__password-eye c-password-input__password-eye--hidden"
            id="HidePasswordEye"></i>
        </div>
        <span id="errorMessageConfirmPassword" class="c-form__error-message"
          ><i class="fa-solid fa-triangle-exclamation"></i>Passwords do not match</span
        >
      </div>

      <input
        type="submit"
        id="submitButton"
        class="c-button c-button--large c-button--semi-round c-button--primary c-button--primary--with-border c-button--full-width c-button--center-text u-margin-top-medium u-margin-top-small"
        value="Reset Password"
      />
    </form>
  </section>
</AuthenticationLayout>
