---
import DefaultLayout from "../../../layouts/DefaultLayout.astro";
---

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script defer>
  function recaptcha_callback() {
    var regsterBtn = document.getElementById("signUpButton");
    regsterBtn.removeAttribute("disabled");
  }
</script>

<DefaultLayout title="Sign up">
  <section class="login" id="first-section">
    <form id="signUpForm" onsubmit="return false">
      <h1>Sign Up</h1>
      <p class="u-margin-bottom-small">
        <a href="/pages/login/login.html" id="register-link">Log in to an existing account</a>
      </p>
      <div class="form__two-column u-margin-bottom-small">
        <div class="c-form__element c-form__element--small-margin">
          <label for="firstname" class="c-form__label">First Name</label>
          <input class="c-text-input" id="firstname" name="firstname" type="text" maxlength="94" required />
          <span id="errorMessageFirstName"
            ><i class="fa-solid fa-triangle-exclamation"></i>Please enter your first name</span
          >
        </div>
        <div class="c-form__element c-form__element--small-margin">
          <label for="lastname" class="c-form__label">Last Name</label>
          <input class="c-text-input" id="lastname" name="lastname" type="text" maxlength="94" required />
          <span id="errorMessageLastName"
            ><i class="fa-solid fa-triangle-exclamation"></i>Please enter your last name</span
          >
        </div>
      </div>
      <div class="c-form__element c-form__element--small-margin">
        <label for="displayname" class="c-form__label">Display Name</label>
        <span class="c-form__hint">This will be visible to other users.</span>
        <input class="c-text-input" id="displayname" name="displayname" type="text" maxlength="94" required />
        <span id="errorMessageDisplayName"
          ><i class="fa-solid fa-triangle-exclamation"></i>Please enter your display name</span
        >
      </div>
      <div class="c-form__element c-form__element--small-margin">
        <label for="email" class="c-form__label">Email Address</label>
        <input
          class="c-text-input"
          id="email"
          name="email"
          type="email"
          spellcheck="false"
          aria-describedby="email-hint"
          autocomplete="email"
          required
        />
        <span id="errorMessageEmail"><i class="fa-solid fa-triangle-exclamation"></i>Please enter a valid email</span>
        <span id="errorMessageEmailExists"
          ><i class="fa-solid fa-triangle-exclamation"></i>Email has already been used</span
        >
      </div>
      <div class="c-form__element c-form__element--small-margin">
        <label for="password" class="c-form__label">Password</label>
        <div class="password-container">
          <input class="c-text-input" minlength="8" id="password" name="password" type="password" required />
          <i class="fa-solid fa-eye passwordEye" id="ShowPasswordEye"></i>
          <i class="fa-solid fa-eye-slash passwordEye" id="HidePasswordEye"></i>
        </div>
        <span id="errorMessagePassword"
          ><i class="fa-solid fa-triangle-exclamation"></i>Password must meet requirements</span
        >
      </div>
      <div class="c-form__element">
        <div class="c-password-requirements">
          <ul>
            <li>
              <div class="checkMark" id="length">
                <i class="fa-solid fa-check"></i>
              </div>
              <p>Password must be 8+ characters</p>
            </li>
            <li>
              <div class="checkMark" id="upper">
                <i class="fa-solid fa-check"></i>
              </div>
              <p>Uppercase and lowercase letter (A z)</p>
            </li>
            <li>
              <div class="checkMark" id="number">
                <i class="fa-solid fa-check"></i>
              </div>
              <p>Numeric character (0-9)</p>
            </li>
            <li>
              <div class="checkMark" id="special">
                <i class="fa-solid fa-check"></i>
              </div>
              <p>Special character (!, %, @@, #, etc.)</p>
            </li>
          </ul>
        </div>
      </div>
      <!-- confirm password -->
      <div class="c-form__element c-form__element--small-margin">
        <label for="confirmPassword" class="c-form__label">Confirm Password</label>
        <div class="password-container">
          <input
            class="c-text-input"
            minlength="8"
            id="confirmPassword"
            name="confirmPassword"
            type="password"
            required
          />
        </div>
        <span id="errorMessageConfirmPassword"
          ><i class="fa-solid fa-triangle-exclamation"></i>Passwords do not match</span
        >
        <!-- Public -->
        <div
          class="g-recaptcha"
          data-sitekey="6LeiJF8iAAAAAO25BEZfbxbaSEaw55cShZLI761E"
          data-callback="recaptcha_callback"
        >
        </div>
        <!-- Local -->
        <!-- <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI" data-callback="recaptcha_callback"></div> -->
        <span id="errorMessageCaptcha"
          ><i class="fa-solid fa-triangle-exclamation"></i>Please verify you're not a robot</span
        >
        <div class="terms-section">
          <p>
            By signing up, you're agreeing to our <a href="../../termsAndConditions.html">Terms & Conditions</a> and
            <a href="../../PrivacyPolicy.html">Privacy Policy</a>
          </p>
        </div>
        <input
          type="submit"
          class="c-button c-button--large c-button--semi-round c-button--primary c-button--primary--with-border c-button--full-width c-button--center-text u-margin-top-medium"
          value="Sign Up"
          id="signUpButton"
          disabled
        />
      </div>
    </form>

    <script type="module" src="/scripts/signUp-TSBundle.js"></script>
    <script type="module" src="/scripts/passwordRequirements-TSBundle.js"></script>
  </section>
</DefaultLayout>
