---
import DefaultLayout from "../../../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Verify email">
  <section class="login u-margin-top-large u-margin-bottom-large" id="first-section">
    <h1>Verify Email</h1>
    <p class="verify">Please wait while we verify your email.</p>
  </section>

  <script type="module" src="/scripts/verifyEmail-TSBundle.js"></script>
</DefaultLayout>
