---
export interface Props {
  streamID: string;
}

const { streamID } = Astro.props;
---

<!-- Comments Section -->
<section class="c-comments-container c-container-x" data-stream={streamID} id="commentStreamContainer">
  <form class="add-comment-container" onsubmit="return false">
    <div class="add-comment-container-notAllowed">
      <a
        id="logInButton"
        class="c-button c-button--medium c-button--semi-round c-button--primary c-button--primary--with-border storeBackLink u-margin-right-small"
        href="/pages/login/login.html">Log In</a
      >
      <a
        id="signUpButton"
        class="c-button c-button--medium c-button--semi-round c-button--primary-secondary c-button--primary-secondary--with-border storeBackLink"
        href="/pages/login/signUp.html">Sign Up</a
      >
    </div>
    <textarea
      class="c-text-area"
      placeholder="Add a comment..."
      name="commentTextarea"
      id="commentTextarea"
      minlength="3"
      maxlength="120"
      required></textarea>
    <input type="submit" value="Publish" id="publishCommentButton" />
  </form>
  <div id="InsertCommentsContainer"></div>
  <div class="c-no-comments">
    <p>No comments yet.</p>
  </div>
</section>
