---
export interface Props {
  streamID: string;
}

const { streamID } = Astro.props;
---

<!-- Comments Section -->
<section class="comments-container" data-stream={streamID} id="commentStreamContainer">
  <h2 id="comments">Comments</h2>
  <div>
    <form class="add-comment-container" onsubmit="return false">
      <div class="add-comment-container-notAllowed">
        <a
          id="logInButton"
          class="c-button c-button--large c-button--semi-round c-button--primary c-button--primary--with-border storeBackLink u-margin-right-small"
          href="/pages/Login/login.html">Log In</a
        >
        <a
          id="signUpButton"
          class="c-button c-button--large c-button--semi-round c-button--primary-secondary c-button--primary-secondary--with-border storeBackLink"
          href="/pages/Login/signUp.html">Sign Up</a
        >
        <a
          id="verifyEmailButton"
          class="btn btn-purple-small btn-purple-small-warning storeBackLink"
          href="/pages/Login/verifyEmail.html">Verify Email</a
        >
      </div>
      <label for="commentTextarea">Enter your comment...</label>
      <textarea
        placeholder="Type your comment in here..."
        name="commentTextarea"
        id="commentTextarea"
        minlength="3"
        maxlength="120"
        required></textarea>
      <input type="submit" value="Publish" id="publishCommentButton" />
    </form>
  </div>
  <div id="InsertCommentsContainer"></div>
</section>
