---
---

<section class="c-container">
  <h1 id="contactme">Contact Me</h1>

  <div class="contact__form">
    <form name="contact" method="POST" data-netlify="true" class="c-form" id="form-contact" netlify>
      <!-- <ErrorSummary
        class="form__input-small"
        href="#email"
        title="There is a problem "
        message="Enter a correct email"
        example="example@example.com"
      /> -->

      <div class="c-form__element">
        <label for="name" class="c-form__label">Full name<span class="c-form__required">*</span></label>
        <input type="text" id="name" name="name" required class="c-text-input" required />
      </div>

      <div class="c-form__element">
        <label for="email" class="c-form__label">Email address<span class="c-form__required">*</span></label>
        <input type="email" id="email" name="email" required class="c-text-input" required />
      </div>

      <div class="c-form__element">
        <label for="message" class="c-form__label">Your message <span class="c-form__required">*</span></label>
        <span class="c-form__hint">Enter your message in the textbox below.</span>
        <textarea id="message" rows="8" form="form-contact" name="message" required class="c-text-area"></textarea>
      </div>

      <!-- Public -->
      <div
        class="g-recaptcha u-margin-top-small"
        data-sitekey="6LeiJF8iAAAAAO25BEZfbxbaSEaw55cShZLI761E"
        data-callback="recaptcha_callback"
      >
      </div>
    </form>
    <!-- Local -->
    <!-- <div
      class="g-recaptcha u-margin-top-small"
      data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
      data-callback="recaptcha_callback"
    >
    </div> -->

    <input
      value="Send Message  →"
      class="u-margin-top-medium c-button c-button--large c-button--semi-round c-button--primary c-button--primary--with-border"
      type="submit"
      id="postContactMeFormButton"
      disabled
    />
  </div>
  <div class="message-sent hidden">
    <h2>Message sent</h2>
    <svg class="tick" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
      <circle
        class="path circle"
        fill="none"
        stroke="#73AF55"
        stroke-width="6"
        stroke-miterlimit="10"
        cx="65.1"
        cy="65.1"
        r="62.1"></circle>
      <polyline
        class="path check"
        fill="none"
        stroke="#73AF55"
        stroke-width="6"
        stroke-linecap="round"
        stroke-miterlimit="10"
        points="100.2,40.2 51.5,88.8 29.8,67.5 "></polyline>
    </svg>
    <a href="#contactme" id="SendAnotherMessage">Send another</a>
  </div>
</section>
<script lang="js">
  function recaptcha_callback() {
    var postContactMeFormButton = document.getElementById("postContactMeFormButton");
    if (document.querySelector("form")) postContactMeFormButton.removeAttribute("disabled");
  }
</script>

<section class="contact u-margin-top-large"></section>
