---
---

<!-- Footer -->
<div class="c-strip">
  <h2>Need a website?</h2>
  <a
    href="/Get a quote/"
    class="c-button c-button--medium c-button--semi-round c-button--primary-secondary c-button--primary-secondary--with-border"
    aria-label="Aria label"
  >
    Get a quote today
  </a>
</div>

<footer class="c-footer">
  <div class="c-footer__head">
    <a class="c-footer__head-site-name" href="./index.html">elliotlafave.com</a>
    <div class="c-footer__head-links">
      <a href="/index">Home</a>
      <a href="/CV">CV</a>
      <a href="/portfolio">Portfolio</a>
    </div>
  </div>
  <div class="c-footer__body">
    <div class="c-footer__body-link-grid">
      <div class="c-footer__body-link-group">
        <a href="/pages/Login/login.html">Login</a>
        <a href="/pages/Login/signUp.html">Sign up</a>
        <a href="/account.html">My account</a>
      </div>
      <div class="c-footer__body-link-group">
        <a href="https://tools.elliotlafave.com/#/">Developer tools</a>
        <a href="https://uptime.elliotlafave.com/status/websites">Uptime</a>
        <a href="https://components.elliotlafave.com/">Component library</a>
        <a href="https://zeroheight.com/02f0b0962">Style guide</a>
      </div>
      <div class="c-footer__body-link-group">
        <a href="/Get a quote/">Get a quote</a>
        <a href="/pages/Articles/index.html">Articles</a>
        <a href="/contact-me.html">Contact me</a>
        <a href="/portfolio.html#all-projects">Projects</a>
      </div>
    </div>
    <div class="c-footer__body-social">
      <a
        href="https://www.linkedin.com/in/elliot-la-fave-4215b6222/?locale=es_ES"
        class="c-button c-button--medium c-button--square c-button--ghost"
        aria-label="Aria label"
      >
        <img src="/img/linkedin-brands.svg" alt="Linkedin Logo" />
        Linkedin
      </a>
      <a
        href="https://codepen.io/elliotlafave123"
        class="c-button c-button--medium c-button--square c-button--ghost"
        aria-label="Aria label"
      >
        <img src="/img/codepen-brands.svg" alt="Codepen Logo" />
        Codepen
      </a>
      <a
        href="https://github.com/elliotlafave123/elliotlafave123.github.io"
        class="c-button c-button--medium c-button--square c-button--ghost"
        aria-label="Aria label"
      >
        <img src="/img/github-brands.svg" alt="GitHub Logo" />
        GitHub
      </a>
    </div>
  </div>
  <div class="c-footer__branding">
    <div class="c-footer__branding-logo">
      <a href="/index.html"><img src="/img/logo.png" alt="Footer Logo" /></a>
      <p><i class="fa-sharp fa-regular fa-copyright"></i> <span id="currentYear">0000</span> Elliot La Fave</p>
    </div>
    <div class="c-footer__branding-links">
      <a href="https://elliotlafave.com/privacypolicy">Privacy policy</a>
      <a href="https://elliotlafave.com/termsandconditions">Terms of service</a>
      <a href="https://elliotlafave.com/cookiepolicy">Cookie policy</a>
    </div>
  </div>
</footer>
