---
---

<nav aria-label="Skip Links">
	<ul class="off-screen">
		<li>
			<a href="#navigation" class="skip-link"> Skip to Primary Navigation</a>
		</li>
		<li>
			<a href="#first-section" class="skip-link"> Skip to Primary Content</a>
		</li>
	</ul>
</nav>
<div class="signedInStrip" id="signedInStrip">
	<div>
		<p id="logOutButton">Log Out</p>
		<a href="/account.html">Account Details</a>
	</div>
</div>
<div class="signedInStrip signedInStrip-warning" id="signedInStripWarning">
	<span>Please verify your email address</span>
	<div>
		<a href="/Login/verifyEmail.html">Verify email</a>
	</div>
</div>
<!-- --- Navigation --- -->
<div class="navigation">
	<input type="checkbox" class="navigation__checkbox" id="navi-toggle" tabindex="-1" />
	<label for="navi-toggle" class="navigation__button"><span class="navigation__icon">&nbsp;</span></label>
	<div class="navigation__background">&nbsp;</div>

	<ul class="desktop__nav">
		<div class="logo">
			<a href="/index.html" id="navigation"><img src="/img/logo.png" alt="Logo" class="logo-img" /></a>
		</div>

		<div>
			<li class="desktop__nav-item deleteMobile">
				<div class="toggle-container">
					<img src="/img/icons/icon-sun.svg" alt="sun icon" class="toggle-container-sun" />
					<div>
						<input type="checkbox" id="checkboxSlider" class="toggle" tabindex="-1" />
						<label for="checkboxSlider" class="label" tabindex="0">
							<div class="ball"></div>
						</label>
					</div>
					<img src="/img/icons/icon-moon.svg" alt="moon icon" class="toggle-container-moon" />
				</div>
			</li>

			<li class="desktop__nav-item">
				<div class="link-wrapper">
					<a href="/index.html" class="link hover-12"><p class="link-text">Home</p></a>
				</div>
			</li>
			<li class="desktop__nav-item">
				<div class="link-wrapper">
					<a href="/CV.html" class="link hover-12"><p class="link-text">My CV</p></a>
				</div>
			</li>
			<li class="desktop__nav-item">
				<div class="link-wrapper">
					<a href="/portfolio.html" class="link hover-12"><p class="link-text">Portfolio</p></a>
				</div>
			</li>
		</div>
	</ul>

	<nav class="navigation__nav">
		<ul class="navigation__list">
			<li class="navigation__item">
				<a href="/index.html" class="navigation__link" tabindex="-1">Home</a>
			</li>
			<li class="navigation__item">
				<a href="contact-me.html" class="navigation__link" tabindex="-1">Contact Me</a>
			</li>
			<li class="navigation__item">
				<a href="/CV.html" class="navigation__link" tabindex="-1">My CV</a>
			</li>
			<li class="navigation__item">
				<a href="/portfolio.html" class="navigation__link" tabindex="-1">Portfolio</a>
			</li>
			<li class="navigation__item">
				<div class="toggle-container">
					<img src="/img/icons/icon-sun.svg" alt="sun icon" class="toggle-container-sun" />
					<div>
						<input type="checkbox" id="checkboxSlider" class="toggle" tabindex="-1" />
						<label for="checkboxSlider" class="label">
							<div class="ball"></div>
						</label>
					</div>
					<img src="/img/icons/icon-moon.svg" alt="moon icon" class="toggle-container-moon" />
				</div>
			</li>
		</ul>
	</nav>
</div>

<section class="logo mobile-only">
	<a href="/index.html" tabindex="-1"><img src="/img/logo.png" alt="Logo" class="logo-img mobile-only" /></a>
</section>
