<!-- Accessibility Menu -->
<nav class="c-accessibility-menu">
  <div class="c-accessibility-menu__item">
    <a href="#main" class="c-accessibility-menu__link">Skip to main content</a>
  </div>
</nav>

<!-- Mobile Menu Toggle -->
<button class="c-mobile-menu-toggle" aria-label="Open menu">
  <i class="fa-sharp fa-regular fa-bars"></i>
</button>

<!-- Main Header -->
<header class="c-header">
  <div class="c-header__top">
    <div class="c-header__logo">
      <a href="/" aria-label="Go to Home Page" class="c-header__logo-link">
        <img
          src="https://d33wubrfki0l68.cloudfront.net/de4eb2840bd995fff8693e59dfbff5e8f7036730/36519/img/logo.png"
          alt="Elliot Lafave Logo"
          class="c-header__logo-image"
        />
        <span>elliotlafave.com</span>
      </a>
    </div>
    <!-- Authentication -->
    <div aria-label="User Authentication Options" class="c-header__authentication" id="headerAuthLoggedOut">
      <a href="/pages/login/signup.html" class="c-header__authentication-link storeBackLink">Sign up</a>
      <a href="/pages/login/login.html" class="c-header__authentication-link storeBackLink">Log in</a>
    </div>
    <div class="c-header__authentication" id="headerAuthLoggedIn" style="display: none;">
      <a href="/account.html" class="c-header__authentication-link">My account</a>
      <a href="#" class="c-header__authentication-link" id="logoutLink">Log out</a>
    </div>
  </div>
  <div class="c-header__bottom">
    <!-- Navigation -->
    <nav class="c-header__navigation" aria-label="Main navigation">
      <ul class="c-header__navigation-list">
        <li class="c-header__navigation-item">
          <a href="/index.html" class="c-header__navigation-link">Home</a>
        </li>
        <li class="c-header__navigation-item">
          <a href="/CV.html" class="c-header__navigation-link">CV</a>
        </li>
        <li class="c-header__navigation-item is-primary">
          <a href="/portfolio.html" class="c-header__navigation-link"
            >Portfolio <i class="c-header__chevron fa-sharp fa-solid fa-chevron-down"></i></a
          >
          <ul class="c-header__navigation-list c-header__sub-navigation">
            <li class="c-header__navigation-item">
              <a href="/portfolio.html#ProjectsAppContainer" class="c-header__navigation-link">Projects</a>
            </li>
          </ul>
        </li>
        <li class="c-header__navigation-item is-primary">
          <a href="/pages/Articles/index.html" class="c-header__navigation-link"
            >Articles <i class="c-header__chevron fa-sharp fa-solid fa-chevron-down"></i></a
          >
          <ul class="c-header__navigation-list c-header__sub-navigation">
            <li class="c-header__navigation-item">
              <a href="/pages/Articles/Personal/index.html" class="c-header__navigation-link">Personal</a>
            </li>
            <li class="c-header__navigation-item">
              <a href="/pages/Articles/GMC Work/index.html" class="c-header__navigation-link">Work</a>
            </li>
          </ul>
        </li>
        <li class="c-header__navigation-item">
          <a href="/contact-me.html" class="c-header__navigation-link">Contact</a>
        </li>
      </ul>
    </nav>
    <!-- Dark Mode Toggle -->
    <div class="toggle-container">
      <span id="sunIcon" aria-hidden="true"><i class="fa-sharp fa-regular fa-sun"></i></span>
      <input type="checkbox" id="checkboxSlider" class="toggle" tabindex="0" aria-labelledby="sunIcon moonIcon" />
      <label for="checkboxSlider" class="darkModeLabel">
        <div class="ball"></div>
      </label>
      <span id="moonIcon" aria-hidden="true"><i class="fa-sharp fa-regular fa-moon"></i></span>
    </div>
  </div>
</header>
