---
---

<div class="c-accessibility-menu">
  <div class="c-accessibility-menu__item">
    <a href="#main" class="c-accessibility-menu__link">Skip to main content</a>
  </div>
</div>

<button class="c-mobile-menu-toggle" aria-label="Open menu">
  <i class="fa-sharp fa-regular fa-bars"></i>
</button>

<header class="c-header">
  <div class="c-header__top">
    <div class="c-header__logo">
      <a href="/" class="c-header__logo-link">
        <img
          src="https://d33wubrfki0l68.cloudfront.net/de4eb2840bd995fff8693e59dfbff5e8f7036730/36519/img/logo.png"
          alt="Elliot Lafave Logo"
          class="c-header__logo-image"
        />
        <p>elliotlafave.com</p>
      </a>
    </div>

    <div class="c-header__authentication">
      <a href="/pages/login/signup.html" class="c-header__authentication-link">Sign up</a>
      <a href="/pages/login/login.html" class="c-header__authentication-link">Log in</a>
    </div>
  </div>
  <div class="c-header__bottom">
    <nav class="c-header__navigation">
      <ul class="c-header__navigation-list">
        <li class="c-header__navigation-item">
          <a href="/index.html" class="c-header__navigation-link storeBackLink">Home</a>
        </li>
        <li class="c-header__navigation-item">
          <a href="/CV.html" class="c-header__navigation-link storeBackLink">CV</a>
        </li>
        <li class="c-header__navigation-item is-primary">
          <a href="/portfolio.html" class="c-header__navigation-link storeBackLink"
            >Portfolio <i class="c-header__chevron fa-sharp fa-regular fa-chevron-down"></i></a
          >
          <ul class="c-header__navigation-list c-header__sub-navigation">
            <li class="c-header__navigation-item">
              <a href="/portfolio.html#ProjectsAppContainer" class="c-header__navigation-link storeBackLink">Projects</a
              >
            </li>
          </ul>
        </li>
        <li class="c-header__navigation-item is-primary">
          <a href="/pages/articles/index.html" class="c-header__navigation-link storeBackLink"
            >Articles <i class="c-header__chevron fa-sharp fa-regular fa-chevron-down"></i></a
          >
          <ul class="c-header__navigation-list c-header__sub-navigation">
            <li class="c-header__navigation-item">
              <a href="/pages/Articles/Personal/index.html" class="c-header__navigation-link storeBackLink">Personal</a>
            </li>
            <li class="c-header__navigation-item">
              <a href="/pages/articles/gmc%20work/index.html" class="c-header__navigation-link storeBackLink">Work</a>
            </li>
            <li class="c-header__navigation-item">
              <a href="/pages/Articles/QA/index.html" class="c-header__navigation-link storeBackLink">Apprenticeship</a>
            </li>
          </ul>
        </li>
        <li class="c-header__navigation-item">
          <a href="/contact-me.html" class="c-header__navigation-link storeBackLink">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="toggle-container">
      <i class="fa-sharp fa-regular fa-sun"></i>
      <input type="checkbox" id="checkboxSlider" class="toggle" tabindex="-1" />
      <label for="checkboxSlider" class="darkModeLabel">
        <div class="ball"></div>
      </label>
      <i class="fa-sharp fa-regular fa-moon"></i>
    </div>
  </div>
</header>
