---
import ArticleInteractions from "../../../components/ArticleInteractions.astro";
import DefaultLayout from "../../../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Articles">
  <!-- Main Content -->
  <ArticleInteractions />

  <div class="c-container-x c-grid u-margin-bottom-medium">
    <a href="./GMC Work/index.html">
      <div class="link-card">
        <p>GMC Work</p>
        <i class="fa-solid fa-chevron-right"></i>
      </div>
    </a>
    <a href="./Personal/index.html">
      <div class="link-card">
        <p>Personal Work</p>
        <i class="fa-solid fa-chevron-right"></i>
      </div>
    </a>
  </div>
</DefaultLayout>
