---
import ArticleLayout from "../../../../../layouts/ArticleLayout.astro";
---

<ArticleLayout
  title="Prioritisation | Soft Skills"
  date="17/06/2022"
  time="16:29pm"
  streamID="633ec818c6bdedc1a0812580"
>
  <div class="article__section">
    <h2>How I prioritize work</h2>

    <div class="article__section">
      <p>
        In my role at the GMC we work using the agile methodology, this means that in a 2 week time period the team has
        a group of tasks and stories we need to complete within the sprint.
      </p>
      <p>
        This makes prioritizing tasks very important to ensure that you complete the necessary work in time to complete
        the goal of the current sprint.
      </p>
      <p>When prioritizing tasks, I usually check for:</p>
      <ul class="u-margin-bottom-medium">
        <li>How much time will the task take?</li>
        <li>Who will I need to speak to / work with on the task? (Check for suitable times)</li>
        <li>What do I need to learn to compete the task?</li>
        <li>How important is the task to the business?</li>
        <li>What is the deadline for the task?</li>
      </ul>
      <p>
        After I ask myself these questions, I can decide which tasks have the most importance to the business and work
        on tasks that I know I can do independently.
      </p>
      <p>
        By doing this I ensure that I always have something to do at work and I’m never left doing nothing. It also
        allows me to convey to my team what exactly I’m currently working on/learning and helps me plan around my team.
      </p>
    </div>
  </div>
</ArticleLayout>
