// colors

$color-primary:rgb(126, 213, 111);
$color-primary-light:rgb(85, 197, 122);
$color-primary-dark:rgb(40, 180, 133); 

$color-secondary-light:rgb(255, 185, 0);
$color-secondary-dark:rgb(255, 119, 48); 

$color-tertiary-light:rgb(41, 152, 255);
$color-tertiary-dark:#5643fa; 


$color-grey-light-1:rgb(241, 241, 241);
$color-grey-light-2:rgb(237, 237, 237);

$color-grey-dark:rgb(119, 119, 119); 
$color-grey-dark-2:rgb(153, 153, 153); 
$color-grey-dark-3:rgb(51, 51, 51); 


$color-white: rgb(255, 255, 255);
$color-black:rgb(0, 0, 0);

// Font

$font-size-defualt:1.8rem;


// GRID

$grid-width: 130rem;

$gutter-vertical:8rem;
$gutter-vertical-small:6rem;

$gutter-horizontal:5rem;