.btn {
    &,&:link, &:visited {   /** Pseudoelement for links **/
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.8rem 3.5rem;
        font-weight: 400;
        font-size: $font-size-defualt  ;
        display: inline-block;
        border-radius: 5rem;
        transition: all .2s; /** Edits transition speed **/
        position: relative;

        border:none; // buttons have a border by defualt.
        cursor: pointer;
    }

    &:hover {   /** hover pseudoclass **/
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,0.2);   /** box shadow property  (x y blur color) **/

        &::after {  
            transform: scale(1.4, 1.6);  /** Changes the size of the element **/
            opacity: 0;
        }
    }

    &:active {  /** clicked pseudoclass **/
        transform: translateY(-2px);
        box-shadow: 0 .5rem 1rem rgba($color-black,0.2);
    }

    &-white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after { 
            background-color: $color-white;
        }
    }

    &-green {
        background-color: $color-primary;
        color: $color-white;

        &::after { 
            background-color: $color-primary-dark;
        }
    }

    &::after {  /** add element behind button **/
        content: ""; /** must specify content for it to appear, can be empty **/
        display: inline-block;
        height: 100%;
        width:100%;
        border-radius: 5rem;
        position: absolute;
        top:0;
        left:0;
        z-index: -1;  /** Makes element behind previous element **/
        transition: all 0.4s;
    }   

    &-animated{
        animation: moveInBtn 1.2s ease-in-out .75s;
        animation-fill-mode: backwards; /** automatically hides btn **/
      }
}

.btn-text {
    &:link, &:visited {
        color:$color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        font-size: $font-size-defualt;
        font-weight: 500;
        transition: all 0.2s;
    }
    &:hover {
        background-color: $color-primary-light;
        color:$color-white;
        box-shadow: 2px 1rem 2rem rgba($color-black,0.2);
        transform: translate(0, -0.2rem);
    }
    &:active {
        transform: translate(0, -0.1rem);
        box-shadow: 1px 0.9rem 1.5rem rgba($color-black,0.15);
    }
}