body {
    font-family: "lato", sans-serif;  /** Used google fonts to import this font **/
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-primary {
    color:$color-white; 
    text-transform: uppercase; /** Makes all text UPPERCASE **/
    backface-visibility: hidden; /** Fixes animation moving unintentionally **/
    margin-bottom: 7rem;
  
    &--main {
      display: block;   /* takes up full available width */
      font-size: 7rem;
      font-weight: 500;
      letter-spacing: 3.5rem;
    
      animation-name: moveInLeft;   /** Import the animation by name **/
      animation-duration: 1.2s;   /** Animation Time **/
      animation-delay: 0s; /** Adds a delay to animation **/
      animation-timing-function: ease-out; /** Type of timing function (ease-out is slower at end of animation)**/

      @include respond(phone) {
        letter-spacing: 1rem;
        font-size: 5rem;
      }
    }
  
    &--sub {
      display: block;
      font-size: 2.4rem;
      font-weight: 500;
      letter-spacing: 1.8rem;
    
      animation: moveInRight 1.2s ease-out; /** Shorthand version of above animation **/

      @include respond(phone) {
        letter-spacing: .5rem;
      }
    }
  }

  .heading-secondary {
    display: inline-block;
    font-size:3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary, $color-primary-dark);
    color:transparent;               // makes the text color transparrent
    -webkit-background-clip:text;    // clips background to the shape of the text.
    background-clip:text;
    letter-spacing: 0.2rem;
    transition: all, 0.2s;    
    
    @include respond(tab-port) {
      font-size: 3rem;
    }

    @include respond(phone) {
      font-size: 2.5rem;
    }
    
    &:hover {
      transform: skew(2deg, 2deg) scale(1.1);    // skew tilts lext/imgages         // scale makes it bigger

      text-shadow: 0.5rem 1.4rem 2rem rgba($color-black, 0.4);      // box shadow for text
    }
}


.heading-tertiary {
  font-size: $font-size-defualt;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $font-size-defualt;
  font-weight: 400;

  &:not(:last-child) {
    margin-bottom: 4rem;
  }
}