---
import GenericButton from "../../components/GenericButton.vue";
import AuthenticationLayout from "../../layouts/AuthenticationLayout.astro";
---

<AuthenticationLayout title="Notifications">
  <div class="c-container">
    <div class="c-notification__header">
      <div class="c-notification__heading">
        <h1>Notifications</h1>
        <span class="c-notification__count" id="notifications-count">0</span>
      </div>
      <GenericButton withBorder="true" color="ghost-gray-text" id="markAllAsRead" button="true">
        Mark all as read
      </GenericButton>
    </div>

    <div id="notifications-container"></div>
  </div>
  <script type="module" src="/scripts/notificationsView-TSBundle.js"></script>
</AuthenticationLayout>
