<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - Spatial by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><strong><a href="index.html">Template</a></strong> Elliotlafave Development</h1>
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="contact.html">Contact Us</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>About Us</h2>
						<p>This is a short desctiption subtitle text paragraph</p>
					</header>

					<a href="#" class="image fit"><img src="images/pic01.jpg" alt="" /></a>
					<p>Some text some text paragraph text some paragraph writing stuff Some text some text paragraph text some paragraph writing stuff Some. Some text some text paragraph text some paragraph writing stuff Some text some text paragraph text some paragraph writing stuff Some. Some text some text paragraph text some paragraph writing stuff Some text some text paragraph text some paragraph writing stuff Some. Some text some text paragraph text some paragraph writing stuff Some text some text paragraph text some paragraph writing stuff Some. Some text some text paragraph text some paragraph writing stuff Some text some text paragraph text some paragraph writing stuff Some.</p>
					<p>Some text some text paragraph text some paragraph writing stuff Some text some text paragraph text some paragraph writing stuff Some. Some text some text paragraph text some paragraph writing stuff Some text some text paragraph text some paragraph writing stuff Some. Some text some text paragraph text some paragraph writing stuff Some text some text paragraph text some paragraph writing stuff Some. Some text some text paragraph text some paragraph writing stuff Some text some text paragraph text some paragraph writing stuff Some. Some text some text paragraph text some paragraph writing stuff Some text some text paragraph text some paragraph writing stuff Some. Some text some text paragraph text some paragraph writing stuff Some text some text paragraph text some paragraph writing stuff Some.</p>
					<p>Some text some text paragraph text some paragraph writing stuff Some text some text paragraph text some paragraph writing stuff Some. Some text some text paragraph text some paragraph writing stuff Some text some text paragraph text some paragraph writing stuff Some. Some text some text paragraph text some paragraph writing stuff Some text some text paragraph text some paragraph writing stuff Some. Some text some text paragraph text some paragraph writing stuff Some text some text paragraph text some paragraph writing stuff Some. Some text some text paragraph text some paragraph writing stuff Some text some text paragraph text some paragraph writing stuff Some. Some text some text paragraph text some paragraph writing stuff Some text some text paragraph text some paragraph writing stuff Some.</p>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook"></a></li>
						<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>Copyright&copy; Elliotlafave Development LTD</li>
						<li>Design: <a href="http://www.elliotlafave.com">Template</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>