<!DOCTYPE HTML>
<html>
	<head>
		<title>Template</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><strong><a href="index.html">Template</a></strong> Elliotlafave Development</h1>
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="contact.html">Contact Us</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Banner -->
			<section id="banner">
				<h2>Business Name</h2>
				<p>A short descripton of your business <br /> to capture the attention of clients.</p>
				<ul class="actions">
					<li><a href="contact.html" class="button special big">Contact Us</a></li>
				</ul>
			</section>

			<!-- One -->
				<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2>This is a long title</h2>
									<p>And a short paragraph below to give infomation</p>
								</header>
							</div>
							<div class="6u$ 12u$(medium)">
								<p>Some text some text paragraph text some paragraph writing stuff Some text some text paragraph text some paragraph writing stuff Some. Some text some text paragraph text some paragraph writing stuff Some text some text paragraph text some paragraph writing stuff Some.</p>
								<p>Some text some text paragraph text some paragraph writing stuff Some text some text paragraph text some paragraph writing stuff Some. Some text some text paragraph text some paragraph writing stuff Some text some text paragraph text some paragraph writing stuff Some.</p>
							</div>
						</div>
					</div>
				</section>

			<!-- Two -->
				<section id="two" class="wrapper style2 special">
					<div class="container">
						<header class="major">
							<h2>Some image cards</h2>
							<p>A short descrtiption for them</p>
						</header>
						<div class="row 150%">
							<div class="6u 12u$(xsmall)">
								<div class="image fit captioned">
									<img src="images/pic02.jpg" alt="" />
									<h3>A subtitle for the image</h3>
								</div>
							</div>
							<div class="6u$ 12u$(xsmall)">
								<div class="image fit captioned">
									<img src="images/pic03.jpg" alt="" />
									<h3>A subtitle for the image</h3>
								</div>
							</div>
						</div>
						<ul class="actions">
							<li><a href="about.html" class="button special big">Learn More</a></li>
							<li><a href="contact.html" class="button big">Contact us</a></li>
						</ul>
					</div>
				</section>

			<!-- Three -->
				<section id="three" class="wrapper style1">
					<div class="container">
						<header class="major special">
							<h2>These are some cards</h2>
							<p>Display infomation about your business here</p>
						</header>
						<div class="feature-grid">
							<div class="feature">
								<div class="image rounded"><img src="images/pic04.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Card A</h4>
										<p>Card A Subtitle text</p>
									</header>
									<p>Some text some text paragraph text some paragraph writing stuff Some text some text paragraph text some paragraph writing stuff Some.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="images/pic05.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Card B</h4>
										<p>Card B Subtitle text</p>
									</header>
									<p>Some text some text paragraph text some paragraph writing stuff Some text some text paragraph text some paragraph writing stuff Some.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="images/pic06.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Card C</h4>
										<p>Card C Subtitle text</p>
									</header>
									<p>Some text some text paragraph text some paragraph writing stuff Some text some text paragraph text some paragraph writing stuff Some.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="images/pic07.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Card D</h4>
										<p>Card D Subtitle text</p>
									</header>
									<p>Some text some text paragraph text some paragraph writing stuff Some text some text paragraph text some paragraph writing stuff Some.</p>
								</div>
							</div>
						</div>
					</div>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style3 special">
					<div class="container">
						<header class="major">
							<h2>Another title</h2>
							<p>More subtext to explain something</p>
						</header>
						<ul class="actions">
							<li><a href="contact.html" class="button special big">Get in touch</a></li>
						</ul>
					</div>
				</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook"></a></li>
						<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>Copyright&copy; Elliotlafave Development LTD</li>
						<li>Design: <a href="http://www.elliotlafave.com">Template</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>