/* 

0 - 600px: phone
600 - 900px: tablet-portrait
900 - 1200px: tablet-landscape
1200 - 1800px: normal syles apply
1800+: big desktop

*/
/*
$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

*/
.u-center-text {
  text-align: center; }

.u-margin-top-small {
  margin-top: 1.2rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-large {
  margin-top: 10rem; }

.u-margin-top-xlarge {
  margin-top: 12rem; }

.u-margin-bottom-small {
  margin-bottom: 1.2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-large {
  margin-bottom: 10rem; }

.u-margin-bottom-xlarge {
  margin-bottom: 12rem; }

*,
*::after,
*::before {
  /** Changes all in document (resets the defualts) **/
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /** Inherits border box from body **/ }

html {
  font-size: 62.5%;
  /** changes rem to 10px   (defualt is 16px)**/ }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  /** Change Box model so padding and width dont effect box size **/
  padding: 3rem; }
  @media (max-width: 37.5em) {
    body {
      padding: 0; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem);
    /** Animation starts with text -100px from original position **/ }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /** Ends animation in original position **/ } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
    /** Animation starts with text -100px from original position **/ }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /** Ends animation in original position **/ } }

@keyframes moveInBtn {
  0% {
    opacity: 0;
    transform: translateY(10rem);
    /** Animation starts with text -100px from original position **/ }
  100% {
    opacity: 1;
    transform: translate(0);
    /** Ends animation in original position **/ } }

body {
  font-family: "lato", sans-serif;
  /** Used google fonts to import this font **/
  font-weight: 400;
  line-height: 1.7;
  color: #777777; }

.heading-primary {
  color: white;
  text-transform: uppercase;
  /** Makes all text UPPERCASE **/
  backface-visibility: hidden;
  /** Fixes animation moving unintentionally **/
  margin-bottom: 7rem; }
  .heading-primary--main {
    display: block;
    /* takes up full available width */
    font-size: 7rem;
    font-weight: 500;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    /** Import the animation by name **/
    animation-duration: 1.2s;
    /** Animation Time **/
    animation-delay: 0s;
    /** Adds a delay to animation **/
    animation-timing-function: ease-out;
    /** Type of timing function (ease-out is slower at end of animation)**/ }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: 1.8rem;
    animation: moveInRight 1.2s ease-out;
    /** Shorthand version of above animation **/ }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  letter-spacing: 0.2rem;
  transition: all, 0.2s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skew(2deg, 2deg) scale(1.1);
    text-shadow: 0.5rem 1.4rem 2rem rgba(0, 0, 0, 0.4); }

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.8rem;
  font-weight: 400; }
  .paragraph:not(:last-child) {
    margin-bottom: 4rem; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-out; }
  .feature-box__icon {
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 6rem;
    height: auto; }
  .feature-box__text {
    font-size: 1.8rem; }
  .feature-box:hover {
    transform: translate(0, -2rem) scale(1.1); }

.btn, .btn:link, .btn:visited {
  /** Pseudoelement for links **/
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.8rem 3.5rem;
  font-weight: 400;
  font-size: 1.8rem;
  display: inline-block;
  border-radius: 5rem;
  transition: all .2s;
  /** Edits transition speed **/
  position: relative;
  border: none;
  cursor: pointer; }

.btn:hover {
  /** hover pseudoclass **/
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  /** box shadow property  (x y blur color) **/ }
  .btn:hover::after {
    transform: scale(1.4, 1.6);
    /** Changes the size of the element **/
    opacity: 0; }

.btn:active {
  /** clicked pseudoclass **/
  transform: translateY(-2px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-white {
  background-color: white;
  color: #777777; }
  .btn-white::after {
    background-color: white; }

.btn-green {
  background-color: #7ed56f;
  color: white; }
  .btn-green::after {
    background-color: #28b485; }

.btn::after {
  /** add element behind button **/
  content: "";
  /** must specify content for it to appear, can be empty **/
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /** Makes element behind previous element **/
  transition: all 0.4s; }

.btn-animated {
  animation: moveInBtn 1.2s ease-in-out .75s;
  animation-fill-mode: backwards;
  /** automatically hides btn **/ }

.btn-text:link, .btn-text:visited {
  color: #7ed56f;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #7ed56f;
  padding: 3px;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: white;
  box-shadow: 2px 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translate(0, -0.2rem); }

.btn-text:active {
  transform: translate(0, -0.1rem);
  box-shadow: 1px 0.9rem 1.5rem rgba(0, 0, 0, 0.15); }

.composition {
  position: relative; }
  .composition__photo {
    width: 65%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
    border-radius: 0.01rem;
    position: absolute;
    transition: all 0.15s;
    z-index: 1;
    outline-offset: 2rem; }
    @media (max-width: 75em) {
      .composition__photo {
        width: 40% !important; } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: -9rem;
      top: 2rem; }
      @media (max-width: 75em) {
        .composition__photo--p2 {
          right: 3rem; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      z-index: 4;
      transform: scale(1.1);
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5); }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    height: 55rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden; }
    .card__side--front {
      background: white; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #55c57a, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture-1 {
      background-image: url(../img/nat-5.jpg), linear-gradient(to right, #ffb900, #ff7730); }
    .card__picture-2 {
      background-image: url(../img/nat-6.jpg), linear-gradient(to right, #55c57a, #28b485); }
    .card__picture-3 {
      background-image: url(../img/nat-7.jpg), linear-gradient(to right, #2998ff, #5643fa); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 60%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.7), rgba(255, 119, 48, 0.7)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.7), rgba(40, 180, 133, 0.7)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.7), rgba(86, 67, 250, 0.7)); }
  .card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto; }
    .card__details ul li {
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem; }
      .card__details ul li:not(:last-child) {
        border-bottom: 2px solid #ededed;
        margin-bottom: 1rem; }
      .card__details ul li:first-child {
        margin-top: 1rem; }
  .card__cta {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .card__price-box {
    color: white;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  transform: skewX(-12deg);
  font-size: 1.8rem;
  text-align: left; }
  .story:not(:last-child) {
    margin-bottom: 10rem; }
  .story > * {
    transform: skewX(12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50%);
    shape-outside: circle(50% at 50%);
    -webkit-clip-path: circle(50% at 50%);
    clip-path: circle(50% at 50%);
    transform: translate(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden; }
  .story__img {
    height: 100%;
    transition: all 0.2s;
    transform: translateX(-3.5rem) scale(1.4);
    backface-visibility: hidden;
    transition: all 0.5s; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: white;
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 300;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story__img {
    transform: translateX(-3.5rem) scale(1);
    filter: blur(2px) brightness(90%); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rbga(white, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #7ed56f; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.8rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #7ed56f;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #7ed56f;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__close:link, .popup__close:visited {
    text-decoration: none;
    font-size: 4rem;
    color: #777777;
    position: absolute;
    top: 2rem;
    right: 4rem; }
  .popup__close:hover {
    color: #28b485; }
  .popup__content {
    width: 65vw;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: tabel;
    overflow: hidden; }
  .popup__left {
    width: 33.3333333333%;
    display: table-cell; }
  .popup__right {
    padding: 3rem 5rem;
    width: 66.6666666667%;
    display: table-cell;
    vertical-align: middle; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #f1f1f1;
    hyphens: auto; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: white;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 10;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer; }
  @media (max-width: 75em) {
    .navigation__button {
      right: 12rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#55c57a, #28b485);
  z-index: 5;
  transition: transform 0.8s cubic-bezier(0.65, 0, 0.35, 1); }
  @media (max-width: 75em) {
    .navigation__background {
      right: 12rem; } }
  @media (max-width: 56.25em) {
    .navigation__background {
      right: 12rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 3.2rem;
      right: 3.2rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  opacity: 0;
  width: 0;
  transition: all .8s; }

.navigation__list {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: 1.5rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 0.8rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 240%;
  transition: all 0.4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.4rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #28b485;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 100;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
  margin-left: 50%;
  transform: translateX(-50%); }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333333;
    display: inline-block; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s cubic-bezier(1, -0.01, 0.92, 0.51); }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.header {
  position: relative;
  /** Allows absolute positioned logo to be relative to the header parent **/
  height: 95vh;
  /** 95% of the viewport width **/
  background-image: linear-gradient(to right, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  /** ensures topo of image stays at the top of the parent **/
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  /** Creates an angular clip over the image. (x y, x y, x y, x y)  **/ }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
      /** Creates an angular clip over the image. (x y, x y, x y, x y)  **/ } }
  .header__logo-box {
    position: absolute;
    /** Relative to parent **/
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    /**  Center Textbox using positioning  **/
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /**  translate textbxs so it is exactly centered **/
    text-align: center; }

.row {
  max-width: 130rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 60rem; } }
  .row [class^="col-"] {
    float: left;
    padding: 1rem; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 5rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 5rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 5rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 5rem) / 3) + 5rem); }
  .row .col-1-of-4 {
    width: calc((100% - (5rem * 3)) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 5rem) / 4) + 5rem); }

.footer {
  background-color: #333333;
  padding: 10rem 0;
  font-size: 1.4rem; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid white;
    padding-top: 2rem;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none;
    padding-top: 1.4rem; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 2rem; }
  .footer__link {
    transition: all 0.3s; }
    .footer__link:link, .footer__link:visited {
      text-decoration: none;
      text-transform: uppercase;
      color: #f1f1f1;
      display: inline-block; }
    .footer__link:hover, .footer__link:active {
      color: #7ed56f;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
      transform: rotate(3deg) scale(1.2); }
  .footer__copyright {
    border-top: 1px solid white;
    padding-top: 2rem; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        text-align: center; } }

.section-about {
  background-color: #f1f1f1;
  padding: 30rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  margin-top: -10rem;
  transform: skewY(-6deg); }
  .section-features > * {
    transform: skewY(6deg); }

.section-tours {
  background-color: #f1f1f1;
  padding: 30rem 0 15rem 0;
  margin-top: -10rem; }

.section-stories {
  padding: 15rem 0;
  position: relative; }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #55c57a, #28b485); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0) 50%), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 2.2rem 10rem rgba(0, 0, 0, 0.4);
  height: 50rem;
  text-align: left; }
  .book__form {
    width: 50%;
    padding: 6rem; }
