---
import ArticleLayout from "../../../../../layouts/ArticleLayout.astro";
---

<ArticleLayout title="Login Audit API" date="17/07/2022" time="16:01pm" streamID="633d4dbc76066edc99546269">
  <div class="article__grid">
    <!-- Main Content -->
    <div class="article__section">
      <div id="Outline">
        <h2>The Software Outline</h2>

        <div class="article__section">
          <h3>User story</h3>

          <div class="article__user-story">
            <p>As a member of DTT</p>
            <p>I want to see when a user last logged into Sitecore</p>
            <p>So that I can manage Sitecore licences</p>
          </div>

          <div class="article__user-story">
            <h3>Acceptance criteria</h3>
            <p>AC1 - Data</p>
            <p>GIVEN I want to find out the last login date for all Sitecore users</p>
            <p>WHEN I run the report</p>
            <p>THEN the following information is returned for each Sitecore user as a csv file:</p>

            <ul class="u-margin-bottom-medium">
              <li>Full name</li>
              <li>Last login date</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="article__section">
        <div id="Approach">
          <h2>My approach</h2>
          <p>
            I started by learning basic C# syntax and got the basics of .NET Core 6 using the Microsoft documentation. I
            then took this knowledge and used my previous coding knowledge to build an application that takes the last
            login dates from my API and converts the resulting data into a csv file.
          </p>

          <p>
            This code loops over the data from the data that is returned from the API/getall endpoint and writes a line
            for each person:
          </p>
          <div class="article__image">
            <img src="../img/img1.png" alt="" class="articleImg" />
            <p>An image of Program.cs.</p>
          </div>

          <p>I created a model for the data that should be returned in the CSV file:</p>
          <div class="article__image">
            <img src="../img/img2.png" alt="" class="articleImg" />
            <p>An image of the data model.</p>
          </div>

          <p>
            I created an interface with methods to generate a CSV file with a unique name (using the system DateTime
            method), Add a title row to show what data is held in each column and a method to add a single line of data
            to the file:
          </p>
          <div class="article__image">
            <img src="../img/img3.png" alt="" class="articleImg" />
            <p>An image of the programs interface.</p>
          </div>

          <p>The methods are shown below and are stored in the .services folder:</p>
          <div class="article__image">
            <img src="../img/img4.png" alt="" class="articleImg" />
            <p>An image of the programs methods.</p>
          </div>
        </div>

        <div id="Tests">
          <p>
            Finally I created unit tests to check my program generated the correct results/data types and various other
            tests:
          </p>
          <div class="article__image">
            <img src="../img/img5.png" alt="" class="articleImg" />
            <p></p>
          </div>

          <p>
            In total I created a total of 8 tests to ensure my program works effectively and has no errors, the results
            of the tests can be seen below:
          </p>
          <div class="article__image">
            <img src="../img/img6.png" alt="" class="articleImg" />
            <p></p>
          </div>
        </div>

        <div id="Result"></div>
        <p>
          And the result of running the report is this CSV file which can be accessed using excel or any text editor:
        </p>
        <div class="article__image">
          <img src="../img/img7.png" alt="" class="articleImg" />
          <p></p>
        </div>
      </div>

      <div class="article__section">
        <div id="Challenges"></div>
        <h2>Challenges I overcame:</h2>
        <p>
          I had to figure out how to fetch the data from my API and how to parse the JSON response into usable data for
          my application to run. I did this using Stack Overflow and other forums along with the Microsoft C#
          documentation.
        </p>
        <p>
          I also had very little knowledge of unit testing so I used this project as a way to learn how to write basic
          tests to ensure my code works as it should. I learned about creating mock data using Xunit testing.
        </p>
        <p>
          I had to also figure out how to write lines to a file using System.IO and I used what I learned to write to
          the file and store the result in a set location (Output Folder).
        </p>
      </div>
    </div>
    <nav role="navigation" aria-label="Article Navigation" class="article__sidebar hide-mobile">
      <ol>
        <li><a href="#Outline">Outline</a></li>
        <li><a href="#Approach">My Approach</a></li>
        <li><a href="#Tests">Unit tests</a></li>
        <li><a href="#Result">Result</a></li>
        <li><a href="#Challenges">Challenges</a></li>
      </ol>
    </nav>
  </div>
</ArticleLayout>
