.c-radio-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.75rem;

  .c-radio-button {
    margin-bottom: 1rem;
    margin-right: auto;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
