.c-text-area {
  border: 1px solid $text-light;
  border-radius: 4px;
  background-color: transparent;
  color: $text-light;
  max-width: 100%;
  min-height: 88px;
  padding: 0.625rem;

  &:focus {
    border: 2px solid $color-primary;
    padding: 0.625rem;
  }

  &::placeholder {
    color: $text-light;
  }
}
