---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZFS3PHN0E0"></script>
  <script lang="js">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-ZFS3PHN0E0");
  </script>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="../image/png" href="../img/logo.png" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap"
    rel="stylesheet"
  />
  <script src="https://kit.fontawesome.com/8a5c25d94b.js" crossorigin="anonymous"></script>
  <meta
    name="description"
    content="Elliot La Fave's personal website and portfolio. A collection of all my work and my CV."
  />
  <meta
    name="keywords"
    content="Elliotlafave, Elliot, la, fave, web, design, cv, portfolio, projects, javascript, nodejs, manchester, astro, software, developer, apprentice"
  />
  <meta name="author" content="Elliot La Fave" />
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

  <!-- Apps -->
  <script defer src="/scripts/portfolioCards-TSBundle.js"></script>
  <script defer src="/scripts/comments-TSBundle.js"></script>
  <!-- Components -->
  <script defer src="/scripts/breadcrumb-TSBundle.js"></script>
  <script defer src="/scripts/header-TSBundle.js"></script>
  <script defer src="/scripts/footer-TSBundle.js"></script>
  <script defer src="/scripts/cookieBanner-TSBundle.js"></script>
  <!-- Forms -->
  <script defer src="/scripts/clientScreeningForm-TSBundle.js"></script>
  <script defer src="/scripts/contactForm-TSBundle.js"></script>
  <!-- Page Specific -->
  <script defer src="/scripts/cv-TSBundle.js"></script>
  <script defer src="/scripts/index-TSBundle.js"></script>
  <!-- Authentication -->
  <script defer src="/scripts/authenticationSystem-TSBundle.js"></script>
  <!-- Other -->
  <script defer src="/scripts/darkMode-TSBundle.js"></script>
  <!-- Authentication -->
  <script defer src="/scripts/auth-TSBundle.js"></script>

  <slot />

  <title>{title + " | Elliotlafave.com"}</title>
</head>
