---
import "../../public/css/style.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer/FooterBase.astro";
import BaseHead from "./BaseHead.astro";

export interface Props {
  title: string;
}

const env = import.meta.env.VITE_NETLIFY_ENV as string;
const isTestSubdomain = env === "test";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <BaseHead title={isTestSubdomain ? "Test - " + title : title} />
  <body>
    <p class="hidden" id="jsEnvironment">{env}</p>
    <Header />
    <main id="main">
      <nav class="c-breadcrumb c-breadcrumb__margin" id="breadcrumbNav"></nav>
      <slot />
    </main>
    <Footer />
  </body>
</html>
