html {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.whole_page::-webkit-scrollbar { 
  /* This is the magic bit */
  display: none;
}

h1 {
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
}

h2 {
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;  
  line-height: 2;
  letter-spacing: 1px;
  margin: 0px;
}


html {
  background-color: #FFFFFF;
}

body {
	margin: 0px;
}

/* ########################################           content           ######################################### */

#main_content {
	padding: 0;
	margin: 0px;
    width:100%;	
}

/* ########################################           Images           ######################################### */

img {
	width: 100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	max-height:100%;
}


/* ########################################           mobile/content           ######################################### */

@media only screen and (min-width: 0px) and (max-width: 600px) {
	h2 {
		font-size: 50px;
	}
	
	#main_content {
		padding: 0%;
		margin: 0px;
		width: 100%;	
	}
	
	img {
		width: 300%;
		display: block;	
		margin-left: auto;
		margin-right: auto;		
		height: 650px;
	}
}

@media only screen and (min-width: 1000px) and (min-width: 1120px) {
	img {
		height: 800px;
	}
}

@media only screen and (min-width: 601px) and (max-width: 700px) {
	h2 {
		font-size: 40px;
	}
}

@media only screen and (min-width: 701px) and (max-width: 800px) {
	h2 {
		font-size: 40px;
	}
}

@media only screen and (min-width: 801px) and (max-width: 900px) {
	h2 {
		font-size: 50px;
	}
}

@media only screen and (min-width: 901px) and (max-width: 1000px) {
	h2 {
		font-size: 50px;
	}
}

/* ########################################           Header           ######################################### */

ul {
	font-size: 17px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

#header_text {
		width: 100%;
		height: 50px;
		background-color: #FFFFFF;
		padding-bottom: 13px;
}

.website_logo .dotcom {
    color: #4CAF50;
	
}

.website_logo {
    text-decoration: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 30px;
    letter-spacing: 3px;
    color: #555555;
    display: block;
    position: absolute;
    top: 17px;
}

/* ########################################           Image containers           ######################################### */

.img_container {
	position: relative;
    text-align: center;
    color: #4CAF50;
	margin: 0; 
	height: 100%;
	overflow: hidden;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ########################################           Button containers           ######################################### */

.btn {
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.btn:hover {
    background-color: black;
}

/* ########################################           Footer           ######################################### */

#footer {
	width: 100%;
	min-height: 20px;
	background-color: #FFFFFF;
	font-size: 12px;
}



