html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
}


h1 {
  font-size: 45px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;  
  line-height: 2;
  letter-spacing: 1px;
  margin: 0px;
}


html {
  background-color: #FFFFFF;
}

body {
	margin: 0px;
}

#header {
	width: 100%;
	background-color: grey;
	height: 100px;
	padding-top: 30px;
}

#main_content {
	padding: 1%;
	margin: 0px;	
}

img {
}