<section class="default u-margin-top-large">
  <h3 class="skills__header u-margin-bottom-large" id="contactme">Get a quote</h3>

  <form name="contact" method="POST" data-netlify="true" class="c-form" netlify>
    <div class="c-form__element">
      <label for="name" class="c-form__label">Full name<span class="c-form__required">*</span></label>
      <input id="name" name="name" class="c-text-input" type="text" required />
    </div>

    <div class="c-form__element">
      <label for="email" class="c-form__label">Email address<span class="c-form__required">*</span></label>
      <input id="email" name="email" class="c-text-input" type="email" required />
    </div>

    <div class="c-radio-group">
      <label class="c-form__label">What type of work do you require?<span class="c-form__required">*</span></label>
      <label class="c-radio-button">
        <input
          id="new-project"
          aria-label="aria label for the radio 1"
          class="c-radio-button__hidden-radio"
          type="radio"
          name="project-type"
          value="new-project"
          required
        />
        <span class="c-radio-button__custom-button"></span>
        <span for="new-project" class="c-radio-button__text">New website/application</span>
      </label>
      <label class="c-radio-button">
        <input
          id="maintenance-project"
          aria-label="aria label for the radio 2"
          class="c-radio-button__hidden-radio"
          type="radio"
          name="project-type"
          value="maintenance-project"
          required
        />
        <span class="c-radio-button__custom-button"></span>
        <span for="maintenance-project" class="c-radio-button__text">Website redesign/maintenance</span>
      </label>
    </div>

    <div id="redesign">
      <div class="c-form__element">
        <label for="design-changes" class="c-form__label">What design changes or maintenance do you require?</label>
        <textarea id="design-changes" name="design-changes" class="c-text-area" rows="" maxlength=""></textarea>
      </div>

      <div class="c-form__element">
        <label for="website-builder" class="c-form__label">What website builder are you using?</label>
        <input id="website-builder" name="website-builder" class="c-text-input" type="text" required />
      </div>
    </div>

    <div id="newSite">
      <div class="c-radio-group">
        <label class="c-form__label">What type of software do you require?<span class="c-form__required">*</span></label
        >
        <label class="c-radio-button">
          <input
            id="website"
            aria-label="aria label for the radio 1"
            class="c-radio-button__hidden-radio"
            type="radio"
            name="website-or-application"
            value="website"
            required
          />
          <span class="c-radio-button__custom-button"></span>
          <span for="website" class="c-radio-button__text">Website</span>
        </label>
        <label class="c-radio-button">
          <input
            id="application"
            aria-label="aria label for the radio 2"
            class="c-radio-button__hidden-radio"
            type="radio"
            name="website-or-application"
            value="application"
            required
          />
          <span class="c-radio-button__custom-button"></span>
          <span for="application" class="c-radio-button__text">Application</span>
        </label>
      </div>

      <div class="c-form__element">
        <label for="type-of-project" class="c-form__label"
          >Describe the requirements for your <span class="js-siteorapp">project</span></label
        >
        <textarea id="type-of-project" name="type-of-project" class="c-text-area" rows="" maxlength=""></textarea>
      </div>

      <div class="c-radio-group">
        <label class="c-form__label"
          >Are you selling a product or a service?<span class="c-form__required">*</span></label
        >
        <label class="c-radio-button">
          <input
            id="product"
            aria-label="aria label for the radio 1"
            class="c-radio-button__hidden-radio"
            type="radio"
            name="product-or-service"
            value="product"
          />
          <span class="c-radio-button__custom-button"></span>
          <span for="product" class="c-radio-button__text">Product</span>
        </label>
        <label class="c-radio-button">
          <input
            id="service"
            aria-label="aria label for the radio 2"
            class="c-radio-button__hidden-radio"
            type="radio"
            name="product-or-service"
            value="service"
          />
          <span class="c-radio-button__custom-button"></span>
          <span for="service" class="c-radio-button__text">Service</span>
        </label>
      </div>

      <div class="c-form__element">
        <label for="target-market" class="c-form__label"
          >Who is the target market for your <span class="js-productOrService">project</span>?</label
        >
        <textarea id="target-market" name="target-market" class="c-text-area" rows="" maxlength=""></textarea>
      </div>

      <fieldset class="c-form__fieldset">
        <legend class="c-form__legend"
          >Does your <span id="js-siteorapp">project</span> need to store user or business data?</legend
        >
        <div class="c-checkbox-group">
          <label for="store-data" class="c-checkbox">
            <input id="store-data" type="checkbox" class="c-checkbox__hidden-input" name="store-data" value="" />
            <span role="checkbox" aria-labelledby="store-data" class="c-checkbox__marker"></span>
            <span class="c-checkbox__text">Yes, I need to store user or business data</span>
          </label>
        </div>
      </fieldset>

      <div class="c-form__element" id="user-data-input" style="display:none;">
        <label for="user-data" class="c-form__label"
          >What type of data do you need to store?<span class="c-form__required">*</span></label
        >
        <textarea id="user-data" name="user-data" class="c-text-area" rows="" maxlength=""></textarea>
      </div>
    </div>

    <div class="form__element">
      <label for="budget" class="c-form__label">What is your budget?<span class="c-form__required">*</span></label>
      <div class="c-select__container">
        <select id="selectId" name="budget" class="c-select">
          <option selected disabled hidden>Select an option</option>
          <option value="0-500">£0 - £500</option>
          <option value="500-1000">£500 - £1000</option>
          <option value="1000-2000">£1000 - £2000</option>
          <option value="2000-5000">£2000 - £5000</option>
          <option value="5000-10000">£5000 - £10000</option>
          <option value="10000+">£10000+</option>
        </select>
      </div>
    </div>

    <!-- Public -->
    <!-- <div
      class="g-recaptcha u-margin-top-small"
      data-sitekey="6LeiJF8iAAAAAO25BEZfbxbaSEaw55cShZLI761E"
      data-callback="recaptcha_callback"
    >
    </div> -->
    <!-- Local -->
    <!-- <div
      class="g-recaptcha u-margin-top-small"
      data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
      data-callback="recaptcha_callback"
    >
    </div> -->

    <input
      value="Get a quote"
      class="btn btn-purple-post u-margin-top-small"
      type="submit"
      id="postContactMeFormButton"
    />
  </form>
</section>

<script lang="js" defer>
  // function recaptcha_callback() {
  //   var postContactMeFormButton = document.getElementById("postContactMeFormButton");
  //   if (document.querySelector("form")) postContactMeFormButton.removeAttribute("disabled");
  // }

  const newProjectRadio = document.getElementById("new-project");
  const maintenanceProjectRadio = document.getElementById("maintenance-project");
  const newSiteSection = document.getElementById("newSite");
  const redesignSection = document.getElementById("redesign");

  // Hide the redesign section by default
  redesignSection.style.display = "none";
  newSiteSection.style.display = "none";

  newProjectRadio.addEventListener("change", () => {
    newSiteSection.style.display = "block";
    redesignSection.style.display = "none";
  });

  maintenanceProjectRadio.addEventListener("change", () => {
    newSiteSection.style.display = "none";
    redesignSection.style.display = "block";
  });

  const siteOrApp = document.querySelector(".js-siteorapp");
  const websiteRadio = document.getElementById("website");
  const applicationRadio = document.getElementById("application");

  function setSiteOrApp(text) {
    siteOrApp.textContent = text;
  }

  websiteRadio.addEventListener("change", () => {
    setSiteOrApp("website");
  });

  applicationRadio.addEventListener("change", () => {
    setSiteOrApp("application");
  });

  const productOrService = document.querySelector(".js-productOrService");
  const productRadio = document.getElementById("product");
  const serviceRadio = document.getElementById("service");

  productRadio.addEventListener("change", () => {
    productOrService.textContent = "Product";
  });

  serviceRadio.addEventListener("change", () => {
    productOrService.textContent = "Service";
  });

  const storeDataCheckbox = document.querySelector("#store-data");
  const userDataInput = document.querySelector("#user-data-input");

  storeDataCheckbox.addEventListener("change", (event) => {
    if (event.target.checked) {
      userDataInput.style.display = "flex";
    } else {
      userDataInput.style.display = "none";
    }
  });
</script>
